html {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	height: 100%;
	font-family: "Helvetica Neue";
	cursor: default;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://themes.googleusercontent.com/static/fonts/orbitron/v3/94ug0rEgQO_WuI_xKJMFc3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
  font-family: 'Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('HelveticaNeue-Condensed'), url(../fonts/HelveticaNeueLTStd-Cn.otf) format('opentype');
}

@font-face {
  font-family: 'Condensed-Light';
  font-style: normal;
  font-weight: 400;
  src: local('HelveticaNeue-LightCondensed'), url(../fonts/HelveticaNeueLTStd-LtCn.otf) format('opentype');
}

.table th, .table td {
	padding: 14px;
	border-color: #eaeaea;
}

.modal.fade.in {
	top: 40%;
}
.modal.narrow {
	width: 400px;
	margin: -250px 0 0 -200px;
}

a, a:visited {
	color: #555;
}

.list-health-cell {
	width: 36px;
	padding: 10px 0px 10px 14px !important;
}
.list-health-box {
	float: left;
	width: 36px;
	height: 36px;
	background-image: url(../img/health-icons-small.png);
}
.list-health-boxed {
	margin-left: 56px;
	line-height: normal;
	margin-top: 10px;
}

.list-health-boxed strong {
	font-size: 18px;
	color: #333;
}

#logo {
	background-image: url(../img/logo.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 200px;
	height: 60px;
	padding: 36px 0px;
	display: block;
}

#nav {
	padding: 0px 12px;
	width: 200px;
	background-color: #0f2647;
	position: fixed;
	height: 100%;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 8px;
}

#nav ul li {
	margin-bottom: 16px;
}

#nav ul li .nav-link {
	display: block;
	padding-left: 38px;
	color: #fff;
	text-decoration: none;
	background-image: url(../img/icons-large.png);
	background-repeat: no-repeat;
	line-height: 30px;
	font-weight: 200;
	font-size: 16px;
	letter-spacing: 0.07em;
}
#nav ul li .nav-link:hover {
	color: #61bed8;
	background-image: url(../img/icons-large-hover.png);
}

.nav-queries-list a {
	font-size: 11px;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 6px 0px 6px 30px;
	font-weight: 100;
	letter-spacing: 0.1em;
}
.nav-queries-list a:hover {
	text-decoration: underline;
}

.nav-dash {
	background-position: 0px 0px;
}
.nav-apps {
	background-position: 0px -30px;
}
.nav-flows {
	background-position: 0px -60px;
}
.nav-streams {
	background-position: 0px -90px;
}
.nav-datasets {
	background-position: 0px -120px;
}
.nav-queries {
	background-position: 0px -150px;
	margin-bottom: 8px;
}

#content {
	min-width: 1056px;
	max-width: 1456px;
	margin-left: 224px;
	background-color: #F0F1F1;
	position: relative;
	min-height: 100%;
	border-right: 4px solid #FAFAFA;
	margin-right: 32px;

}
#content-body {
	padding: 16px 0px;
	position: relative;
	border-top: 1px solid #fff;
}
#header {
	height: 36px;
	background-color: #8c9495;
	border-bottom: 1px solid #616a6b;
}
#global {
	float: right;
	padding: 3px;
}
.global-link {
	display: block;
	background-image: url(../img/global-icons.png);
	padding-left: 42px;
	background-repeat: no-repeat;
	float: right;
	border-left: 1px solid #BBB;
	line-height: 30px;
	font-size: 14px;
	color: white !important;
	text-decoration: none;
	padding-right: 14px;
	font-weight: 200;
	letter-spacing: 0.08em;
}
.global-dev {
	background-position: 8px -30px;
}
.global-user {
	background-position: 8px 0px;
	background-image: none;
	padding-left: 14px;
}
.global-help {
	background-position: 5px -60px;
	padding-right: 0;
	width: 0px;
	height: 30px;
	padding-left: 38px;
}

#breadcrumb {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 12px;
}
#breadcrumb li {
	float: left;
	line-height: 36px;
}
#breadcrumb li a {
	display: block;
	color: white;
	padding-right: 24px;
	padding-left: 14px;
	background-image: url(../img/breadcrumb-split.png);
	background-position-y: 0px;
	background-repeat: no-repeat;
	text-decoration: none;
	line-height: 36px;
	background-position-x: right;
	letter-spacing: 0.08em;
	font-size: 14px;
	font-weight: 200;
}

#title {
	margin: 0 24px;
	padding-right: 16px;
}
#title.guttered {
	padding: 0;
}
h1 {
	margin: 0;
	font-size: 25px;
	font-weight: 500;
	color: #505050;
	line-height: 32px;
	padding-bottom: 4px;
}
h1 span {
	color: #333;
	font-weight: 100;
	letter-spacing: 0.08em;
	margin-left: 4px;
}
.page-tabs {
	float: right;
	border-radius: 12px;
	overflow: hidden;
}
.page-tab {
	float: right;
	padding: 8px 12px;
	background-color: #dcdedf;
	color: #505050;
	font-size: 14px;
}
.page-tab.selected {
	background-color: #aaa;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
	color: #fff;
	border-radius: 12px 0px 0px 12px;
}
#panels {
	position: relative;
	margin: 0 24px;
	padding-top: 8px;
}
.panel {
	background-color: #fff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);
	border-radius: 2px;
	margin-bottom: 20px;
}
.panel-title {
	font-size: 28px;
	font-weight: 100;
	letter-spacing: 0.08em;
	line-height: normal;
}
.panel-head {
	padding: 15px 14px 15px;
	border: 1px solid #eee;
	border-top: 0;
}
.panel-control {
	float: right;
	line-height: 28px;
	padding: 12px 16px;
	color: #AAA;
}
.panel-empty {
	line-height: 64px;
	text-align: center;
	color: #aaa;
	font-size: 14px;
	padding-bottom: 48px;
}
.panel table td, .panel table th {
	border: 1px solid #EEE;
	border-bottom: 0;
	vertical-align: middle;
	border-width: 1px 0px;
}
.panel table tr {
	border: 1px solid #eee;
	border-width: 0px 1px;
}
.panel table th, .popup-container table th, 
	.sparkline-box-title, .drop-zone, .app-list-count span, .sparkline-box-value span
	 {
	border-top: 0;
	font-family: "Condensed";
	font-size: 12px;
	color: #77878b;
	text-transform: uppercase;
	
	padding: 2px 4px;
	font-weight: bold;
}
.app-list-count span {
	line-height: 1px;
	color: #9EAEB2;
}
.panel table th, .popup-container table th {
	padding: 3px 10px 0px;
}
#info {
	border: 2px solid #fff;
	margin: 8px 24px 8px;
	height: 88px;
}
.info-box {
	border-right: 2px solid #fff;
	height: 88px;
	float: left;
	padding: 0 16px;
	color: #aaa;
}
.info-box.health-box {

	background-image: url(../img/health-icons.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 60px;

}

.sparkline-list-value {
	float: right;
	width: 72px;
	border-left: 0;
	background-color: white;
	color: #555;
	font-weight: 300;
	text-align: center;
	overflow: hidden;
	font-size: 26px;
	padding-left: 5px;
	text-align: left;
	line-height: normal !important;
}
.sparkline-list-value span {
	font-size: 8px;
}
.sparkline-list-container {
	height: 34px;
	margin-right: 78px;
}
.sparkline-list-container-empty {
	text-align: center;
	font-family: condensed;
	text-transform: uppercase;
	line-height: 40px;
	color: #c5d1d4;
	text-align: left;
}
.sparkline-box-container {
	background-image: url(../img/sparkline-bg.png);
	height: 69px;
	margin-right: 81px;
	/*
	border-right: 1px solid #fff;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
	*/
}
.sparkline-box-container-white {
	background-image: url(../img/sparkline-bg-white.png);
	height: 81px;
	margin-right: 82px;
}
.sparkline-box-title {
	padding: 4px 6px;
	line-height: 14px;
	height: 11px;
}
.sparkline-box-value {
	float: right;
	width: 72px;
	height: 50px;
	font-weight: 300;
	font-size: 26px;
	padding-top: 38px;
	padding-left: 5px;
	color: #555;
	line-height: 14px;
	overflow: hidden;
}
.sparkline-box-value span {
	padding: 0;
	color: #9EAEB2;
	text-transform: uppercase;
}
.info-box.sparkline-box {
	width: 262px;
	padding: 0;
}

.sparkline-flowlet-box {
	border: 1px solid #83cce1;
}
.sparkline-flowlet-container {
	background-image: url(../img/flowlet-sparkline-bg.png);
	margin-right: 66px;
	height: 76px;
}
.sparkline-flowlet-title {
	margin-right: 64px;
	font-family: "Condensed";
	color: #FFF;
	text-transform: uppercase;
	padding: 4px;
	height: 14px;
	letter-spacing: 0.08em;
	font-size: 12px;
}
.sparkline-flowlet-value {
	width: 60px;
	height: 60px;
	float: right;
	border-left: 1px solid #83cce1;

	font-family: "Condensed";
	font-size: 23px;
	padding-top: 38px;
	padding-left: 5px;
	color: #FFF;
	overflow: hidden;
	line-height: 12px;
}
.sparkline-flowlet-value span {
	font-size: 10px;
	color: #a0d8e8;
}

.sparkline-loading .sparkline-list-value {
	background-image: url(../img/chart-loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

path.sparkline-data {
	stroke: #eea44c;
	stroke-width: 2;
	fill: none;
}
path.sparkline-area {
	fill: #e4e4e4;
	stroke: #e4e4e4;
	stroke-width: 2px;
}
.blue path.sparkline-data {
	stroke: #40AFD0;
}
.white path.sparkline-data {
	stroke: #fff;
}
.orange path.sparkline-data {
	stroke: #eea44c;
}

.sparkline-flowlet-container path.sparkline-area {
	stroke: #83CCE1;
	fill: #83CCE1;
}

line {
	stroke: black;
}

text {
	font-family: Arial;
	font-size: 9pt;
}
.info-box .drop-zone {
	margin: 17px 0px;
}
.drop-zone {
	width: 238px;
	color: #777;
	text-align: center;
	line-height: 52px;
	height: 50px;
	margin-right: 0;
	padding: 0;
	border: 3px dotted #CCC;
	border-radius: 3px;
	background-color: #e4e4e4;
}
.drop-zone a {
	color: #40AFD0;
}

.drop-zone.drop-zone-hover {
	background-color: #FCF8E3;
}
.drop-zone.drop-zone-loading {
	background-image: url(../img/deploy-loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
input {
	margin: 0 !important;
}

.guttered {
	margin-right: 286px !important;
}
.gutter {
	float: right;
	width: 248px;
	padding-right: 16px;
	padding-top: 36px;
}
.gutter h2 {
	color: #504B41;
	font-size: 16px;
	margin: 0;
	padding: 0px 4px 0px;
	font-weight: normal !important;
	border: 0;
	border-bottom: 1px solid #DDD;
}
.gutter p {
	padding: 4px;
	font-size: 12px;
	color: #808b8c;
}
.gutter-alert {
	color: #dc484a !important;
	font-weight: bold;
}
.dash-app-table {
	width: 100%;
	border: 1px solid #eff0ef;
}
.dash-app-resources {
	width: 100%;
}
.dash-app-resource {
	padding: 0 !important;
}
.dash-app-resource-count {
	border-left: 1px solid #eff0ef;
	border-bottom: 1px solid #eff0ef;
}
.dash-app-resource-usage {
	border-left: 1px solid #eff0ef;
}
.dash-app-title {
	font-size: 28px;
	font-weight: 100;
	letter-spacing: 0.08em;
	padding: 12px;
	height: 110px;
	color: #000;
}
.dash-app-title a {
	text-decoration: none;
}

.dash-app-resource {
	text-align: center;
	border-top: 0 !important;
}
.dash-app-resource a {
	background-image: url(../img/dash-entity-icons.png);
	line-height: 88px;
	padding-left: 56px;
	font-size: 56px;
	background-repeat: no-repeat;
	color: #555;
	font-weight: 300;
}
.dash-app-resource a:hover {
	text-decoration: none;
}
.dash-app-resource-health {
	

	border-right: 1px solid #EEE !important;
	padding-left: 16px !important;
	width: 76px;

	background-image: url(../img/health-icons.png) !important;
	background-repeat: no-repeat !important;
	background-position: center center;
	padding: 5px 0px;

}
.dash-app-resource-stream {
	background-position: 0px 0px;
}

.dash-app-resource-flow {
	background-position: 0px -64px;
}

.dash-app-resource-stream {
	background-position: 0px -130px;
}

.dash-app-resource-app {
	background-position: 0px -196px;
}
.dash-app-resource-query {
	background-position: 0px -258px;
}

.dash-app-resource-usage {
	font-family: "Condensed";
	color: #505050;
	font-size: 32px;
	text-align: center;
	padding: 3px;
	letter-spacing: 0.04em;
}
.dash-app-resource-usage span {
	font-size: 0.4em;
	letter-spacing: 0.0em;
	margin-left: 2px;
}
.dash-app-resource-alert {
	color: #dc484a !important;
}
.dash-app-trends {
	width: 100%;
	border-top: 1px solid #eaeaea;
}
.dash-app-sub {
	border-top: 1px solid #eff0ef;
	padding: 12px;
}

.dash-app-sub-title {
	font-family: "Condensed";
	font-size: 12px;
	color: #5c696c;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.dash-app-sub-health {
	margin-right: 100px;
	color: #aaa;
	padding: 24px;
	text-align: center;
	border: 1px solid #eee;
	background-color: #fafafa;
}
.dash-app-sub-busy {
	margin-right: 100px;
	color: #aaa;
	padding: 24px;
	text-align: center;
	border: 1px solid #eee;
	background-color: #fafafa;
}

.dash-app-sub-health-value {
	color: #dc484a;
	float: right;
	width: 84px;
	line-height: 64px;
	font-size: 32px;
	letter-spacing: 0.04em;
	font-family: "Condensed";
	
}
.dash-app-sub-health-value span {
	font-size: 0.4em;
	letter-spacing: 0.0em;
	margin-left: 2px;
}
.dash-app-sub-busy-value {
	float: right;
	width: 84px;
	line-height: 64px;
		font-size: 32px;
	letter-spacing: 0.04em;
	font-family: "Condensed";
	color: #505050;
}

.app-list-count {
	font-weight: 300 !important;
	font-size: 26px;
	text-align: center !important;
	width: 56px;
	color: #555;
	vertical-align: middle !important;
	line-height: 14px !important;
}
.app-list-name {
	overflow: hidden;
}
.app-list-name {
	line-height: 18px;
	font-size: 16px;
	font-weight: bold;
	line-height: 14px !important;
}
.app-list-name span {
	color: #333;
	font-size: 16px;
	font-weight: normal;
}
.app-list-name > .app-list-status {
	color: #40AFD0;
	font-size: 12px;
	text-transform: uppercase;
}
/*
 * Bootstrap Overrides
 */
.navbar-inner {
	padding: 0px 10px;
	background-color: #152c52;
	background-image: -webkit-linear-gradient(top, #152c52, #061c35) !important;
}
.navbar .nav > li > a {
	color: #b8c0cc;
}
.nav-pills > li > a {
	font-family: "Condensed";
	font-size: 12px;
	color: #77878B;
	text-transform: uppercase;
	line-height: 14px;
	height: 10px;
	letter-spacing: 0.1em;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover{
	background-color: #8C9495;
	border: 2px solid #A7B0B1;
	/*
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
	*/
	margin: 0px 2px;
	border-radius: 3px;
}
.nav-pills > li > a:hover {
	background-color: #41B0D1;
	color: #fff;
}
.nav-pills > li > a {
	padding: 7px 12px;
	margin: 2px 4px;
}

li a {
	cursor: pointer;
}
a.brand {
	width: 140px;
	height: 40px;
	padding: 0 !important;
	margin: 0 18px 0 0 !important;
	background-image: url(../img/logo-header.png);
}
.navbar .divider-vertical {
	background-color: #061c35;
	border-right: 1px solid #152c52;
}
#modal-from-dom {
	display: none;
}
.modal-footer .btn {
	margin :0;
}
.table {
	margin: 0;
}
.table-condensed td {
	line-height: 14px !important;
}
.panel td {
	padding: 10px;
}

.label {
	cursor: default
}
a strong {
	color: #555;
}
.navbar-inner .container {
	padding: 6px 0px 6px 6px;
}
.breadcrumb {
	padding: 4px 8px;
	margin: 0;
	margin-bottom: 12px;
}
#action-buttons {
	margin-top: 16px;
	padding-right: 0;
	line-height: normal;
	position: relative;
}

.btn {
	font-family: "Condensed";
	font-size: 12px;
	color: #77878B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 22px;
	height: 28px;
	font-size: 12px !important;
}
.btn-success, .btn-danger {
	color: #fff;
}

.create-btn {
	margin: 2px 0px 0px 8px;
}

#action-buttons .btn {
	margin-right:0;
	height: 56px;
	font-family: "Condensed";
	text-transform: uppercase;
	padding-top: 8px;
}

#action-buttons .btn-stop {
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto;
	background-image: url(../img/flow-controls.png);
	background-position: 0px 72px;
}
#action-buttons .btn-start {
	background-image: url(../img/flow-controls.png);
	background-position: 0px 0px;
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}
#action-buttons .btn-pause {
	background-image: url(../img/flow-controls.png);
	background-position: 0px 48px;
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}
#action-buttons .btn-drain {
	background-image: url(../img/flow-controls.png);
	background-position: 0px 24px;
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}


.btn-group.pull-right > .btn {
	float: right;
}
.btn-group.pull-right > .btn:first-child {
	margin-left: -1px;
	border-radius: 0;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.btn-group.pull-right > .btn:last-child {
	border-radius: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

/*
 * Rules
 */
#header {

}
#wrapper {
	min-width: 800px;
	padding: 12px 20px;
	margin: 0 auto 16px;
	max-width: 1240px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px 0px;
}
#footer {
	text-transform: uppercase;
	text-align: center;
	padding: 16px 10px;
	color: #999;
	font-size: 11px;
}
#footer a, #footer span {
	color: #777;
}
#navi {
	width: 156px;
	float: left;
}

#interstitial {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #F0F1F1;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 40;
	margin-top: 37px;
	padding-top: 100px;
}
#interstitial * {
	padding-top: 24px;
}
.product {
	font-size: 14px;
	text-align: right;
	width: 200px;
	color: #9baeca;

	text-transform: uppercase;
	font-family: 'Orbitron', sans-serif;
	font-weight: 100;

	margin: 13px 12px 0px 0px;
	background-position: top right;

}
.product.developer {
	background-image: url(../img/developer-product-header.png);
}
.product.cloud {
	background-image: url(../img/cloud-product-header.png);
}
.widget {
	border-radius: 5px;
	background-color: #fafafa;
	margin-bottom: 16px;
	padding-top: 6px;
}
.widget-header {
	font-size: 18px;
	margin: 0px 6px;
	padding: 6px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	background-color: #eee;
	font-weight: 200;
	color: #333;
}
.widget-header span {
	color: #999;
}
.widget-header i {
	vertical-align: bottom;
}
.widget-body {
	padding: 8px 12px 8px;
	font-size: 11px;
}
.widget-body-empty {
	padding: 16px;
	text-align: center;
}
.widget-body-empty.widget-chart {
	padding: 8px;
}
.widget-item {
	margin-bottom: 3px;
}
.widget-chart {
	border: 1px solid #ddd;
	background-color: #fff;
	margin: 6px 0px 12px;
}

.flow-state {
	float: right;
	padding-top: 32px;
	padding-right: 16px;
	width: 120px;
	text-align: right;
}
.flow-state strong {
	color: #40AFD0;
	font-size: 30px;
	font-weight: 500;
	font-family: "Condensed";
	line-height: normal;
	text-shadow: 0px 1px 0px white;
}
.flow-state span {
	font-size: 11px;
	color: #77878B;
	font-weight: bold;
}

#flowviz {
	margin: 0 auto;
	position: relative;
	padding: 24px 0px 48px;
	clear: left;
}
.flowviz-fade {
	opacity: 0.15;
}
#flowviz-container {
	margin-bottom: 12px;
	overflow: auto;
	overflow-y: hidden;
	padding: 16px 0px 16px 16px;
}
#flowviz path {
	stroke-dasharray: 2px, 2px;
	stroke: #8C9495;
	stroke-width: 2px;
}
.popup-modal {
	position: absolute;
	top: 160px;
	left: 0px;
	right: 0px;
	background-color: rgba(240, 241, 241, 0.8);
	z-index: 50;
	display: none;
	min-height: 700px;
}
.popup-container {
	width: 630px;
	margin: 32px auto 0;
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	padding: 8px 20px 15px 20px;
}
.popup-close {
	float: right;
	cursor: pointer;
	font-size: 22px;
	width: 22px;
	height: 22px;
	text-align: center;
	margin: -20px -30px 0px 0px;
	background-color: #616A6B;
	border-radius: 100%;
	color: white;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .35);
}
.popup-icon, .popup-icon-stream {
	float: left;
	width: 32px;
	height: 32px;
	background-image: url(../img/flowlet-types-white.png);
	margin: 16px 0px 0px 12px;
}
.popup-stream-table {
	border-top: 1px solid #eaeaea;
}
.popup-icon-stream {
	background-position: 0px 32px;
}
.popup-title {
	line-height: 36px;
	padding: 12px 0px 12px 52px;
}
.popup-title span {
	color: #AAA;
	font-weight: 100;
}
.popup-white-label {
	border-top: 0;
	font-family: "Condensed";
	font-size: 12px;
	color: #77878B;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 2px;
}
.popup-inject-wrapper {
	float: right;
	height: 27px;
	margin: 12px 0px;
	padding: 4px 0px;
}
#flowlet-popup-tabs {
	width: 100%;
	height: 36px;
	background-color: #EEE;
	border-radius: 3px 3px 0px 0px;
	overflow: hidden;
	border: 0;
}
.flowlet-popup-tab {
	float: left;
	width: 210px;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
}

.flowlet-popup-tab {
	background-color: #eaeaea;
}
.flowlet-popup-tab a {
	display: block;
	color: #505050;
	padding-right: 24px;
	padding-left: 14px;
	text-decoration: none;
	line-height: 36px;
	background-position-x: right;
	letter-spacing: 0.08em;
	font-size: 14px;
	font-weight: 200;
}
.flowlet-popup-tab a:hover {
	text-decoration: none;
}
.flowlet-popup-tab.tab-selected {
	background-color: #8b9395;
}
.flowlet-popup-tab.tab-selected a {
	color: #fff;
}

.flowlet-popup-tab-content {
	height: 214px;
	overflow: auto;
}
.flowlet-popup-tab-content td {
	padding: 4px;
}
.flowlet-popup-tab-content td.flowlet-blue {
	background-color: #41b0d1;
	width: 50%;
}

.flowlet-popup-empty {
	background-color: rgba(255, 255, 255, 0.9);
	line-height: 215px;
	text-align: center;

}

#flowlet-popup-tab-content {
	margin-bottom: 5px;
	border: 1px solid #EAEAEA;
	border-width: 0px 1px 1px 1px;
	border-radius: 0px 0px 3px 3px;
	overflow: hidden;
}
#flowlet-popup-inputs {
	background-image: url(../img/flowlet-background-input.png);
	background-position: top right;
	background-repeat: no-repeat;
}
#flowlet-popup-processed {
	
	display: none;
}
#flowlet-popup-outputs {
	display: none;
	background-image: url(../img/flowlet-background-output.png);
	background-position: top left;
	background-repeat: no-repeat;
}
.flowlet-popup-input {
	background-image: url(../img/flowlet-popup-input.png);
	line-height: 56px;
	color: white;
	text-align: center;
	width: 102px;
	background-repeat: no-repeat;
	background-position: center center;
	text-transform: uppercase;
	padding-right: 12px !important;
}
.flowlet-popup-input-contrib {
	background-image: url(../img/contrib-background.png);
	background-position: center left;
	font-family: "Condensed";
	font-size: 12px;
	color: #505050;
	padding: 0px 16px;
	text-transform: uppercase;
	margin: 4px 0px;
	height: 20px;
	line-height: 22px;
	text-align: center;
	width: 154px;
	cursor: pointer;
}
.flowlet-popup-input-contrib:hover {
	color: #8b9395;
}
.flowlet-popup-output {
	background-image: url(../img/flowlet-popup-input.png);
	line-height: 56px;
	color: white;
	text-align: center;
}
#flowlet-popup-tab-content .input-contributor {
	float: left;
	width: 100px;
	height: 100px;
}
#flowlet-popup-tab-content .input-stream {
	float: left;
	width: 100px;
	height: 100px;
}
#flowlet-popup-tab-content .input-queue {
	background-color: #41B0D1;
	margin-left: 300px;	
	height: 100px;
}

.flowletviz {
	position: absolute;
	top: 22px;
	left: 0px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	width: 215px;
	min-height: 130px;
	z-index: 30;
	padding: 10px;
	font-size: 11px;
	display: none;
}
.flowletviz i {
	cursor: pointer;
}
.flowletviz .section-header {

}
.flowletviz h4 {
	color: #061c35;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 4px;
	margin-bottom: 6px;
	padding: 0px 2px 4px;
	font-weight: 400;
}

.flowletviz h4 span {
	color: #999;
}
#stream-inject {
	width: 135px;
	margin: 0;
}
#far-upload {
	padding: 48px;
	text-align: center;
	margin: 0;
}
#far-upload a {
	text-decoration: underline;
}
#far-upload h3 {
	padding: 48px;
	border: 1px dashed #AAA;
	border-radius: 4px;
}
#informer {
	padding: 0px 0px 0px;
	position: absolute;
	width: 100%;
}
.alert-wrapper {
	overflow: hidden;
	display: none;
}
#sub-header {

}
#sub-header .alert {
	padding: 4px 12px;
	margin: 0;
}
.alert {
	margin: 0;
	overflow: hidden;
}

.query-response {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 300px;
	margin:0;
	overflow: auto;
	padding: 8px 12px;
}

#object-list {
	margin: 0 auto 12px;
	padding: 8px;
	color: #616A6B;
}
.object-list-empty {
	padding: 32px 48px;
	text-align: center;
	border: 1px solid #EEE;
	border-width: 0px 1px;
}
.object-list-empty a {
	text-decoration: underline;
}
.object-list-empty-content {
	margin: 0 auto;
	width: 280px;
	/*
	background-image: url(../img/empty-set.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	*/
	text-align: left;
	font-size: 14px;
	color: #8C9495;
	line-height: 14px;
	font-weight: 500;
	letter-spacing: 0.08em;

	border: 1px solid #efefef;
	border-radius: 3px;

	background-position: 68px 25px;
	background-color: #FDFDFD;
	padding: 25px 25px 22px 25px;

}
.object-list-empty-content span {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: normal;
}
h3 a {
	text-decoration: underline;
}
#content-header span {
	color: #ccc;
}
ol {
	margin: 0;
	padding: 0;
	padding-left: 32px;
}
#run-info {
	display: none;
}
.run-list {
	cursor: pointer;
	color: #8C9495;
}
.run-list-active {
	background-color: #F0F1F1;
	color: #505050;
}
/*
 * jsplumb
 */
.column {
	padding: 42px 36px 0px 70px;
	float: left;
}
.window { 

	color: #fff;
	text-transform: uppercase;

	border: 2px solid #fff;
	background-image: url(../img/flowlet-node-background.png);

	width: 108px;
	height: 108px;
	text-align:center;
	z-index:20; 

	font-family:helvetica;
	font-size:12px;
	float: left;
	cursor: pointer;
	clear: left;
	margin-bottom: 42px;

	position: relative;
}
.window:hover {

}
.window-1 {
	margin-top: 72px;
}
.window-2 {
	margin-top: 154px;
}
.window-3 {
	margin-top: 216px;
}
.window-input {
	height: 54px;
	position: absolute;
	background-image: url(../img/flowlet-input.png);
	top: 26px;
	left: -64px;
	line-height: 62px;
	text-align: center;
	padding-right: 10px;
	width: 72px;
	font-size: 20px;
	font-family: "Condensed";
}
.window-icon {
	height: 32px;
	width: 32px;
	margin: 27px auto 5px;
	background-image: url(../img/flowlet-types.png);
	background-position: 0px 0px;
}
.window-title {
	vertical-align: center;
	margin: 0px 12px;
	font-family: "Condensed";
	max-height: 32px;
	overflow: hidden;
	line-height: 12px;
}
.window-title span {
	color: #c5ecf4;
	line-height: 16px;
}
.window-value {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-shadow: 0px 1px #fff;
}
.window-instances {
	font-size: 10px;
	color: #777;
	text-shadow: 0px 1px #fff;
	text-transform: uppercase;
}
.window.source {
	background-image: url(../img/stream-shape.png) !important;
	background-color: white;
	border-radius: 0px;
	padding: 0;
	height: 108px;
	padding-right: 22px;
	width: 86px;
}
.window.source .window-input {
	background-image: url(../img/stream-input.png);
}
.window.source .window-icon {
	background-position: 0px 32px;
}

._jsPlumb_connector { z-index:1; }
._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel{ z-index:2; cursor:pointer; }
