<div class="row">
  <div class="col-xs-4">
    <h3>
      Containers
    </h3>
    <div>
      5
    </div>
  </div>
  <div class="col-xs-4">
    <h3>
      Reads
    </h3>
    <div class="row">
      <span class="col-xs-6">221K</span>
      <span class="col-xs-6">221K</span>
    </div>
  </div>
  <div class="col-xs-4">
    <h3>
      Writes
    </h3>
    <div class="row">
      <span class="col-xs-6">221K</span>
      <span class="col-xs-6">221K</span>
    </div>
  </div>
</div>

<br />
<my-flow-graph data-model="data"></my-flow-graph>
