<ul class="nav" ng-class="$navClass" role="tablist">
  <li ng-repeat="$pane in $panes track by $index" ng-class="$index == $panes.$active ? $activeClass + ' dropdown' : ''">
    <a role="tab" data-toggle="tab" ng-click="$index == $panes.$active ? activeTabClick($event) : $setActive($index)" data-index="{{ $index }}" class="dropdown-toggle">
      <span>
        <em ng-bind-html="$pane.title"></em>
        <span class="caret"></span>
      </span>
    </a>
  </li>
  <li>
    <a class="btn" title="add dashboard"
      ng-click="caskPrompt('New dashboard name', 'Dashboard '+(dashboards.length+1))"
      cask-promptable="addDashboard($value)">
      <span class="fa fa-plus"></span>
    </a>
  </li>
</ul>
<div ng-transclude class="tab-content">
</div>
