<div class="btn-group btn-group-xs" role="toolbar" no-drag>

  <a class="btn btn-default"
    title="rename widget"
    ng-click="caskPrompt('Widget name', wdgt.title)"
    cask-promptable="currentBoard.renameWidget(wdgt, $value)">
    <span class="fa fa-pencil"></span>
  </a>

  <a class="btn btn-default"
    title="remove widget"
    ng-click="caskConfirm()"
    cask-confirmable="currentBoard.removeWidget(wdgt)"
    data-confirmable-content="Really delete the widget?">
    <span class="fa fa-close"></span>
  </a>

</div>


<span ng-bind="wdgt.title"></span>
