<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2014 Cask Data, Inc.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
  -->

<!--                                                                         -->
<!-- AppFabric Logging Configuration                                         -->
<!--                                                                         -->
<!-- We use the LogBack project for logging in AppFabric. The manual for     -->
<!-- Logback can be found here: http://logback.qos.ch/manual                 -->
<!--                                                                         -->

<configuration>

    <!--
      Disabling some chatty loggers.
    -->
    <logger name="org.apache.commons.beanutils" level="ERROR"/>
    <logger name="org.apache.zookeeper.server" level="ERROR"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="com.ning" level="WARN"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.hive" level="WARN"/>
    <logger name="org.quartz.core" level="WARN"/>

    <appender name="Rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/cdap.log</file>
        <encoder>
            <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>logs/cdap.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50000KB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="Debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/cdap-debug.log</file>
        <encoder>
            <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>logs/cdap-debug.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50000KB</MaxFileSize>
        </triggeringPolicy>
    </appender>


    <appender name="Error" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="CLOG" class="co.cask.cdap.common.logging.logback.CAppender">              
        <layout>                      
            <!-- Note: we don't insert new line in the pattern as this is done on higher level (in old back-end) -->
            <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m</pattern>       
        </layout>
    </appender>

  <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/access.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/access.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  <logger name="http-access" level="TRACE" additivity="false">
    <appender-ref ref="AUDIT" />
  </logger>

  <appender name="EXTERNAL_AUTH_AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/external_auth_access.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/external_auth_access.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  <logger name="external-auth-access" level="TRACE" additivity="false">
    <appender-ref ref="EXTERNAL_AUTH_AUDIT" />
  </logger>

    <root level="DEBUG">
        <appender-ref ref="Rolling"/>
        <appender-ref ref="Debug"/>
        <appender-ref ref="Error"/>
        <appender-ref ref="CLOG"/>
    </root>

</configuration>
