@import "../variables.less";
@import "../../../bower_components/bootstrap/less/mixins.less";

@import "cdap/header.less";
@import "cdap/buttons.less";
@import "cdap/more.less";


body.theme-cdap {
  visibility: visible;

  .container {
    // http://getbootstrap.com/examples/non-responsive/
    width: 1170px !important;
  }

  main.container {
    margin-top: 80px;

    @media (max-width: @screen-sm-max) {
      > div { display: none; }
      &:before {
        font-size: 200%;
        margin-top: 1em;
        display: block;
        padding: 8px 15px;
        border-radius: 25px;
        background-color: @cdap-orange;
        color: white;
        content: "Please resize your browser!";
      }
      &:after {
        padding: 16px;
        font-style: italic;
        content: "Mobile devices are not supported.";
      }
    }


    h3, .h3 {
      margin: .4rem inherit;
    }

  } // end main.container

  footer {
    border-top: 1px dashed lighten(@cdap-orange, 33%);
  }

}
