

<ul class="dropdown-menu" role="menu">

  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="" ng-click="caskPrompt('Widget name', wdgt.title)" cask-promptable="currentBoard.renameWidget(wdgt, $value)">
      <span class="fa fa-fw fa-pencil pull-right"></span>
      Edit
    </a>
  </li>

  <li role="presentation">
    <a role="menuitem" tabindex="-1" href="" ng-click="caskConfirm()" cask-confirmable="currentBoard.removeWidget(wdgt)" data-confirmable-content="Are you sure you want to delete the widget '<strong>{{wdgt.title}}</strong>'?" title="remove widget">
      <span class="fa fa-fw fa-trash pull-right"></span>
      Delete
    </a>
  </li>

</ul>
