.feature-table {
  border-collapse: collapse;
  width: 100%;
  thead {
    border: 1px solid #dddddd;
    background-image: linear-gradient(#bdbdbd, white);
    th {
      padding: 10px 15px;
      text-align: left;
      font-weight: 500;
      color: #333333;
      font-size: 16px;
    }
  }
  tbody {
    td {
      padding: 8px 15px;
      border-bottom: 1px solid #d0d0d0;
      font-size: 14px;
    }
    tr {
      background-color: white;
    }
  }

  .view-link {
    color: #6f7c9d;
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
  }

  .disable-link {
    color: grey;
    text-align: left;
    pointer-events: none;
  }

  .center-align {
    text-align: center;
  }

  .right-padding {
    padding-right: 10px;
  }

  .status-success {
    color: #00c853;
  }

  .status-failed {
    color: red;
  }

  .status-deployed {
    color: grey;
  }

  .status-running {
    color: blue;
  }

  .clickable {
    cursor: pointer;
  }
}
