

<br>
<div class="panel panel-default">
  <div class="panel-heading">
    Audit Histogram
  </div>
  <div class="panel-body">
    <div style="width: 100%">
      <my-histogram model="DirectivePlayGround.auditLogCounts">
      </my-histogram>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Top Entity Graph 1
  </div>
  <div class="panel-body">
    <div style="width: 50%">
      <my-top-entity-graph model="DirectivePlayGround.topAppsData" type="apps">
      </my-top-entity-graph>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Top Entity Graph 2
  </div>
  <div class="panel-body">
    <div style="width: 50%">
      <my-top-entity-graph model="DirectivePlayGround.topAppsData2" type="apps">
      </my-top-entity-graph>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      My Popover Demo
    </div>
  </div>
  <div class="panel-body">
    <div class="btn btn-primary" data-title="My Title" data-template="'/old_assets/features/experimental/templates/popover/popover-template.html'" data-placement="right" my-popover>
      Sup
    </div>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Typeahead Tracker Tags
    </div>
  </div>
  <div class="panel-body">
    <my-typeahead-tracker-tags></my-typeahead-tracker-tags>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Marked down directive Demo
    </div>
  </div>
  <div class="panel-body">
    <textarea style="resize:vertical" rows="20" class="form-control" ng-model="markdown"></textarea>
    <div marked="markdown"></div>
  </div>
</div>
