.property-step-container {
  display: flex;
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 8px;
  .property-container {
    width: 30%;
    overflow: auto;

  }
  .schema-container {
    padding-left: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 70%;
    .column-selector-header {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 500;
      color: #333333;
      background: #eeeeee;
    }
    .schema-filter-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      padding-right: 10px;
      border-bottom: solid 1px lightgray;
      .input-group {
        width: 240px;
        input {
          padding-right: 30px;
        }
        .search-icon {
          margin-left: -20px;
          padding-top: 8px;
          z-index: 10;
          color: #888888;
        }
      }
    }

    .schemas {
      display: flex;
      flex-direction: row;
      overflow: auto;
      height: 95%;
      .schema {
        margin-right: 10px;
        min-width: 210px;
        border-radius: 3px;
        border: 1px solid #e1e1e1;
        .checklist-container {
          .list {
            .list-item {
              .check-box-container {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.accordion__title {
  padding: 5px 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
}

.accordion__body {
  padding: 5px 10px;
}

.list-header {
  font-size: 12px;
  font-weight: 500;
  background-color: #cedaff;
  margin: 0px -5px;
  padding: 4px 10px;
}

.list-header:hover {
  background-color: #97b0ff;
}

.list-header-selected {
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin: 0px -5px;
  padding: 4px 10px;
  background-color: #749af7;
}
