/* Start: mavenPro.css @import url(mavenPro.css); */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenProRegular'), url(http://themes.googleusercontent.com/static/fonts/mavenpro/v5/MG9KbUZFchDs94Tbv9U-pSZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Maven Pro Medium'), local('MavenProMedium'), url(http://themes.googleusercontent.com/static/fonts/mavenpro/v5/SQVfzoJBbj9t3aVcmbspRpS3E-kSBmtLoNJPDtbj2Pk.ttf) format('truetype');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Maven Pro Bold'), local('MavenProBold'), url(http://themes.googleusercontent.com/static/fonts/mavenpro/v5/uDssvmXgp7Nj3i336k_dSpS3E-kSBmtLoNJPDtbj2Pk.ttf) format('truetype');
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Maven Pro Black'), local('MavenProBlack'), url(http://themes.googleusercontent.com/static/fonts/mavenpro/v5/-91TwiFzqeL1F7Kh91APwZS3E-kSBmtLoNJPDtbj2Pk.ttf) format('truetype');
}
/* End: mavenPro.css */

/* Start: tables.css @import url(tables.css); */
/* used to remove borders from tables and images */
.borderless, table.borderless td, table.borderless th {
  border: 0 }

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em }

table.footnote {
  border-left: solid 1px black;
  margin-left: 1px }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0 }

/* "booktabs" style (no vertical lines) */
table.docutils.booktabs {
  border: 0px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}
table.docutils.booktabs * {
  border: 0px;
}
table.docutils.booktabs th {
  border-bottom: thin solid;
  text-align: left;
}

/* -- tables ---------------------------------------------------------------- */

table.docutils {
  border: 0;
  border-collapse: collapse;
}

table.docutils td, table.docutils th {
  padding: 1px 8px 1px 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #aaa;
}

table.borderless td, table.docutils th {
  padding: 1px 8px 1px 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

table.field-list td, table.field-list th {
  border: 0 !important;
}

table.footnote td, table.footnote th {
  border: 0 !important;
}

th {
  text-align: left;
  padding-right: 5px;
}

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px;
}

table.citation td {
  border-bottom: none;
}

/* End: tables.css */

* {
  margin: 0;
  padding: 0;
}

@page {
  size: landscape;
}

body {
  font: 100% MavenProRegular, "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

div.slide {
  min-width: 800px;
  min-height: 600px;
  padding: 1em;
  overflow: hidden;
  page-break-after: always;
  border: 1px solid black;
  border-radius: 20px;
}

div.slide div.inner {
  width: 800px;
  height: 600px;
  margin: auto;
  display: table-cell;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  margin: 1em 0;
}

ul {
  margin: 0;
  padding: 0;
}

p, li, pre {
  margin: 1em 0;
}

li {
    margin-left: 2em;
}

a {
    color: #000000;
}

pre, code {
    max-width: 800px;
    background: #eee;
    font-family: Monaco, monospace;
    font-size: 90%;
}

pre {
    padding: .2em .5em;
    overflow: hidden;
    border-radius: .8em;
}

code {
    padding: 0 .2em;
}

.slide header:only-child h1 h2 {
  line-height: 180%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 600px;
  width: 800px;
  font-size: 48px;
  margin-top:100px;
  margin-bottom:100px;
}
.slide.center_title_slide header:only-child h2 {
  line-height: 180%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 600px;
  width: 800px;
  font-size: 48px;
  margin-top:100px;
  margin-bottom:100px;
}

#toc, #help, .slide aside, .slide footer, .slide .notes,
.presenter_notes, #current_presenter_notes, #presenter_note {
  display: none;
}
