<div class="my-js-plumb">
  <div id="plumb-container">
    <div ng-repeat="plugin in MyPlumbController.plugins"
          class="box {{plugin.type}}"
          data-type="{{plugin.type}}"
          id="{{plugin.id}}">
      <div ng-click="MyPlumbController.onPluginClick(plugin.id, plugin.type)"
            class="icon fa {{plugin.icon}}"></div>
      <div class="plugin-name">{{plugin.name}}</div>
      <div class="fa fa-close" ng-click="MyPlumbController.removePlugin($index, plugin.id)"></div>

      <div class="error-node-notification"
            ng-if="MyPlumbController.nodesErrors()[plugin.id].length > 0"
            tooltip-html-unsafe="{{MyPlumbController.nodesErrors()[plugin.id]}}"
            tooltip-append-to-body="true"
            >
        <span class="badge badge-danger">
          <i class="fa fa-exclamation"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="error-container well" ng-if="MyPlumbController.canvasError().length > 0">
    <ul>
      <li ng-repeat="error in MyPlumbController.canvasError()">
        <strong ng-if="error.node">{{ error.node }}:</strong>
        <span>{{ error.message }}</span>
      </li>
    </ul>
  </div>
</div>
