<div ncy-breadcrumb></div>
<my-file-select class="pull-right" on-file-select="onFileSelected($files)"> </my-file-select>
<table class="table table-striped table-responsive" cask-sortable>
  <thead ng-class="{'sort-enabled': apps.length>0}">
    <tr>
      <th data-predicate="name" data-predicate-default="reverse"> Name </th>
      <th> Version </th>
      <th> Deployed </th>
      <th> Description </th>
      <th> Owner </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="app in apps | orderBy:sortable.predicate:sortable.reverse">
      <td >
        <a ui-sref="app-overview({ appId: app.id })"
           ng-bind="app.name"
            >
        </a>
      </td>
      <td ng-bind="app.version">  </td>
      <td ng-bind="app.deployed">  </td>
      <td ng-bind="app.description">  </td>
      <td ng-bind="app.owner">  </td>

    </tr>
  <tbody>
</table>
