*.class
.*.swp

# Package Files #
*.jar
*.war
*.ear

# Intellij Files & Dir #
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
out/
.DS_Store
./lib/
.idea

# Gradle Files & Dir #
build/
.gradle/
.stickyStorage
.build/
target/

# Node log
npm-*.log
logs/

# Singlenode run files. 
/data/

# gateway test leftover
/gateway/data/
/watchdog/data/

# Checkstyle report
examples/checkstyle_report.xml
