[submodule "cdap"]
	path = cdap
	url = ../cdap.git
	branch = release/6.11
[submodule "app-artifacts/hydrator-plugins"]
	path = app-artifacts/hydrator-plugins
	url = ../hydrator-plugins.git
	branch = release/2.13
[submodule "security-extensions/cdap-security-extn"]
	path = security-extensions/cdap-security-extn
	url = ../cdap-security-extn.git
	branch = release/0.20
[submodule "app-artifacts/delta"]
	path = app-artifacts/delta
	url = ../../data-integrations/delta.git
	branch = release/0.10
[submodule "app-artifacts/bigquery-delta-plugins"]
	path = app-artifacts/bigquery-delta-plugins
	url = ../../data-integrations/bigquery-delta-plugins.git
	branch = release/0.10
[submodule "app-artifacts/database-delta-plugins"]
	path = app-artifacts/database-delta-plugins
	url = ../../data-integrations/database-delta-plugins.git
	branch = release/0.10
[submodule "app-artifacts/datastream-delta-plugins"]
	path = app-artifacts/datastream-delta-plugins
	url = ../../data-integrations/datastream-delta-plugins.git
	branch = release/0.8
[submodule "app-artifacts/database-plugins"]
	path = app-artifacts/database-plugins
	url = ../../data-integrations/database-plugins.git
	branch = release/1.12
[submodule "app-artifacts/delta-transformation"]
	path = app-artifacts/delta-transformation
	url = ../../data-integrations/delta-transformation.git
	branch = release/0.6
[submodule "metricswriters-extensions/metrics-writer-extension"]
	path = metricswriters-extensions/metrics-writer-extension
	url = ../metrics-writer-extension.git
	branch = release/1.4
[submodule "eventwriters-extensions/events-writer-extension"]
	path = eventwriters-extensions/events-writer-extension
	url = ../events-writer-extension.git
	branch = release/1.4
