<div ncy-breadcrumb></div>
<a ui-sref=".create" class="btn btn-default"> Create Stream </a>
<table class="table table-striped table-responsive" cask-sortable>
  <thead>
    <tr ng-class="{'sort-enabled': streams.length>0}">
      <th data-predicate="name" data-predicate-default="reverse"> Name </th>
      <th> Type </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="stream in streams | orderBy:sortable.predicate:sortable.reverse">
      <td>
        <a ui-sref="streams.detail.overview({streamId: stream.name})"
            ng-bind="stream.name | caskCapitalizeFilter">
        </a>
      </td>
      <td ng-bind="stream.type">  </td>
    </tr>
  <tbody>
</table>
