<section class="data-apps">
  <div class="row">
  <div class="col-lg-6">
    <div class="clearfix">
      <h3 class="pull-left"> Apps </h3>
      <div class="btn-group pull-right">
        <a ui-sref="apps.list({namespace: 'ns1'})">
          <button class="btn btn-default fa fa-bars"> All Apps </button>
        </a>
        <a ui-sref="apps.list({namespace: 'ns1'})">
          <button class="btn btn-default fa fa-edit"> ETL </button>
        </a>
      </div>
    </div>
    <hr />
    <div class="list-group">
      <a class="list-group-item"
         ng-repeat="app in apps"
         ui-sref="apps.application({namespace: 'ns1', appId: app.id})">
        <strong ng-bind="app.name">  </strong>
        <div ng-bind="app.description"> </div>
      </a>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="clearfix">
      <h3 class="pull-left"> Data </h3>
      <div class="btn-group pull-right">
        <a ui-sref="apps.list({namespace: 'ns1'})">
          <button class="btn btn-default fa fa-bars"> All Datasets </button>
        </a>
        <a ui-sref="apps.list({namespace: 'ns1'})">
          <button class="btn btn-default fa fa-edit"> ETL </button>
        </a>
      </div>
    </div>
    <hr />
    <div class="list-group">
      <a class="list-group-item"
         ng-repeat="app in apps"
         ui-sref="apps.application({namespace: 'ns1', appId: app.id})">
        <strong ng-bind="app.name">  </strong>
        <div ng-bind="app.description"> </div>
      </a>
    </div>
  </div>
  </div>
</section>
