<div class="modal-header">
  <h3 class="modal-title">
    <span>Preview</span>
    <span class="fa fa-times-circle-o pull-right" ng-click="$close()"></span>
  </h3>
</div>
<div class="modal-body">
  <div class="table-responsive">
    <table class="table table-curved table-bordered">
      <thead>
        <th ng-repeat="head in schema">{{ head.name }}</th>
      </thead>

      <tbody>
        <tr ng-repeat="row in rows" ng-if="rows.length > 0">
          <td ng-repeat="column in row.columns track by $index">
            <span ng-if="column !== null">{{ column }}</span>
            <span ng-if="column === null">null</span>
          </td>
        </tr>
        <tr class="text-center" ng-if="rows.length === 0">
          <td colspan="{{ schema.length }}">No Result</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
