<div class="side-panel text-center"
      ng-class="{'expanded': MySidePanel.isExpanded === true, 'left': MySidePanel.placement === 'left', 'right': MySidePanel.placement === 'right'}">

  <div ng-if="MySidePanel.isExpanded == false"
        class="btn btn-info btn-block"
        ng-click="MySidePanel.isExpanded = true">
    <span class="fa fa-angle-double-right"></span>
  </div>
  <div ng-if="MySidePanel.isExpanded == true"
        class="btn btn-info btn-block"
        ng-click="MySidePanel.isExpanded = false">
    <span class="fa fa-angle-double-left"></span>
  </div>


  <div class="item"
        ng-repeat="group in MySidePanel.groups"
        ng-class="{'text-left': MySidePanel.isExpanded === true}"
        ng-click="MySidePanel.openGroup(group)">

    <div class="item-heading"
          ng-class="{'opened': MySidePanel.openedGroup === group.name }">
        <span class="{{group.icon}}"></span>
        <span class="name">{{group.name | caskCapitalizeFilter}}</span>
    </div>

    <div class="red-box">
      <span>Hello!!</span>
    </div>

    <div class="item-body"
          ng-class="{'text-left': MySidePanel.isExpanded === true}"
          ng-if="MySidePanel.isSubMenu === true && MySidePanel.openedGroup === group.name">
      <div ng-repeat="plugin in MySidePanel.panel.items"
            class="plugin-item"
            tooltip="{{plugin.name}}"
            tooltip-placement="right"
            ng-click="MySidePanel.onItemClicked($event, plugin)">
        <strong class="fa {{plugin.icon}}"></strong>
        <strong class="name">{{plugin.name}}</strong>
      </div>
    </div>

  </div>

</div>
