@import "../../styles/variables.less";
@import "../../../bower_components/bootstrap/less/mixins.less";
@import "../../styles/themes/cdap/mixins.less";

my-side-panel {
  .side-panel {
    position: fixed;
    top: 85px;
    z-index: 1025;
    width: 40px;
    background-color: white;
    transition: width 0.5s;
    transition-duration: 0.5s;

    &.left {
      left: 10px;
      .btn.btn-info.btn-block {
        text-align: left;
      }
      .item .item-heading {
        &.item-open {
          color: white;
        }
      }
    }

    &.right {
      .btn.btn-info.btn-block {
        text-align: right;
      }
      right: 10px;
    }

    .btn.btn-info.btn-block {
      background-color: white;
      border-bottom: 1px solid #DDD;
      color: @cdap-header;
      padding: 5px 10px;
      .border-radius(0);
      .fa {
        font-size: 11px;
        &:first-child {
          margin-right: -1px;
        }
      }
    }

    &.expanded {
      width: 100px;

      .item {
        .item-body, .item-heading {
          .name, .description {
            display: inline-block;
            vertical-align: top;
            max-width: 60px;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .item {
      border-bottom: 1px solid #DDD;
      color: #686C78;
      cursor: pointer;
      font-size: 11px;
      .transition(all 0.2s ease-in);
      .item-heading {
        height: 40px;
        padding: 12px 8px;
        vertical-align: middle;
        span {
          .name, &:last-child {
            line-height: 15px;
            vertical-align: text-bottom;
          }
          &.name {
            margin-left: 3px;
          }
          &:last-child {
            font-size: 8px;
          }
        }
        &.item-open {
          &.source {
            background-color: @adapter-source;
            + .item-body .plugin-item {
              color: @adapter-source;
            }
          }
          &.transform {
            background-color: @adapter-transform;
            + .item-body .plugin-item {
              color: @adapter-transform;
            }
          }
          &.sink {
            background-color: @adapter-sink;
            + .item-body .plugin-item {
              color: @adapter-sink;
            }
          }
        }
        .name, .description {
          display: none;
        }

        &.error {
          background-color: @brand-danger;
          color: white;
        }
      }


      .item-body {
        padding: 5px;
        background-color: #9A9EAA;

        .plugin-item {
          background-color: white;
          margin: 5px 0 10px;
          padding: 5px 5px;
          font-size: 12px;
          .border-radius(4px);
          &:first-child {
            margin-top: 4px;
          }
          &:last-child {
            margin-bottom: 4px;
          }
          > .fa {
            margin-right: 3px;
            text-align: center;
            width: 12px;
          }
        }
        .name, .description {
          display: none;
        }
      }
    }

    .tooltip.tooltip-red .tooltip-inner {
      background-color: @brand-danger;
    }
  }
}
