@import "../../styles/variables.less";

body.state-datasets-detail {

  section.explore {
    padding: @grid-gutter-width 0;

    h4.panel-title {
      cursor: pointer;
      > span.fa {
        margin-right: 10px;
      }
    }

  }

}