.configuration-step-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 8px;
}
