<div ng-hide="OverviewCtrl.welcomeIsHidden">
  <div class="panel panel-message">
    <a class="btn-close pull-right" ng-click="OverviewCtrl.hideWelcome()">
      <span class="fa fa-close"></span>
      <span class="sr-only"> Hide Welcome Message </span>
    </a>
    <div class="panel-body text-left">

      <div class="row">
        <div class="col-xs-12">
          <h2> <span class="text-uppercase"> Welcome! </span> <small> Your CDAP is designed to meet your needs, whether you are a developer, operator, or admin. </small></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <img src="assets/img/ico_simplify.png" />
          <div>
            <h3 class="text-uppercase"> Simplify... </h3>
            <p>
              your way to actionable <br />
              insights with Hadoop
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="assets/img/ico_innovate.png" />
          <div>
            <h3 class="text-uppercase"> Innovate... </h3>
            <p>
              with your existing talent and <br />
              domain experts on Hadoop
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="assets/img/ico_accelerate.png" />
          <div>
            <h3 class="text-uppercase"> Accelerate... </h3>
            <p>
              Time-to-Market and <br />
              Time-to-Value with Hadoop
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<h3> System Health </h3>
<section class="system-health"> <!-- ng-show="isEnterprise" -->
  <div class="divider"></div>
  <div>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <div>
          <a ui-sref="admin.system.services">
            <div class="row">
              <div class="col-xs-4">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <circle ng-if="OverviewCtrl.systemStatus === 'yellow'" cx="50" cy="70" r="30" fill="#f4b400" />
                    <circle ng-if="OverviewCtrl.systemStatus === 'red'" cx="50" cy="70" r="30" fill="#d15668" />
                    <circle ng-if="OverviewCtrl.systemStatus === 'green'" cx="50" cy="70" r="30" fill="#4ab63c" />
                  </svg>
                </div>
              </div>
              <div class="col-xs-8">
                <p ng-if="OverviewCtrl.systemStatus === 'yellow'">
                  Some services might have an issue.
                </p>
                <p ng-if="OverviewCtrl.systemStatus === 'red'">
                  All services are down.
                </p>
                <p ng-if="OverviewCtrl.systemStatus === 'green'">
                  All services are up and running.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-lg-8">
        <div class="row health-widgets">
          <div class="col-xs-12">
            <p class="text-center">
              <span> Errors last hour </span>
            </p>
          </div>
        </div>

          <div ng-controller="C3WidgetTimeseriesCtrl" ng-repeat="wdgt in OverviewCtrl.wdgts" class="health-widget">
            <span>{{wdgt.title}}</span>
            <c3-spline
              chart-metric="wdgt.formattedData"
              chart-metric-alias="wdgt.metricAlias"
              chart-settings="wdgt.settings"
              chart-size="chartSize"
              ></c3-spline>
            <div class="warning-alert">
              <div>
                <p> Warning </p><span class="warn"> {{wdgt.chartData.totals[1]}} </span>
                <p> Alert </p><span class="error"> {{wdgt.chartData.totals[0]}} </span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="data-apps">
  <div ng-include="'/assets/features/overview/templates/data-apps.html'"> </div>
</section>
