<div class="etlflowcontainer">
  <div class="row">
    <div class="col-xs-4">
      <div class="wrapper"
           drop="handleSourceDrop"
           id="sourceDropZone"
           ng-click="editSourceProperties()"
           droppable>
        <div class="template">
          <div>{{source.name}}</div>
        </div>
        <div class="default">
          <div>Drop to Add a Source</div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="wrapper transform-wrapper"
            drop="handleTransformDrop"
            id="transformDropZone"
            droppable>
        <div class="template transforms">
          <div class="default">
            <div>Drop To Add A Transforms</div>
          </div>
          <div ng-repeat="transform in transforms" ng-click="editTransformProperty(transform)">
            {{transform.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="wrapper"
            drop="handleSinkDrop"
            id="sinkDropZone"
            ng-click="editSinkProperties()"
            droppable>
        <div class="template">
          <div>{{sink.name}}</div>
        </div>
        <div class="default">
          <div>Drag &amp; Drop to Add a Sink</div>
        </div>
      </div>
    </div>
  </div>
</div>
