<div class="modal-header">
  <div class="modal-title">
    <h3> Editing Properties</h3>
  </div>
</div>
<div class="modal-body" >
  <form class="form-horizontal">
    <div class="panel-group" ng-model="activePanel" bs-collapse>

      <form class="form-horizontal">
        <div class="panel panel-default" id="{{transform.name}}" ng-repeat="transform in transforms">
          <div class="panel-heading clearfix" bs-collapse-toggle>
              <div class="panel-title">
                <span class="pull-left"> {{transform.name}}</span>
                <span class="pull-right">
                  <i class="fa fa-fw"
                     ng-class="{'fa-chevron-right': activePanel!== $index,
                             'fa-chevron-down': activePanel===$index}"></i>
                </span>
              </div>
          </div>
          <div class="panel-collapse" bs-collapse-target>
            <div class="panel-body">
              <div ng-repeat="property in transform.properties">
                <div class="form-group">
                  <label class="control-label col-sm-2"
                          for="{{property.value}}">{{property.name | caskCapitalizeFilter}}</label>
                  <div class="col-sm-10">
                    <input type="text"
                            class="form-control"
                            name="{{property.value}}"
                            id="{{property.value}}"
                            value="{{property.value}}"/>
                  </div>
                </div>
              </div>
              <div ng-if="!transform.properties || transform.properties.length === 0"
                   class="text-center">
                  <span> {{transform.name}} has no properties</span>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>

  </form>
</div>
<div class="modal-footer">
  <div class="button-group">
    <!--
      Both save and close are the same.
      Since we have 2-way binding we don't need to save anything.
      This is just for users to give a feeling that their edits have
      been saved
    -->
    <button type="button" name="button" class="btn btn-success" ng-click="$close()"> Save</button>
    <button type="button" name="button" class="btn btn-default" ng-click="$close()"> Cancel</button>
  </div>
</div>
