<ul class="dropdown-menu" role="menu">

  <li role="presentation" class="disabled">
    <a role="menuitem" tabindex="-1" href="">
      <span class="fa fa-dashboard"></span>
      Add widget
    </a>
  </li>

  <li role="presentation" class="divider"></li>

  <li role="presentation" class="disabled">
    <a role="menuitem" tabindex="-1" href="">
      <span class="fa fa-trash"></span>
      Delete dashboard
    </a>
  </li>

  <li role="presentation" class="disabled">
    <a role="menuitem" tabindex="-1" href="">
      <span class="fa fa-share-alt"></span>
      Share dashboard
    </a>
  </li>

</ul>
