<div class="btn-group pull-right">
  <button class="btn btn-default"
      ng-repeat="tab in tabs"
      ng-click="selectTab(tab)"
      ng-class="{'active': tab.title == activeTab.title}"
  >
    {{ tab.title }}
  </button>
</div>

<div class="mapreduce-components">
  <div class="row run-status">
    <div class="col-sm-6">
      <table class="table table-curved table-status">
        <thead>
          <th> Status </th>
          <th> Started </th>
          <th> Duration </th>
        </thead>
        <tbody>
          <td> {{info.state || 'Not Available'}} </td>
          <td> {{info.startTime || 'Not Available' | date: 'medium' }} </td>
          <td ng-show="info.stopTime !== 0"> {{ (info.stopTime - info.startTime) | amDurationFormat}} </td>
          <td ng-hide="info.stopTime !== 0"> N/A </td>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div ng-include="activeTab.template"></div>
