<div class="btn-group pull-right">
  <button class="btn btn-default"
      ng-repeat="tab in tabs"
      ng-click="selectTab(tab)"
      ng-class="{'active': tab.title == activeTab.title}"
  >
    {{ tab.title }}
  </button>
</div>

<div class="mapreduce-components">
  <div class="row run-status">
    <div class="col-sm-6">
      <div class="run-status-box row">
        <div class="col-sm-4 item">
          <div class="title"><strong>Status</strong></div>
          <div class="">{{info.state || 'Not Available'}}</div>
        </div>
        <div class="col-sm-4 item">
          <div class="title"><strong>Started</strong></div>
          <div class="">{{info.startTime || 'Not Available' | date: 'medium' }}</div>
        </div>
        <div class="col-sm-4 item">
          <div class="title"><strong>Duration</strong></div>
          <div class="" ng-show="info.finishTime !== 0">{{ (info.finishTime - info.startTime) | amDurationFormat}}</div>
          <div class="" ng-hide="info.finishTime !== 0">N/A</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="activeTab.template"></div>
