<div class="btn-group nested-tabs pull-right">
  <button class="btn btn-default"
      ng-repeat="tab in tabs"
      ng-click="selectTab(tab)"
      ng-class="{'active': tab.title == activeTab.title}"
  >
    {{ tab.title }}
  </button>
</div>

<div class="spark-components" ng-controller="SparkRunsDetailStatusController">
  <div class="row run-status">
    <div class="col-xs-6">
      <table class="table table-curved table-status">
        <thead>
          <tr>
            <th>Status</th>
            <th>Started</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td ng-bind="status"></td>
            <td ng-bind="startTime | amDateFormat: 'MM/DD/YY h:mm:ss a'"></td>
            <td ng-bind="duration*1000 | amDurationFormat"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br/>
<div ng-include="activeTab.template"></div>