<h1 class="adapter-name">
  <a ng-if="AdapterCreateController.metadata.name.length > 0"
      ng-click="AdapterCreateController.showMetadataModal()">
    {{AdapterCreateController.metadata.name}}
  </a>
  <a ng-if="AdapterCreateController.metadata.name.length === 0"
      ng-click="AdapterCreateController.showMetadataModal()">
    [Adapter Name]
  </a>
</h1>

<div ng-controller="CanvasController as PlumbController">
  <div ng-include="'/assets/features/adapters/templates/create/canvas.html'"></div>
</div>
