<div class="row">
  <div class="col-xs-8 col-md-8 text-left">
    <h2> My Pipelines </h2>
  </div>
  <div class="col-xs-4 col-md-4 h2">
    <div class="input-group pull-right">
      <input type="text" class="form-control" ng-model="ListController.searchText" placeholder="search...">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table" cask-sortable>
    <thead>
      <tr ng-class="{'sort-enabled': ListController.adaptersList.length>0}">
        <th data-predicate="name">Name</th>
        <th data-predicate="template">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="adapter in ListController.filtered = (ListController.adaptersList | filter: ListController.searchText ) | myPaginate:ListController.currentPage | orderBy:sortable.predicate:sortable.reverse">
        <td>{{adapter.name}}</td>
        <td>{{adapter.template}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-center" ng-if="ListController.filtered.length > 10">
  <pagination total-items="ListController.filtered.length" ng-model="ListController.currentPage"></pagination>
</div>
