<h2> Services </h2>

<h3>{{$state.params.serviceName | caskCapitalizeFilter}}</h3>

<table class="table">
    <tbody>
        <tr>
            <th>Instances:</th>
            <td>
                <table>
                    <thead>
                        <th>Provisioned</th>
                        <th>Requested</th>
                        <th>Request</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-bind="instances.provisioned"></td>
                            <td ng-bind="instances.requested"></td>
                            <td>
                                <input type="text" value="" />
                                <a class="btn btn-default">Set</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th>Name:</th>
            <td></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td ng-bind="description.description"></td>
        </tr>
        <tr>
            <th>ZooKeeper Path:</th>
            <td></td>
        </tr>
        <tr>
            <th>Host/Port:</th>
            <td>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>

