<h3> Services </h3>

<div ng-bind="service.name"></div>

<table class="table">
    <tbody>
        <tr>
            <td>Description</td>
            <td ng-bind="service.name"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td ng-bind="service.description"></td>
        </tr>
        <tr>
            <td>Zookeeper path</td>
            <td ng-bind="service.zookeeper"></td>
        </tr>
        <tr>
            <td>Host/port</td>
            <td>
                <table>
                    <tr ng-repeat="hp in service.hostPort">
                        <td ng-bind="hp.host"></td>
                        <td ng-bind="hp.port"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>

