

<form name="injectStreamForm" class="form" ng-submit="doInject($event)" novalidate>

  <div class="modal-header clearfix">
    <h3 class="modal-title stream-title pull-left"> {{streamId}} </h3>
    <a class="btn pull-right" ng-click="$close()">
      <span class="fa fa-remove"></span>
      <span class="sr-only"> Close </span>
    </a>
  </div>

  <div class="modal-body">

    <div class="alerts">
      <div class="alert alert-danger" ng-show="error" role="alert">
        <button type="button" class="close" ng-click="error=null" aria-label="Close">x</button>
        <span>{{error}}</span>
      </div>
    </div>

    <textarea class="flow-injector-input form-control" placeholder="Events injected here will be consumed by all attached programs." ng-model="userInput" ng-keyup="$event.keyCode == 13  && !$event.shiftKey? doInject($event) : null"></textarea>

  </div>

  <div class="modal-footer">
    <div class="pull-left">
      <my-file-select button-disabled="{{loading}}" data-button-label="Upload" on-file-select="uploadFile($files)">
    </my-file-select></div>

    <div class="pull-right">
      <button type="submit" ng-disabled="injectStreamForm.$invalid || loading" class="btn" ng-class="{'btn-primary': !injectStreamForm.$invalid && !loading }">Inject</button>
    </div>
  </div>

</form>
