.field-row {
  display: flex;
  padding-bottom: 10px;
  .name {
    width: 200px;
    border-radius: 0.25rem;
    line-height: 2.5;
    height: 32px;
  }
  .colon {
    height: 32px;
    padding: 4px 10px;
    color: grey;
  }
  .value {
    width: 250px;
    height: 32px;
  }
  .btn-margin {
    margin: 5px;
  }
}
