
<div class="row">
  <div class="col-xs-6">
    <h3> Configuration </h3>
  </div>
  <div class="col-xs-6">
  <div class="input-group pull-right search-bar h3">
      <input type="text" class="form-control" ng-model="searchText" placeholder="search...">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-curved" cask-sortable>
    <thead>
      <tr ng-class="{'sort-enabled': config.length>0}">
        <th data-predicate="key">Name</th>
        <th data-predicate="value">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in config | filter: searchText | orderBy:sortable.predicate:sortable.reverse">
        <td>{{row.key}}</td>
        <td>{{row.value}}</td>
      </tr>
    </tbody>
  </table>
</div>