<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Configuration </h3>
  </div>

  <div class="panel-body">
    <div class="input-group col-xs-4 pull-right search-bar">
      <input type="text" class="form-control" ng-model="searchText" placeholder="search...">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <br/>
    <table class="table table-responsive" cask-sortable>
      <thead>
        <tr ng-class="{'sort-enabled': config.length>0}">
          <th data-predicate="key">Name</th>
          <th data-predicate="value">Value</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="row in config | filter: searchText | orderBy:sortable.predicate:sortable.reverse">
          <td>{{row.key}}</td>
          <td>{{row.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
