<h2> Services </h2>

<div class="table-responsive">
  <table class="table table-curved" cask-sortable>
    <thead>
      <tr ng-class="{'sort-enabled': services.length>0}">
        <th data-predicate="name">Name</th>
        <th data-predicate="status">Status</th>
        <th data-predicate="provisioned">Provisioned</th>
        <th data-predicate="requested">Requested</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="service in services | orderBy:sortable.predicate:sortable.reverse">
        <td>
          <span ng-class="{'status-green': service.status === 'OK', 'status-grey': service.status === 'NOTOK'}"></span>
          <a ui-sref="admin.system.services.detail.metadata({serviceName:service.name})">
            <strong>{{ ::service.name }}</strong>
          </a>
        </td>
        <td>{{ ::service.status }}</td>
        <td>{{ ::service.provisioned }}</td>
        <td>{{ ::service.requested }}</td>
      </tr>
    </tbody>
  </table>
</div>

