*.class
.*.swp

# Package Files #
*.jar
*.war
*.ear

# Intellij Files & Dir #
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
out/
.DS_Store
lib/
.idea
data/

# Gradle Files & Dir #
build/
.gradle/
.stickyStorage
.build/
target/

# Node log
npm-*.log
logs/

# Singlenode run files. 
data/

# Include helloworld.jar resource
!src/test/resources/helloworld.jar
