<div class="span6">

<div class="widget">
	<div class="widget-header">
		<i class="icon-random"></i> <a href="#/applications/demoapp/flows/1">Twitter Zapper <span>Flow</span></a>
	</div>
	<div class="widget-body">
		<div id="chartel" class="widget-body-empty widget-chart">
		</div>
		<div id="chartel1" class="widget-body-empty widget-chart">
		</div>
		
	</div>
</div>

</div>

<div class="span6">

<div class="widget">
	<div class="widget-header">
		<i class="icon-list-alt"></i> Activity <span>Report</span>
	</div>
	<div class="widget-body">
		<div class="widget-body-empty">
			No Activity
		</div>
	</div>
</div>

<div class="widget">
	<div class="widget-header">
		<i class="icon-warning-sign"></i> Errors <span>Report</span>
	</div>
	<div class="widget-body">
		<div class="widget-body-empty">
			No Errors
		</div>
	</div>
</div>

<div class="widget">
	<div class="widget-header">
		<i class="icon-list-alt"></i> <a href="#">News</a>
	</div>
	<div class="widget-body">
		<div class="widget-item">
			<strong><a href="#/flows">API Version 1.0 Released</a></strong><br />
			Iphone +1 stumptown cliche wayfarers, mumblecore williamsburg brunch marfa odd future fixie.
		</div>
		<div class="widget-item">
			<strong><a href="#/flows">Continuuity Sponsoring Hadoop Summit</a></strong><br />
			Letterpress pinterest lomo, fixie marfa banksy pop-up mcsweeney's typewriter. Sriracha cliche next level.
		</div>
	</div>
</div>

<div class="widget">
	<div class="widget-header">
		<i class="icon-flag"></i> <a href="#">Questions</a>
	</div>
	<div class="widget-body">
		<div class="widget-item">
			<strong><a href="#/flows">How do I do this complicated thing?</a></strong><br />
			Filed in Things by <a>Don</a> 2 Hours Ago
		</div>
		<div class="widget-item">
			<strong><a href="#/flows">Will the API support this type of feature in the future?</a></strong><br />
			Filed in API by <a>Don</a> 1 Day Ago
		</div>
	</div>
</div>

</div>