<div class="btn-group pull-right" style="margin: 10px 10px 0px;">
  <button class="btn">Logs</button>
  <button class="btn">Add a Flow</button>
</div>
<h2 id="content-header">Twitter Demo <span>Application</span></h2>

<table class="table">
	<thead>
		<th colspan="2" style="width: 215px;">Flows</th>
		<th style="width: 118px;">Last Started</th>
		<th style="width: 118px;">Last Stopped</th>
		<th style="width: 32px;">Runs</th>
		<th colspan="2">&nbsp;</th>
	</thead>
	{{#each App.Controllers.Flows tagName="tbody"}}
	<tr>
		<td style="width: 18px;"><div class="btn-group"><button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">View Detail</a></li>
				<li class="divider"></li>
				<li><a href="#">Duplicate Flow</a></li>
				<li><a href="#">Upload New FAR</a></li>
				<li class="divider"></li>
				<li><a href="#">Delete Flow</a></li>
			</ul></div>
		</td>
		<td><a {{bindAttr href="href"}}><strong>{{name}}</strong></a></td>
		<td style="width: 140px;">{{lastStarted}}</td>
		<td style="width: 140px;">{{lastStopped}}</td>
		<td>{{runs}}</td>
		<td style="width: 84px;text-align: right;"><span {{bindAttr class="statusClass"}}>{{currentStatus}}</span></td>
		<td style="width: 64px;">
			<button {{action "exec" on="click"}} {{bindAttr flow-id="id"}} {{bindAttr flow-action="defaultAction"}} {{bindAttr class="defaultActionClass"}} style="padding: 4px 13px 4px;width: 60px;">{{defaultAction}}</button>
			</div>
		</td>
	</tr>
	{{/each}}
</table>
