<div id="sub-header">
	<div id="action-buttons" class="btn-group pull-right" style="width:200px;">
	  	<button class="btn" {{action "exec" on="click"}} {{bindAttr flow-action="current.defaultAction"}} {{bindAttr flow-app="current.meta.app"}} {{bindAttr flow-id="current.meta.name"}}>{{current.defaultAction}}</button>
	  	<button disabled="true" style="width: 82px;" {{bindAttr class="current.defaultActionClass"}}>{{current.currentState}}</button>
	</div>
	<h2 id="content-header">{{current.meta.name}} <span>Flow</span></h2>
	<ul class="breadcrumb">
		<li><a href="#"><i class="icon-home" /> </a><a href="#">All Flows</a> <span class="divider">/</span></li>
		{{#if run}}
			<li><a {{bindAttr href="current.href"}}>{{current.meta.name}}</a></li>
			<span class="divider">/</span></li>
			<li class="selected">{{run}}</li>
		{{else}}
			<li class="selected">{{current.meta.name}}</li>
		{{/if}}
		<li class="pull-right">
			{{#if current.meta.author}}
				By {{current.meta.author}} of {{current.meta.company}}
			{{/if}}
		</li>
	</ul>
	<div id="run-info" class="alert alert-info">
	</div>
</div>

<div id="flowviz-container" class="well">
<div id="flowviz" class="clearfix"></div>
</div>

<div id="object-list">
<table class="table table-condensed">
	<thead>
		<tr><th style="width: 215px;">Started</th>
		<th>Ended</th>
		<th style="width:250px;">Result</th>
	</tr></thead>
	{{#each history tagName="tbody"}}
		<tr style="cursor: pointer;" {{action "loadRun" on="click"}} {{bindAttr href="href"}}>
			<td>{{started}}</td>
			<td>{{ended}}</td>
			<td>{{endStatus}}</td>
		</tr>
	{{/each}}
</table>
</div>