
<i {{action hide on="click"}} class="icon-remove-sign pull-right" /><h4>{{current.name}}
<span>Flowlet</span></h4>
<div class="well" style="border: 1px solid #EDEDED;border-radius:4px;padding:4px 5px;margin-bottom:6px;">
	<strong>Class</strong>: {{current.classname}}<br />
	<strong>Instances</strong>: {{current.instances}}
</div>
<div style="border: 1px solid #EDEDED;border-radius:4px;">
	<table class="table table-condensed">
		<thead>
			<th>Stream</th>
			<th>Type</th>
			<th>Count</th>
		</thead>
		{{#each current.streams tagName="tbody"}}
		<tr>
			<td>{{id}}</td>
			<td>{{type}}</td>
			<td>{{metrics}}</td>
		</tr>
		{{/each}}
	</table>
</div>