
<div id="sub-header">
	<div id="action-buttons" class="btn-group pull-right">
	  <button class="btn" {{action "cancel" on="click"}}>Cancel</button>
	</div>
	<h2 id="content-header">Upload a Flow</h2>
	<ul class="breadcrumb">
		<li><a href="#">Flows</a> <span class="divider">/</span></li>
		<li class="selected">Upload</li>
	</ul>
	<div id="far-upload-alert" class="alert alert-error">
	</div>
</div>
<div id="far-upload" class="well">
	<h3 id="far-upload-status">Drop a *.jar file here to upload</h3>
</div>