@import "../../styles/variables.less";

body.state-streams-detail {

  section.explore {
    padding: @grid-gutter-width 0;

    h4.panel-title {
      cursor: pointer;
      > span.fa {
        margin-right: 10px;
      }
    }

    .panel-body > form {
      margin-bottom: 2em;
    }

    .panel-body {
      .col-xs-6:nth-child(2) {


        .sql-statement {
          min-height: 200px;
          padding: 10px 10px;
          background-color: white;
          border-radius: 5px;
          margin-bottom: 5px;
        }

        .results {
          overflow: scroll;
        }
      }
    }

  }

}