@import "../../styles/variables.less";

body.state-streams {
  .modal-body {
    .panel.panel-default {
      .panel-heading {
        cursor: pointer;
      }
      .panel-body {
        .form-group {
          .row {
            input {
              display: inline-block;
              width: 49%;
            }
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
