<div class="modal-header clearfix">
  <h4 class="modal-title pull-left">
    Modal Title - Program Status
  </h4>
  <div class="btn-group pull-right">
    <a class="btn"
        ng-if="RawLogsModalCtrl.windowMode === 'expand'"
        ng-click="RawLogsModalCtrl.toggleMaximizedView(false)">
        <span class="fa fa-compress"></span>
        <span class="sr-only"> Compress </span>
    </a>
    <a class="btn"
        ng-if="RawLogsModalCtrl.windowMode === 'regular'"
        ng-click="RawLogsModalCtrl.toggleMaximizedView(true)">
        <span class="fa fa-expand"></span>
        <span class="sr-only"> Expand </span>
    </a>
  </div>
</div>
<div class="modal-body">
  <pre>{{RawLogsModalCtrl.rawDataResponse}}</pre>
</div>