body.state-explore {

  .explore-tables {
    .panel-left {
      width: 25%;
      display: inline-block;
      vertical-align: top;
      float: left;
      margin-bottom: 15px;
      max-height: 299px;
      overflow-y: scroll;

      .table {
        margin: 0;
      }

    }

    .panel-right {
      width: 73%;
      display: inline-block;
      vertical-align: top;
      float: right;
      margin-bottom: 15px;

      .tab-content {
        max-height: 258px;
        overflow-y: scroll;

        .well {
          margin-top: 10px;
        }

        .table {
          margin-bottom: 0;
        }
      }
    }
  }

  .panel-explore {
    clear: both;
  }

}
