<div ncy-breadcrumb></div>

<h2>Explore</h2>

<section class="panel-group explore"
     ng-model="activePanel"
     bs-collapse>

  <!-- Choose Table -->
  <div class="table-responsive">
    <table class="table table-curved" cask-sortable>
      <thead>
        <tr ng-class="{'sort-enabled': dataList.length>0}">
          <th data-predicate="name">Name</th>
          <th data-predicate="type">Type</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="data in dataList | orderBy:sortable.predicate:sortable.reverse" ng-click="click(data)">
          <td>{{ ::data.name }}</td>
          <td>
            <img ng-if="data.type === 'Stream'" class="type-icon" src="assets/img/ico_stream_gray.png" alt="" />
            <img ng-if="data.type !== 'Stream'" class="type-icon" src="assets/img/ico_datasets_gray.png" alt="" />
            <span> {{ ::data.type }} </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- WRITE & EXECUTE SQL -->
  <div class="panel panel-explore">
    <div class="panel-heading">
      <h3 class="panel-title" bs-collapse-toggle>
        <span
          ng-class="{'fa-caret-right': activePanel!==0,
                     'fa-caret-down': activePanel===0}"
          class="fa fa-fw"
        ></span>Write &amp; Execute SQL
      </h3>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <div class="panel-body">
        <my-sql-query data-panel="activePanel" data-type="type" data-name="name"></my-sql-query>
      </div>
    </div>
  </div>

  <!-- VIEW QUERIES -->
  <div class="panel panel-explore">
    <div class="panel-heading">
      <h3 class="panel-title" bs-collapse-toggle>
        <span
          ng-class="{'fa-caret-right': activePanel!==1,
                     'fa-caret-down': activePanel===1}"
          class="fa fa-fw"
        ></span>View Queries
      </h3>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <div class="panel-body">

        <my-view-queries ng-if="activePanel === 1"></my-view-queries>

      </div>
    </div>
  </div>


</section>

