<div class="row">
  <div class="col-sm-2 control-label">
    Instances:
  </div>
  <div class="col-sm-10">
    <form class="form-inline">
        <label>
          Provisioned
          <br />
          <p class="form-control-static" ng-bind="instances.provisioned"></p>
        </label>
        <label>
          Requested
          <br />
          <input ng-placeholder="instances.requested" type="number" min="0" name="requested" class="form-control" ng-model="instances.requested"/>
        </label>
        <button type="button" class="btn btn-default" ng-disabled="instances.provisioned === instances.requested || processing" ng-click="handleSet()">Set</button>
        <span ng-if="processing" class="fa fa-refresh fa-spin"></span>
    </form>
  </div>
</div>