<div class="row">

  <div class="col-xs-2">
    <select class="form-control"
      ng-model="metric.type"
      ng-options="t for t in available.types"
      ></select>
  </div>

  <div class="col-xs-5">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-level-down"></i>
      </span>
      <input type="text" class="form-control"
        placeholder="Context"
        ng-model="metric.context"
        ng-options="c for c in available.contexts"
        data-watch-options="1"
        data-min-length="0"
        bs-typeahead />
    </div>
  </div>

  <div class="col-xs-5">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-line-chart"></i>
      </span>
      <input type="text" class="form-control"
        placeholder="Metric Name"
        ng-model="metric.name"
        ng-disabled="!metric.context"
        ng-options="m for m in available.metrics"
        data-watch-options="1"
        data-min-length="0"
        bs-typeahead />
    </div>
  </div>

</div>