.grid-header-box {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title-box {
    display: flex;
    flex-direction: column;
  }
  .subtitle {
    .subtitle-label {
      font-weight: 600;
      padding-right: 5px;
    }
    .pipeline-name {
      color: #150e9a;
    }
  }
  .left-margin {
    margin-left: 12px;
  }
}
