<div
  bs-active-pane="dashboards.activeTab"
  bs-tabs>

  <section
    data-title="{{dashboard.title}}"
    ng-repeat="dashboard in dashboards"
    bs-pane>

    <div class="row">

      <div ng-class="'col-sm-'+(12/dashboard.columns.length)"
        ng-repeat="column in dashboard.columns"
        ng-model="column.items"
        as-sortable="dragdrop">

        <div ng-repeat="item in column.items">
          <ng-include
            src="'assets/features/dashboard/widget.html'"
            ></ng-include>
        </div>

      </div>

    </div>

  </section>
</div>
