<div class="pull-right">
  <a class="btn btn-sm btn-warning" ng-click="addDashboard()">
    <span class="fa fa-plus"></span>
    add dashboard
  </a>
</div>

<div
  bs-active-pane="dashboards.activeTab"
  bs-tabs>

  <div
    data-title="{{dashboard.title}}"
    ng-repeat="dashboard in dashboards"
    bs-pane>

    <section class="text-right">

      <div class="btn-group btn-group-xs" role="toolbar">

        <a class="btn btn-default" ng-click="addWidget(dashboard)">
          <span class="fa fa-dashboard"></span>
          add widget
        </a>
        <a class="btn btn-default" ng-click="shareDashboard(dashboard)">
          <span class="fa fa-share-alt"></span>
          share dashboard
        </a>
        <a class="btn btn-default" disabled>
          <span class="fa fa-cube"></span>
          some other action
        </a>
      </div>

    </section>



    <section class="row">

      <div ng-class="'col-sm-'+(12/dashboard.columns.length)"
        ng-repeat="column in dashboard.columns"
        ng-model="column"
        as-sortable="dragdrop">

        <div class="panel panel-default"
          ng-repeat="wdgt in column"
          as-sortable-item>

          <div class="panel-heading"
            as-sortable-item-handle>

            <a class="pull-right btn btn-default btn-xs"
              title="remove widget"
              ng-click="rmWidget(wdgt)" no-drag>
              <span class="fa fa-close"></span>
            </a>

            {{wdgt.title}}
            <span class="badge" ng-bind="wdgt.badge"></span>
          </div>

          <div class="panel-body"
            ng-include="'assets/features/dashboard/widget.html'"
            ></div>

        </div>
      </section>

    </section>

  </div>
</div>
