<aside role="toolbar">
  <a class="btn btn-xs btn-info" ng-click="addDashboard()" title="add dashboard">
    <span class="fa fa-plus"></span>
  </a>
</aside>

<div
  bs-active-pane="dashboards.activeTab"
  bs-tabs data-template="assets/features/dashboard/partials/tab.html">

  <div
    data-title="{{dashboard.title}}"
    ng-repeat="dashboard in dashboards"
    bs-pane>

    <div class="row">

      <div ng-class="'col-sm-'+(12/dashboard.columns.length)"
        ng-repeat="column in dashboard.columns"
        ng-model="column"
        as-sortable="dragdrop">

        <div class="panel panel-default"
          ng-repeat="wdgt in column"
          as-sortable-item>

          <div class="panel-heading"
            ng-include="'assets/features/dashboard/partials/wdgt-head.html'"
            as-sortable-item-handle></div>

          <div class="panel-body"
            ng-include="'assets/features/dashboard/partials/wdgt-body.html'"
            ></div>

        </div>
      </div>

    </div>

  </div>
</div>
