@import "../../styles/variables.less";

body.state-dashboard {

  .widget {

    .panel-body {
      overflow-x: scroll;
    }

    &.widget-json {

      .panel-body {
        max-height: 333px;
        overflow-y: scroll;
      }

    }

  }



}