@import "../../styles/variables.less";

body.state-dashboard {

  .widget {

    .panel-body {
      overflow-x: scroll;
    }

    .widget-json {
      textarea {
        font-family: monospace;
        font-size: 10px;
        background-color: white;
        height: 300px;
      }
    }

  }



}