<div class="row">
  <div class="col-xs-6">
    <h3>
      <span> Apps </span>
    </h3>
  </div>
  <div class="col-xs-6 text-right">
    <div class="h3">

      <a ui-sref="apps.list" class="btn btn-default">
        <span class="fa fa-bars"></span>
         All Apps
      </a>

      <my-file-select ng-controller="AppsSectionCtrl" data-button-label="Add app" on-file-select="onFileSelected($files)"> </my-file-select>

    </div>
  </div>
</div>
<hr />
<div class="pre-scrollable">
  <div class="list-group">
    <a class="list-group-item"
       ng-repeat="app in apps"
       ui-sref="apps.detail.overview({appId: app.id})">
      <strong ng-bind="app.name">  </strong>
      <div><em ng-bind="app.description"> </em></div>
    </a>
  </div>
</div>
