<div class="clearfix">
  <h3>
    <span> Apps </span>
    <span class="btn-group pull-right">
      <a ui-sref="apps.list" class="btn btn-default">
        <span class="fa fa-bars"> </span>
         All Apps
      </a>
      <my-file-select ng-controller="AppsSectionCtrl" data-button-label="Add app" on-file-select="onFileSelected($files)"> </my-file-select>
      <a class="btn btn-default" ui-sref="apps.list" ng-disabled="true">
        <span class="fa fa-edit"> </span>
         ETL
      </a>
    </span>
  </h3>
</div>
<hr />
<div class="pre-scrollable">
  <div class="list-group">
    <a class="list-group-item"
       ng-repeat="app in apps"
       ui-sref="apps.detail.overview({appId: app.id})">
      <strong ng-bind="app.name">  </strong>
      <em> <div ng-bind="app.description"> </div> </em>
    </a>
  </div>
</div>
