<div class="row">
  <div class="col-sm-6">
    <div class="text-center">
      <h2>Data</h2>
      <div> Check status of your data here </div>
      <hr/>
      <a ui-sref="overview" class="btn btn-default btn-lg">
        <span class="fa fa-plus fa-2x"> </span>
        <div> Add Data </div>
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="text-center">
      <h2>Apps</h2>
      <div> Check status of your apps here </div>
      <hr/>
      <a ui-sref="overview" class="btn btn-default btn-lg">
        <span class="fa fa-plus fa-2x"> </span>
        <div> Add Apps </div>
      </a>
    </div>
  </div>
</div>
