<section class="data-apps">
  <div class="row">
  <div class="col-lg-6">
    <div class="clearfix">
      <h3 class="pull-left"> Apps </h3>
      <div class="btn-group pull-right">
        <a ui-sref="ns.apps.list">
          <button class="btn btn-default">
            <span class="fa fa-bars"> </span>
             All Apps
          </button>
        </a>
        <a ui-sref="apps.list">
          <button class="btn btn-default">
            <span class="fa fa-edit"> </span>
           ETL
          </button>
        </a>
      </div>
    </div>
    <hr />
    <div class="list-group">
      <a class="list-group-item"
         ng-repeat="app in apps"
         ui-sref="ns.apps.application({appId: app.id})">
        <strong ng-bind="app.name">  </strong>
        <div ng-bind="app.description"> </div>
      </a>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="clearfix">
      <h3 class="pull-left"> Data </h3>
      <div class="btn-group pull-right">
        <a ui-sref="apps.list">
          <button class="btn btn-default">
            <span class="fa fa-bars"> </span>
            All Datasets
          </button>
        </a>
        <a ui-sref="ns.apps.list">
          <button class="btn btn-default">
            <span class="fa fa-edit"> </span>
            ETL
          </button>
        </a>
      </div>
    </div>
    <hr />
    <div class="list-group">
      <a class="list-group-item"
         ng-repeat="app in apps"
         ui-sref="ns.apps.application({appId: app.id})">
        <strong ng-bind="app.name">  </strong>
        <div ng-bind="app.description"> </div>
      </a>
    </div>
  </div>
  </div>
</section>
