<p>Hi from Continuuity!</p>

<p>Thanks for signing up for Continuuity and spinning up a Developer Sandbox.  As you know, we provided you the Sandbox for a 90 day trial at no charge to you.  You have 7 days left on your trial period.</p>

<p>At the end of your trial period, your Sandbox will be destroyed and you will lose all your data and applications that are associated with it.  Please be sure to back up any data you need to preserve in another location.</p>

<p>If you would like to continue to use Continuuity, please contact us at sales@continuuity.com.</p>

<p>Thanks for using Continuuity.</p>

<p>http://www.continuuity.com/</p>