

<div class="row">
  <div class="col-xs-6">
    <h2> Configuration </h2>
  </div>
  <div class="col-xs-6">
    <div class="input-group pull-right search-bar">
      <input type="text" class="form-control" ng-model="searchText" placeholder="search...">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-curved" cask-sortable>
      <thead>
        <tr ng-class="{'sort-enabled': config.length>0}">
          <th data-predicate="name">Name</th>
          <th data-predicate="value">Value</th>
          <th data-predicate="source">Source</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in config | filter: searchText | orderBy:sortable.predicate:sortable.reverse">
          <td>{{::row.name}}</td>
          <td>{{::row.value}}</td>
          <td>{{::row.source}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
