<form class="form-horizontal"
      ng-controller="PluginEditController"
      plugin-property-edit-view>
  <div ng-if="noconfig">
    <div class="well well-lg widget-group-container">
      <div ng-repeat="(name, value) in transform.properties track by $index">
        <div class="form-group">
          <label class="control-label col-sm-2">{{ name | caskCapitalizeFilter}}</label>
          <div class="col-sm-7">
            <input type="text"
                    class="form-control"
                    ng-model="transform.properties[name]"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="configfetched" class="am-slide-right">
    <div class="row">
      <div class="col-xs-12"
           ng-repeat="group in groups.position">

        <div class="well well-lg widget-group-container">
          <h3>{{groups[group].display}}</h3>

          <div ng-repeat="field in groups[group].position">
            <div class="form-group">
              <label class="control-label col-sm-4"
                  ng-init="title=groups[group].fields[field].info;description=groups[group].fields[field].description">
                <span data-placement="bottom"
                      data-trigger="hover"
                      data-auto-close="1"
                      data-template="/assets/features/adapters/templates/create/popover.html"
                      bs-popover>
                  {{groups[group].fields[field].label}}
                </span>
              </label>
              <div class="col-sm-7">
                <div data-name="field"
                     class="my-widget-container"
                     data-model="transform.properties[field]"
                     data-myconfig="groups[group].fields[field]"
                     widget-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!noproperty">
    <div class="well well-lg">
      No Properties for this Plugin.
    </div>
  </div>
</form>
