<br />

<div class="row">
  <div class="col-xs-12" ng-init="plugin=source">
    <form class="form-horizontal"
          ng-controller="PluginEditController" plugin-property-edit-view>
      <div ng-if="noconfig">
        <div class="well well-lg widget-group-container">
          <div ng-repeat="(name, value) in source.properties track by $index">
            <div class="form-group">
              <label class="control-label col-sm-2">{{ name | caskCapitalizeFilter}}</label>
              <div class="col-sm-7">
                <input type="text"
                        class="form-control"
                        ng-model="source.properties[name]"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="configfetched" class="am-slide-right">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
               ng-repeat="group in config.groups.position">
            <div class="well well-lg widget-group-container">
              <h3>{{config.groups[group].display}}</h3>

              <div ng-repeat="(field,value) in
                   config.groups[group].fields">
                <div class="form-group">
                  <label class="control-label col-sm-4"
                         ng-if="config.groups[group].fields[field].label">
                    {{config.groups[group].fields[field].label}}
                    <a href><i class="fa fa-exclamation-circle text-info" tooltip="{{config.groups[group].fields[field].info}}"></i></a>
                  </label>
                  <label class="control-label col-sm-4"
                         ng-if="!config.groups[group].fields[field].label">
                    {{field}}
                  </label>
                  <div class="col-sm-7">
                    <div data-name="field"
                         class="my-widget-container"
                         data-model="source.properties[field]"
                         data-myconfig="config.groups[group].fields[field]"
                         widget-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!noproperty">
        <div class="well well-lg">
          No Properties for this Plugin.
        </div>
      </div>
    </form>
  </div>
</div>
