<div class="parent">
  <select ng-model="MyRuleCtrl.rule.name"
          class="child form-control">
    <option ng-selected="{{rule == MyRuleCtrl.rule.name}}"
            ng-repeat="rule in MyRuleCtrl.ruleToTypeMap.number"
            value="{{rule}}">
      {{rule}}
    </option>
  </select>

  <input class="child form-control input-sm"
          ng-repeat="field in MyRuleCtrl.rulesMap[MyRuleCtrl.rule.name].numFields track by $index"
          type="{{field}}"
          ng-model="MyRuleCtrl.rule.fields[$index]">
</div>
