@import "../../styles/variables.less";
my-rule {
  margin: 5px 0;
  display: block;

  .parent {
    display: flex;
  }
  .child {
    margin: 0 0 0 5px;
  }
  @media (max-width: @screen-xs-min) {
    .parent {
      display: flex;
      flex-direction: column;
    }
  }
}
