<div ncy-breadcrumb></div>
<h2>
  <span ng-bind="$state.params.programId | caskCapitalizeFilter"> </span>
  <small> Type: Service </small>
</h2>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="services.detail.status" ui-sref-opts="{reload: true}" role="tab" data-toggle="tab">Status</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="services.detail.data" role="tab" data-toggle="tab">Data</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="services.detail.metadata" role="tab" data-toggle="tab">Metadata</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="services.detail.history" role="tab" data-toggle="tab">History</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="services.detail.logs" role="tab" data-toggle="tab">Logs</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="services.detail.resources" role="tab" data-toggle="tab">Resources</a>
  </li>
</ul>

<div role="tablist">
  <ui-view role="tabpanel"/>
</div>
