/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  background-color: #fafafa;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/* Wrapper for page content to push down footer */
#wrap {
  padding: 0 0 50px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}

#stream-bar {
  overflow: scroll;
  border-radius: 0;
  padding: 0;
  background-color: #474949;
}

#stream-bar.sticky {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 20000;
  top: 0px;
}

#stream-bar-container {
  height: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

#head-bar {
  padding: 0;
  padding: 10px 0px;
  margin-bottom: 0;

  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#a2d5fd), to(#e4f3ff)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #e4f3ff,  #a2d5fd); /* for firefox 3.6+ */
}

#head-bar .navbar-brand {
  width: 155px;
  height: 50px;
  margin: 0;
  background-image: url(../img/logo.png);
}

.navbar-inverse .navbar-toggle {
  right: 15px;
}

#head-bar .navbar-nav> li> a {
  color: white;
  margin: 10px 0px;
  font-weight: bold;
  border-radius: 0;
  color: #4c93d8;
  padding: 5px 10px 0px;
  text-shadow: 0px 1px #fff;
}
#head-bar .navbar-nav> li> a img {
  width: 20px;
  vertical-align: bottom;
  margin-right: 6px;
  box-shadow: 0px 1px 1px white;
  border-radius: 2px;
}
.navbar-nav > .dropdown > a:hover {
  color: #4c93d8 !important;
}
.navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #4c93d8;
  border-bottom-color: #4c93d8;
}
.navbar-nav > .dropdown > a .caret {
  border-top-color: #4c93d8;
  border-bottom-color: #4c93d8;
}
.create-button a {
  padding-bottom: 9px !important;
}

#head-bar .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
  background-color: transparent;
}

#stream-bar .navbar-brand {
  display: none;
  line-height: 19px;
  text-shadow: 0px 1px #222;
  color: #FFF;
}

#powered-by {
  padding: 32px;
  color: #777;
  font-size: 12px;
  text-align: center;
}

/* Set the fixed height of the footer here */
#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 0px;
  background-color: #f5f5f5;

}

#actions {
  position: fixed;
  width: 300px;
  height: 300px;
  z-index: 2000;
  display: none;
}

.left-action, .top-action, .right-action {
  position: absolute;
  font-size: 36px;
  background-color: #fff;
  border-radius: 100%;
  padding: 13px;
  border: 4px solid;
  width: 72px;
  height: 72px;
  line-height: 53px;
  cursor: pointer;
}

#actions .left-action {
  top: 100px;
  left: 50px;
  background-color: #dff0d8;
  border-color: #99cd9a;
  color: #99cd9a;
}
#actions .top-action {
  top: 24px;
  left: 115px;
  background-color: #fefbed;
  border-color: #f1e7bc;
  color: #f1e7bc;
  line-height: 20px;
  padding-left: 15px
}
#actions .right-action {
  top: 100px;
  right: 50px;
  background-color: #fcf2f2;
  border-color: #dFb5b4;
  color: #dFb5b4;
}

.nav-justified li a {
  transition: background 0.5s;
  -webkit-transition: background 0.5s; /* Safari */
}

p {
  display: block;
  zoom: 1;
  overflow: hidden;
  max-height: 40px;

}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#footer li a {
  font-weight: bold;
  background-color: #eeeeee;
  text-shadow: 0px 1px #fff;
  font-size: 20px;
  line-height: 14px;
  color: #555;
  cursor: pointer;
}
#footer li a:hover {
  background-color: #ddd;
}

#stream-bar .navbar-nav li a {
  color: #fff;
  text-shadow: 0px 1px #222;
}

.badge {
  text-shadow: none;
  box-shadow: 0px 1px #222;
}

.dropdown-menu {
  margin-top: 2px;
}

.container {
  max-width: 1024px;
  padding: 0 15px;
}

#head-bar .navbar-nav.pull-right {
  float: right !important;
  width: auto !important;
  margin: 0 !important;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #333;
}
.navbar-inverse .navbar-nav > li:hover > a {
  background-color: #444;
}

.welcome {
  max-width: 720px;
  margin: 0 auto;
  border: 1px solid #efefef;
  border-radius: 4px;
  margin-top: 25px;
  padding: 35px;
}
.welcome h3 {
  font-size: 24px;
  padding-left: 10px;
}
.welcome p {
  padding-left: 10px;
  margin-bottom: 25px;
  color: #555;
}
.welcome-categories {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.welcome-categories li {
  width: 33%;
  float: left;
}

.welcome-categories li a {
  display: block;
  color: #333;
  margin: 0px 10px 20px;
  padding: 15px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  background-color: #fafafa;
  cursor: pointer;
}
.welcome-categories li a:hover {
  text-decoration: none;
  background-color: #f7f7f7;
}
.welcome .pull-right {
  margin-right: 16px;
}

.stream-config {
  cursor: pointer;
  display: block;
  position: relative;
  float: left;
  margin: 9px 0px 0px 29px;
  margin-right: 0;
  top: 0;
  color: #fff;
  font-size: 19px;
  line-height: 12px;
  padding: 6px 6px;
  height: 32px;
  text-shadow: 0px 1px #222;
}
h3 {
  margin: 0px 0px 18px;
  font-size: 32px;
  color: #444;
  padding-left: 16px;
  font-weight: 400;
}

h3 span {
  font-weight: 100;
  color: #999;
}


hr {
  margin: 20px 0px 5px;
}

.feed-pallette {
  position: absolute;
  left: -15px;
  top: 50px;
  width: 300px;
  height: 0px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(50, 50, 50, 0.82);
  padding: 0px 15px 0px;
}

.feed-pallette h3 {
  color: #FFF;
  font-weight: 200;
  font-size: 20px;
  margin-top: 10px;
}

.callout {
  margin: 0px 0 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.callout .glyphicon {
  float: left;
  font-size: 18px;
}
.callout p {
  margin-left: 28px;
  margin-bottom: 0;
}
.callout-safe {
  background-color: #dff0d8;
  border-color: #99cd9a;
  color: #444;
}
.callout-safe .glyphicon {
  color: #99cd9a;
}
.callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
  color: #444;
}
.callout-danger .glyphicon {
  color: #dFb5b4;
}
.callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
  color: #444;
}
.callout-warning .glyphicon {
  color: #f1e7bc;
}

.story-wrap {
    display: none;
}
.story-empty {
  padding: 48px;
  text-align: center;
  color: #aaa;
}

.story {
  margin-bottom: 10px;
  border-left: 5px solid #fff;
  padding: 0px 10px;

  transition: border 0.25s;
  -webkit-transition: border 0.25s; /* Safari */
  clear: left;

  border-left: 5px solid #e4f3ff;

}

.story-timestamp {
  color: #999;
  font-size: 0.8em;
  margin-left: 15px;
  float: left;
}

.story-reactions {
  float: right;
  font-size: 0.8em;
}

body {
    /* behavior */
  -webkit-user-select: none;                /* disable cut copy paste */
  -webkit-touch-callout: none;              /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

.story.popular {
  border-color: #ffc28c;
}
.story.targeted {
  border-color: #a0dda0;
}

.story h3 {
  margin-top: 0;
  padding-bottom: 2px;
  margin-bottom: 0;
  padding-left: 0;

  max-height: 70px;
  overflow: hidden;
  line-height: 17px;

}
.story h3 a {
  font-size: 18px;
  font-weight: 500;
  color: #444;
}
.story h3 a:hover {
  color: #333;
}
.story:hover h3 {

}
.story-summary {
  line-height: 20px;
  margin: 0;
}
.story-summary span {
  color: #4c93d8;
}

.story-thumb {
  float: left;
  padding-right: 10px;
}
.story-thumb img {
  max-height: 66px;
  border-radius: 2px;
  padding: 2px;
}

#modal {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.modal-dialog {
  padding-top: 45px;
}
.modal-header {
  padding: 10px;
  border-bottom: 0;
}
.modal-header h4 {
  font-size: 22px;
  padding: 2px 6px 1px;
}
.modal-header h4:hover {
  background-color: #feffe9;
  cursor: pointer;
}
.modal-header input {
  font-size: 22px;
  font-weight: 500;
  padding-left: 5px;
  color: #444;
}

.modal-footer {
  margin-top: 0;
  padding: 10px 15px;
  text-align: left;
}
.modal-body {
  padding-top: 0;
  padding: 0 0px;
  overflow: hidden;
  min-height: 200px;
}

.table {
  margin-bottom: 0;
}

.input-group-btn .btn {
  margin: 0 !important;
}

#myModal {
  max-height: 100%;
}
#myModal tr td {
  white-space: nowrap;
}

.glyphicon.glyphicon-plus-sign {
  line-height: 26px;
  font-size: 17px;
}

.fb-login-button {
  margin: 13px 0px 0px;
}

td {
  padding: 10px;
}

tr td .close {
  line-height: 17px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 0;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}