<section class="panel-group explore"
     ng-controller="CdapStreamExploreController"
     ng-model="activePanel"
     bs-collapse>

  <!-- VIEW DATA -->
  <div class="panel panel-default">
    <div class="panel-heading" bs-collapse-toggle>
      <h4 class="panel-title">
        <span
          ng-class="{'fa-chevron-right': activePanel!==0,
                     'fa-chevron-down': activePanel===0}"
          class="fa fa-fw"
        ></span>View Data
      </h4>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <div class="panel-body">

        <form ng-submit="doEventSearch()">
          <div class="row">
            <div class="col-xs-4">
              <my-timestamp-picker
                data-label="From:"
                ng-model="eventSearch.startMs"
              ></my-timestamp-picker>

            </div>
            <div class="col-xs-4">
              <my-timestamp-picker
                data-label="To:"
                ng-model="eventSearch.endMs"
              ></my-timestamp-picker>
            </div>
            <div class="col-xs-2">
              <div class="input-group">
                <label class="input-group-addon" for="exploreEventsLimit">Limit</label>
                <input type="number" class="form-control" id="exploreEventsLimit" ng-model="eventSearch.limit" min="1" max="100" />
              </div>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-default btn-block" type="submit">
                <span class="fa fa-search"></span>
                Find events
              </button>
            </div>
          </div>
        </form>


        <ul class="list-unstyled">
          <li ng-repeat="event in eventSearch.results | orderBy:'-timestamp'">
            <div>
              <small class="text-muted pull-right">{{event.timestamp | amTimeAgo}}</small>
              <em>{{event.timestamp | amDateFormat: 'MMMM Do YYYY, h:mm:ss a'}}</em>
            </div>
            <pre>{{event.body | json}}</pre>
          </li>
        </ul>
        <p ng-hide="eventSearch.results.length">
          (no events)
        </p>
      </div>
    </div>
  </div>

  <!-- WRITE & EXECUTE SQL -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" bs-collapse-toggle>
        <span
          ng-class="{'fa-chevron-right': activePanel!==1,
                     'fa-chevron-down': activePanel===1}"
          class="fa fa-fw"
        ></span>Write &amp; Execute SQL
      </h4>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <div class="panel-body">
        <p>
          <textarea class="form-control" disabled>SELECT * from someTable;</textarea>
        </p>
        <div class="text-right">
          <button class="btn btn-primary" type="button" disabled>
            Execute
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- VIEW QUERIES -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" bs-collapse-toggle>
        <span
          ng-class="{'fa-chevron-right': activePanel!==2,
                     'fa-chevron-down': activePanel===2}"
          class="fa fa-fw"
        ></span>View Queries
      </h4>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>


</section>
