<div class="container" ng-controller="CdapStreamMetadataController">
  <!-- CONTENT -->
  <table class="table table-curved">
    <tr>
      <td>Table</td>
      <td>{{ metadata.table_name }}</td>
    </tr>

    <tr>
      <td>Database</td>
      <td>{{ metadata.db_name }}</td>
    </tr>

    <tr>
      <td>Owner</td>
      <td>{{ metadata.owner }}</td>
    </tr>

    <tr>
      <td>Creation Time</td>
      <td>
        {{ metadata.creation_time  | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}
      </td>
    </tr>

    <tr>
      <td>Compressed</td>
      <td>{{ metadata.compressed }}</td>
    </tr>

    <tr>
      <td>Is Dataset</td>
      <td>{{ metadata.from_dataset }}</td>
    </tr>

    <tr>
      <td>Input Format</td>
      <td>{{ metadata.input_format }}</td>
    </tr>

    <tr>
      <td>Last Accessed Time</td>
      <td>{{ metadata.last_access_time }}</td>
    </tr>

    <tr>
      <td>Location</td>
      <td>{{ metadata.location }}</td>
    </tr>

    <tr>
      <td>Number of Buckets</td>
      <td>{{ metadata.num_buckets }}</td>
    </tr>

    <tr>
      <td>Output Format</td>
      <td>{{ metadata.output_format }}</td>
    </tr>

    <tr>
      <td>Parameters</td>
      <td>
        <table class="table table-curved">
          <tbody>
            <tr ng-repeat="(key, value) in metadata.parameters">
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td>Retention</td>
      <td>{{ metadata.retention }}</td>
    </tr>

    <tr>
      <td>SerDe</td>
      <td>{{ metadata.serde }}</td>
    </tr>

    <tr>
      <td>SerDe Parameters</td>
      <td>
        <table class="table table-curved">
          <tbody>
            <tr ng-repeat="(key, value) in metadata.serde_parameters">
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>
