<section>
  <h3>
    Console Settings
  </h3>

  <div class="row">
    <div class="col-sm-10">
      <textarea class="form-control" rows="4"
        cask-json-edit="settings"></textarea>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary btn-block"
        ng-click="doSaveSettings()">Save</button>
    </div>
  </div>

</section>


<section>
  <h3>
    Local Storage
  </h3>

  <div class="row">
    <div class="col-sm-10">
      <textarea class="form-control" rows="4"
        cask-json-edit="local"></textarea>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary btn-block"
        ng-click="doSaveLocal()">Save</button>
    </div>
  </div>

</section>

<section>
  <h3>
    Session Storage
  </h3>

  <div class="row">
    <div class="col-sm-10">
      <textarea class="form-control" rows="4"
        cask-json-edit="session"></textarea>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary btn-block"
        ng-click="doSaveSession()">Save</button>
    </div>
  </div>

</section>