<div ng-controller="AdaptersDetailStatusController">
  <div class="text-center status-view">
    <div ng-class="{ 'col-xs-4': programType === 'WORKFLOWS', 'col-xs-6': programType !== 'WORKFLOWS' }">
      <h4>Total Runs</h4>
      <h2 class="status-value">{{ stats.numRuns }}</h2>
    </div>

    <div class="col-xs-4" ng-if="programType === 'WORKFLOWS'">
      <h4>Average Run Time</h4>
      <h2 class="status-value">
        <span ng-if="stats.avgRunTime === 'N/A'">{{ stats.avgRunTime }}</span>
        <span ng-if="stats.avgRunTime !== 'N/A'">{{ stats.avgRunTime * 1000 | amDurationFormat }}</span>
      </h2>
    </div>

    <div ng-class="{ 'col-xs-4': programType === 'WORKFLOWS', 'col-xs-6': programType !== 'WORKFLOWS' }">
      <h4>Last Run Time</h4>
      <h2 class="status-value">
        <span ng-if="stats.lastRunTime === 'N/A'">{{ stats.lastRunTime }}</span>
        <span ng-if="stats.lastRunTime !== 'N/A'">{{ stats.lastRunTime | amDurationFormat }}</span>
      </h2>
    </div>
  </div>
</div>
