
{{#if types.Flow.content.length}}
	<table class="table">
	<thead>
		<th colspan="2">&nbsp;</th>
		<th style="width: 100px;text-align: center;">Instances</th>
		<th style="width: 212px;">Processed</th>
		<th style="width: 212px;">Busyness</th>
	</thead>
	{{#each types.Flow.content tagName="tbody"}}
	<tr>
		<td style="width: 36px;padding-right: 0;">
			<div class="list-health-box"></div>
		</td>
		<td class="app-list-name">
			<a {{bindAttr href="href"}}><strong>{{flowId}}</strong></a><br /><span class="app-list-status">{{currentState}}</span>
		</td>
		<td class="app-list-count">{{instances}}</td>
		<td>{{view C.Vw.Chart entity-id=id entity-type="Flow" metric="processed.count"}}</td>
		<td>{{view C.Vw.Chart entity-id=id entity-type="Flow" metric="busyness.count"}}</td>
	</tr>
	{{/each}}
	</table>
{{else}}
	<div class="object-list-empty">
		No Flows. Add a Flow by uploading a JAR file above.
	</div>
{{/if}}