
{{#if types.Query.content.length}}
	<table class="table">
	<thead>
		<th colspan="2">&nbsp;</th>
		<th style="width: 100px;text-align: center;">Instances</th>
		<th style="width: 212px;">Requests per Second</th>
		<th style="width: 212px;">Errors per Second</th>
		<th style="width: 86px;">&nbsp;</th>
	</thead>
	{{#each types.Query.content tagName="tbody"}}
	<tr>
		<td class="list-health-cell">
			<div class="list-health-box"></div>
		</td>
		<td class="app-list-name">
			{{id}}<br /><span class="app-list-status">{{currentState}}</span>
		</td>
		<td class="app-list-count">1</td>
		<td>{{view C.Vw.Chart entity-id=id entity-type="Query" metrics="query.success.count"}}</td>
		<td>{{view C.Vw.Chart entity-id=id entity-type="Query" metrics="query.failed.count"}}</td>
		<td>
			<div class="btn-group pull-right" style="width:86px;text-align: center;">

				<button class="btn dropdown-toggle" data-toggle="dropdown"> 
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" style="text-align: left;">
					{{#unless ENV.isCloud}}
					<li><a {{action "promote" on="click"}} {{bindAttr flowId="id"}} {{bindAttr applicationId="application"}}>Push to Cloud</a></li>
					<li class="divider"></li>
					{{/unless}}
					<li><a {{action "delete" on="click"}} {{bindAttr state="currentState"}} {{bindAttr flowId="id"}} {{bindAttr applicationId="application"}}>Delete This Query</a></li>
				</ul>

				<button class="btn" {{action stateTransition on="click"}} {{bindAttr flowId="id"}} {{bindAttr applicationId="application"}} {{bindAttr state="currentState"}}>{{controlLabel}}</button>
				
			</div>
	</tr>
	{{/each}}
	</table>
{{else}}
	<div class="object-list-empty">
		<div class="object-list-empty-content">
			No Queries.
			<br /><span>Add a Query by uploading a JAR file above.</span>
		</div>
	</div>
{{/if}}