
{{#if types.Query.content.length}}
<table class="table">
<thead>
<th style="padding-left: 14px;">&nbsp;</th>
<th style="width: 100px;text-align: center;">Instances</th>
<th style="width: 212px;">Request Rate</th>
<th style="width: 212px;">Error Rate</th>
</thead>
{{#each types.Query.content tagName="tbody"}}
<tr>
<td class="app-list-name">
<a {{bindAttr href="href"}}>{{id}}</a><br /><span class="app-list-status">{{currentState}}</span>
</td>
<td class="app-list-count">1</td>
<td>{{view C.Vw.Chart entity-id=id entity-type="Query" metrics="query.success.count"}}</td>
<td>{{view C.Vw.Chart entity-id=id entity-type="Query" metrics="query.failed.count"}}</td>

</tr>
{{/each}}
</table>
{{else}}
<div class="object-list-empty">
<div class="object-list-empty-content">
No Procedures.
<br /><br /><span>Add Procedures by uploading an Application JAR.</span>
</div>
</div>
{{/if}}
{{view C.Vw.QueryDetail viewName="query-detail"}}