
{{#if types.Query.content.length}}
	<table class="table">
	<thead>
		<th colspan="2">&nbsp;</th>
		<th style="width: 100px;text-align: center;">Instances</th>
		<th style="width: 212px;">Requests</th>
		<th style="width: 212px;">Errors</th>
		<th style="width: 60px;">&nbsp;</th>
	</thead>
	{{#each types.Query.content tagName="tbody"}}
	<tr>
		<td class="list-health-cell">
			<div class="list-health-box"></div>
		</td>
		<td class="app-list-name">
			{{id}}<br /><span class="app-list-status">{{currentState}}</span>
		</td>
		<td class="app-list-count">1</td>
		<td>{{view C.Vw.Chart entity-id=id entity-type="Query" metrics="query.success.count"}}</td>
		<td>{{view C.Vw.Chart entity-id=id entity-type="Query" metrics="query.failed.count"}}</td>
		<td>{{#unless isRunning}}
			<button class="btn" {{action start on="click"}} {{bindAttr flowId="id"}} {{bindAttr applicationId="name"}}>Start</button>
			{{else}}
			<button class="btn" {{action stop on="click"}} {{bindAttr flowId="id"}} {{bindAttr applicationId="name"}}>Stop</button>
			{{/unless}}
	</tr>
	{{/each}}
	</table>
{{else}}
	<div class="object-list-empty">
		<div class="object-list-empty-content">
			No Queries.
			<br /><span>Add a Query by uploading a JAR file above.</span>
		</div>
	</div>
{{/if}}