
{{#if types.Stream.content.length}}
	<table class="table">
	<thead>
		<th colspan="2">&nbsp;</th>
		<th style="width: 100px;text-align: center;">Storage</th>
		<th style="width: 100px;padding: 0;text-align: center;">Unconsumed</th>
		<th style="width: 444px;">Arrivals</th>
	</thead>
	{{#each types.Stream.content tagName="tbody"}}
	<tr>
		<td class="list-health-cell">
			<div class="list-health-box"></div>
		</td>
		<td class="app-list-name">
			<a {{bindAttr href="href"}}>{{name}}</a>
		</td>
		<td class="app-list-count">{{storage}}</td>
		<td class="app-list-count">{{unconsumed}}</td>
		<td>{{view C.Vw.Chart entity-id=id entity-type="Stream" metrics="q.stream://demo/{id}.ack.source.count" width="420"}}</td>
	</tr>
	{{/each}}
	</table>
{{else}}
	<div class="object-list-empty">
		<div class="object-list-empty-content">
			No Streams.
			<br /><span>Create a Stream by clicking the [+] button above.</span>
		</div>
	</div>
{{/if}}