
{{#if types.Stream.content.length}}
<table class="table">
<thead>
<th colspan="2">&nbsp;</th>
<th style="width: 100px;text-align: center;">Storage</th>
<th style="width: 100px;padding: 3px 0px 0px;text-align: center;">Unconsumed</th>
<th style="width: 444px;">Arrival Rate</th>
</thead>
{{#each types.Stream.content tagName="tbody"}}
<tr>
<td class="list-health-cell">
<div class="list-health-box"></div>
</td>
<td class="app-list-name">
<a {{bindAttr href="href"}}>{{name}}</a><br /><span class="app-list-status">Consumers: {{types.StreamFlow.content.length}}</span>
</td>
<td class="app-list-count">{{storageLabel}}<br /><span>{{storageUnits}}</span></td>
<td class="app-list-count">{{unconsumed}}<br /><span>Events</span></td>
<td>{{view C.Vw.Chart entity-id=id entity-type="Stream" mode="singular" metrics="stream.enqueue.stream//demo/{id}.count"}}</td>
</tr>
{{/each}}
</table>
{{else}}
<div class="object-list-empty">
<div class="object-list-empty-content">
No Streams.
{{#if C.onStreams}}
<br /><span>Please click the button above to create one.</span>
{{else}}
<br /><span>Please navigate to the <a href="#/streams">Streams page</a> to create one.</span>
{{/if}}
</div>
</div>
{{/if}}