
{{#if types.Stream.content.length}}
	<table class="table">
	<thead>
		<th colspan="2">&nbsp;</th>
		<th style="width: 100px;text-align: center;">Storage</th>
		<th style="width: 100px;text-align: center;">Unconsumed</th>
		<th style="width: 324px;">Arrivals vs Consumed</th>
	</thead>
	{{#each types.Stream.content tagName="tbody"}}
	<tr>
		<td class="list-health-cell">
			<div class="list-health-box"></div>
		</td>
		<td class="app-list-name">
			<a {{bindAttr href="href"}}>{{name}}</a>
		</td>
		<td class="app-list-count">{{storage}}</td>
		<td class="app-list-count">{{unconsumed}}</td>
		<td>{{view C.Vw.Chart entity-id=id entity-type="Stream" metric="stream.arrivals,stream.consumed" width="420"}}</td>
	</tr>
	{{/each}}
	</table>
{{else}}
	<div class="object-list-empty">
		Create a Stream by clicking the [+] button above.
	</div>
{{/if}}