<p>Hi from Continuuity!</p>

<p>Looks like you have fired up your Developer Sandbox. By now you probably have a couple of Big Data Apps running on it!  We hope it was a really easy and seamless experience for you.</p>

<p>If you have not deployed an App yet, you can get going by pushing one of the sample applications in the Developer Suite to the Developer Sandbox - find out how at the <a href="http://support.continuuity.com/knowledgebase/articles/176424-getting-started">Getting Started</a> page.</p>

<p>We are really excited about all the people who are using our products and services, and are looking for ways to make them even better and easier to use.  If you have any comments or feedback for us, please go to our <a href="http://support.continuuity.com/forums/194926-welcome-to-continuuity-support">Support</a> page and let us know your thoughts.</p>

<p>If you are ready to see how Continuuity can work best with your dev, pre-production or production environments, drop us a note at sales@continuuity.com.</p>

<p>Thanks for using Continuuity.</p>

<p><a href="http://www.continuuity.com/">www.continuuity.com</a></p>