<div ncy-breadcrumb></div>
<my-file-select class="pull-right" on-file-select="onFileSelected($files)"> </my-file-select>
<table class="table table-responsive" cask-sortable>
  <thead>
    <tr ng-class="{'sort-enabled': apps.length>0}">
      <th data-predicate="name" data-predicate-default="reverse"> Name </th>
      <th> Description </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="app in apps | orderBy:sortable.predicate:sortable.reverse">
      <td >
        <a ui-sref="apps.detail.overview({ appId: app.id })"
           ng-bind="app.name"
            >
        </a>
      </td>
      <td ng-bind="app.description">  </td>
      <td ng-bind="app.owner">  </td>
      <td class="text-center">
        <a ng-click="caskConfirm()"
            class="btn btn-danger btn-xs"
            cask-confirmable="deleteApp(app.id)"
            data-confirmable-content="Are you sure you want to delete the App?"
          >
          X
        </a>
      </td>
    </tr>
  <tbody>
</table>
