<div ncy-breadcrumb></div>
<div class="row">
  <div class="col-xs-6 text-left">
    <h2> All Applications </h2>
  </div>
  <div class="col-xs-6 h2 text-right">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
        Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="presentation">
          <my-file-select on-file-select="onFileSelected($files)"
            data-button-label="Add App"
            data-button-icon="fa-plus"
            data-dropdown="true"> </my-file-select>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-curved" cask-sortable>
    <thead>
      <tr ng-class="{'sort-enabled': apps.length>0}">
        <th data-predicate="name" data-predicate-default="reverse"> Name </th>
        <th data-predicate="version"> Version </th>
        <th data-predicate="description"> Description </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="app in apps | orderBy:sortable.predicate:sortable.reverse">
        <td >
          <a ui-sref="apps.detail.overview({ appId: app.id })">
            <strong> {{ ::app.name }} </strong>
          </a>
        </td>
        <td>{{ ::app.version }}</td>
        <td> {{ ::app.description }} </td>
      </tr>
    <tbody>
  </table>
</div>

