<table class="table">
<thead>
<th>Name</th>
<th style="width: 120px;">Last Started</th>
<th style="width: 120px;">Last Stopped</th>
<th style="width: 32px;">Runs</th>
<th colspan="2">&nbsp;</th>
</thead>
{{#each controller tagName="tbody"}}
<tr>
<td><a {{bindAttr href="href"}}><strong>{{flowId}}</strong></a></td>
<td style="width: 140px;">{{started}}</td>
<td style="width: 140px;">{{stopped}}</td>
<td>{{runs}}</td>
<td style="width: 84px;text-align: right;"><span {{bindAttr class="statusClass"}}>{{currentState}}</span></td>
<td style="width: 64px;">
<button class="btn" {{action "exec" on="click"}} {{bindAttr flow-app="applicationId"}} {{bindAttr flow-id="flowId"}} {{bindAttr flow-action="defaultAction"}} style="padding: 4px 13px 4px;margin:0;width: 60px;">{{defaultAction}}</button>
</div>
</td>
</tr>
{{/each}}
</table>