<div class="panel panel-default">
  <div class="panel-heading">User Profile: {{$state.params.username}} </div>
  <div class="panel-body">
    <div ng-hide="alreadyLoggedIn">
      <div> Please login again to see your access token </div>
      <div ng-include="'/assets/features/login/login.html'"> </div>
    </div>

    <table ng-show="alreadyLoggedIn" class="table">
      <thead>
        <tr>
          <th> Token </th>
          <th> Expiration Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{token}} </td>
          <td> {{expirationTime}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
