<!-- Left Panel -->
<div class="col-xs-4">
  <table class="table table-hover queries">
    <thead>
      <tr>
        <th>Start</th>
        <th>Status</th>
        <th>SQL</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="query in queries" ng-click="fetchResult(query)" ng-class="{ current: responses.request === query }">
        <td>{{ query.timestamp | amDateFormat: 'MM/DD/YYYY h:mm:ss a'}}</td>
        <td>{{ query.status }}</td>
        <td>{{ query.statement }}</td>
      </tr>
    </tbody>

  </table>
</div>

<!-- Right Panel -->
<div class="col-xs-8 well">
  <div ng-show="responses.request.status === 'FINISHED'">
    <div class='sql-statement'>
      <p>{{ responses.request.statement }}</p>
    </div>

    <div class="results">
      <h3>Results</h3>
      <div class="text-right">
        <a
          class="btn btn-default"
          ng-click="download(responses.request)"
        >
          Download All
        </a>
      </div>

      <div class="table-result">
        <table class="table">
          <thead>
            <tr>
              <th ng-repeat="header in responses.schema">{{ header.name }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="results in responses.results">
              <td ng-repeat="result in results.columns track by $index">
                <span>{{ result }}</span>
                <span ng-if="!result">null</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center" ng-show="responses.results.length === 0">
          No Result
        </div>
      </div>
    </div>
  </div>
  <div ng-hide="responses.request.status === 'FINISHED'" class="text-center">
    <p>(Select Query)</p>
  </div>
</div>
