
<div class="modal-header clearfix">
  <h3 class="modal-title">
    <span>
      {{HydratorPlusPlusNodeConfigCtrl.state.node.plugin.name}} Properties
      <small>{{ HydratorPlusPlusNodeConfigCtrl.state.node.plugin.artifact.version }}</small>
    </span>
    <small class="text-danger" ng-if="HydratorPlusPlusNodeConfigCtrl.state.noConfigMessage && HydratorPlusPlusNodeConfigCtrl.state.node.plugin.name !== 'Validator'">({{HydratorPlusPlusNodeConfigCtrl.state.noConfigMessage}})</small>
    <span class="fa fa-times pull-right" ng-click="$close()"></span>
    <p>
      <small>{{HydratorPlusPlusNodeConfigCtrl.state.node.description}}</small>
    </p>
  </h3>
</div>
<div class="modal-body config-modal">
  <div class="console-type">
    <div class="node-config">
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-click="HydratorPlusPlusNodeConfigCtrl.activeTab = 1" ng-class="{active: HydratorPlusPlusNodeConfigCtrl.activeTab === 1}">
            {{::HydratorPlusPlusNodeConfigCtrl.tabs[0].label}}
          </li>
          <li role="presentation" ng-click="HydratorPlusPlusNodeConfigCtrl.activeTab = 2" ng-class="{active: HydratorPlusPlusNodeConfigCtrl.activeTab === 2}">
            {{::HydratorPlusPlusNodeConfigCtrl.tabs[1].label}}
          </li>
          <li role="presentation" ng-click="HydratorPlusPlusNodeConfigCtrl.activeTab = 3" ng-class="{active: HydratorPlusPlusNodeConfigCtrl.activeTab === 3}">
            {{::HydratorPlusPlusNodeConfigCtrl.tabs[2].label}}
          </li>
        </ul>
        <div ng-if="HydratorPlusPlusNodeConfigCtrl.activeTab === 1 && HydratorPlusPlusNodeConfigCtrl.state.isValidPlugin" ng-include="HydratorPlusPlusNodeConfigCtrl.tabs[0].templateUrl" class="bottompanel-body">
        </div>
        <div ng-if="HydratorPlusPlusNodeConfigCtrl.activeTab === 2" ng-include="HydratorPlusPlusNodeConfigCtrl.tabs[1].templateUrl" class="bottompanel-body">
        </div>
        <div ng-init="node=HydratorPlusPlusNodeConfigCtrl.state.node" ng-if="HydratorPlusPlusNodeConfigCtrl.activeTab === 3" ng-include="HydratorPlusPlusNodeConfigCtrl.tabs[2].templateUrl" class="bottompanel-body">
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
