{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 10 versions",
            "safari >= 7"
          ]
        },
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": [
                "last 10 versions",
                "safari >= 7"
              ]
            }
          }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript",
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ]
    }
  },
  "comments": true,
  "plugins": [
    "lodash",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    "react-hot-loader/babel"
  ]
}
