{
  "presets": [
    "es2015",
    "react"
  ],
  "comments": true,
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    "syntax-dynamic-import",
    "lodash"
  ]
}
