{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 10 versions",
            "safari >= 7"
          ]
        },
        "modules": false
      }
    ],
    [
      "@babel/preset-stage-2",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "comments": true,
  "plugins": [
    "lodash",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
