.DS_Store
*.iml
npm-debug.log
node/
node_modules/
bower_components/
dist/
cdap_dist/
login_dist/
wrangler_dist/
plusbutton_dist
common_dist/
target/
cdap-config.json
cdap-security-config.json
coverage/
.classpath
.project
.settings/
