/* Javadoc style sheet */

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenProRegular'), url(http://themes.googleusercontent.com/static/fonts/mavenpro/v4/MG9KbUZFchDs94Tbv9U-pbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body { background-color: #FFFFFF; color:#111; font-size: 100%; }

body { font-size: 1em; line-height: 1.286em; font-family: "Maven Pro", "Helvetica", "Arial", sans-serif; }

code { line-height: 1.286em; font-family: "Consolas", "Lucida Console", "Droid Sans Mono", "Andale Mono", "Monaco", "Lucida Sans Typewriter"; }

a { text-decoration: none; color: #162d50; /* also try #2E85ED, #0033FF, #6C93C6, #1D7BBE, #1D8DD2 */ }
a:hover { text-decoration: underline; }
a:visited { color: #2f4e7c; }
a:visited:hover { text-decoration: underline; }

table[border="1"] { border: 1px solid #ddd;
border-width: 1px 0px 0px 1px;
border-radius: 3px;
}
table[border="1"] .TableRowColor td, table[border="1"] th { border: 1px solid #ddd; border-width: 0px 1px 1px 0px; }
table[border="1"] th { font-size: 12px; padding: 8px 12px; }
table[cellpadding="3"] td { padding: 0.5em; }

font[size="-1"] { font-size: 0.9em; line-height: 1.5em; }
font[size="-2"] { font-size: 0.8em; }
font[size="+2"] { font-size: 1.4em; line-height: 1.3em; padding: 0.4em 0; }

hr {
    border: 0;
    border-bottom: 1px dashed #ddd;
}

/* Headings */
h1 { font-size: 1.5em; line-height: 1.286em;}

h2 {
    font-weight: 500;
}
h2 b {
    font-weight: 500;
}

/* Table colors */
.TableHeadingColor     { background-color: #eee; } /* Dark mauve */
.TableSubHeadingColor  { background: #ddd; color:#444; } /* Light mauve */
.TableRowColor         { background: #FFFFFF; color:#333; font-size: 0.95em; } /* White */
.TableRowColor a       { }
.TableRowColor code    { color:#000; } /* White */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 100%; }
.FrameHeadingFont { font-size:  90%; }
.FrameItemFont { font-size:  0.9em; line-height: 1.3em;
}
/* Java Interfaces */
.FrameItemFont a i {
    color: #2f4e7c;
}
.FrameItemFont a:hover i {

}

/* Navigation bar fonts and colors */
.NavBarCell1    { padding: 4px 8px; background-color:#162d50; color: #FFFFFF; } /* Light mauve */
.NavBarCell1Rev { padding: 4px 8px; background-color:#49b1d2; color:#FFFFFF} /* Dark Blue */
.NavBarFont1    { color: #FFFFFF;}
.NavBarFont1Rev { color:#FFFFFF; }

.NavBarCell2    { background-color:#FFFFFF; color:#000000}
.NavBarCell3    { background-color:#FFFFFF; color:#000000}

li {
    margin-left: 25px;
}

pre {
    font-size: 1.1em;
    padding: 8px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}