<div ncy-breadcrumb></div>
<h1><span ng-bind="$state.params.programId | caskCapitalizeFilter"></span></h1>
<p> Type: Tigon </p>


<div class="row">
  <div class="col-sm-6 h4">

      <ng-pluralize data-count="activeRuns"
          data-when="{'one': '1 Active Run', 'other': '{{activeRuns}} Active Runs'}"></ng-pluralize>

  </div>
  <div class="col-sm-6 text-right">

    <a ng-show = "activeRuns === 0"
         class="btn btn-success"
         ng-click="do('start')">
      Start a new run
    </a>

    <a ng-show="activeRuns > 0"
        class="btn btn-default"
        ng-click="do('stop')">
      <i class="fa fa-stop"></i>
    </a>

    <a ng-show="status == 'start' || status == 'stop'"
         class="btn btn-default">
      <span class="fa fa-refresh fa-spin"></span>
    </a>

  </div>
</div>

<br />

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="flows.detail.status" ui-sref-opts="{reload: true}" role="tab">Status</a>
  </li>

  <li role="presentation" ui-sref-active="active">
    <a ui-sref="flows.detail.flowlets" role="tab">Flowlets</a>
  </li>

  <li role="presentation" ui-sref-active="active">
    <a ui-sref="flows.detail.runs" role="tab">Runs</a>
  </li>

  <li role="presentation" ui-sref-active="active">
    <a ui-sref="flows.detail.history" role="tab">History</a>
  </li>

</ul>

<br />
<ui-view role="tabpanel"/>
