<div ncy-breadcrumb></div>

<div class="row" program-heading>
  <div class="col-sm-6">
    <h2 class="programTitle">
      <span ng-bind="$state.params.programId | caskCapitalizeFilter"></span>
    </h2>
    <div class="type-block">
      <small> Type: Tigon </small>
    </div>
  </div>
  <div class="col-sm-6 text-right">
<!--     <span class="programTitle">
      <ng-pluralize data-count="activeRuns"
          data-when="{'one': '1 Active Run', 'other': '{{activeRuns}} Active Runs'}"></ng-pluralize>
    </span> -->
    <div ng-show="activeRuns === 0 && status === null"
         class="btn btn-success btn-md"
         ng-click="do('start')">
      <span class="fa fa-play"></span>
      <span>Start</span>
    </div>

    <div ng-show="activeRuns > 0 && status === null"
         class="btn btn-default btn-md"
         ng-click="do('stop')">
      <span class="fa fa-stop"></span>
      <span>Stop</span>
    </div>

    <div ng-show="status == 'start' || status == 'stop'"
          ng-class="{'btn-success': status === 'start', 'btn-primary': status === 'stop'}"
          class="btn btn-md">
      <span class="fa fa-refresh fa-spin"></span>
      <span>{{status | caskCapitalizeFilter}}</span>
    </div>
  </div>
</div>

<div class="cdap-subnav-end"></div>

<ul class="nav nav-tabs slanted-tabs" role="tablist">

  <li role="presentation" ui-sref-active="active">
    <a ui-sref="flows.detail.runs" role="tab">Runs</a>
  </li>

  <li role="presentation" ui-sref-active="active">
    <a ui-sref="flows.detail.history" role="tab">History</a>
  </li>

</ul>

<br />
<ui-view role="tabpanel"/>
