<div ncy-breadcrumb></div>
<div class="row" program-heading>
  <div class="col-sm-6">
    <h2 class="programTitle">
      <span ng-bind="$state.params.programId | caskCapitalizeFilter"></span>
      <small> <em>Type: WorkFlow </em></small>
    </h2>
  </div>
  <div class="col-sm-6 text-right">
    <span class="programTitle">
      <ng-pluralize data-count="activeRuns"
          data-when="{'one': '1 Active Run', 'other': '{{activeRuns}} Active Runs'}"></ng-pluralize>
    </span>
    <div ng-hide="status === 'STARTING'"
         class="btn btn-success btn-md"
         ng-click="start()">
      <span class="fa fa-play"></span>
      <span>Start</span>
    </div>

    <div ng-show="status === 'STARTING' || status === 'STOPPING'"
         ng-class="{'btn-success': status === 'STARTING', 'btn-primary': status === 'STOPPING'}"
         class="btn btn-default btn-md">
      <span class="fa fa-refresh fa-spin"></span>
      <span>{{status | caskCapitalizeFilter}}</span>
    </div>


  </div>
</div>

<div class="cdap-subnav-end"></div>
<ul class="nav nav-tabs" role="tablist">

  <li role="presentation" ui-sref-active="active">
    <a ui-sref="workflows.detail.runs" ui-sref-opts="{reload: true}" role="tab">Runs</a>
  </li>

  <li role="presentation" ui-sref-active="active">
    <a ui-sref="workflows.detail.schedules" ui-sref-opts="{reload: true}" role="tab">Schedules</a>
  </li>


  <li role="presentation" ui-sref-active="active">
    <a ui-sref="workflows.detail.history" role="tab" >History</a>
  </li>
</ul>

<br />
<ui-view role="tabpanel"/>
