.body-container {
  display: flex;
  width: 100%;
  height: 300px;
  overflow: hidden;
  .schema-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 10px;
    border-right: dashed 1px lightgray;
    height: 100%;
    overflow-y: auto;
  }
  .column-container {
    padding-left: 10px;
    flex-direction: column;
    width: 60%;
    height: 100%;
    overflow: hidden;
  }
  .column-checklist-container {
    display: flex;
    height: calc(100% - 100px);
  }
  .column-list {
    overflow-y: auto;
  }
  .btn-margin {
    margin: 5px;
  }
  .schema-header {
    font-weight: 500;
    color: #333333;
    font-size: 16px;
    background-color: #e2e2e2;
    padding: 5px 10px;
    margin-bottom: -1px;
  }

  .column-header {
    display: flex;
    font-weight: 500;
    color: #333333;
    font-size: 14px;
    border: 1px solid #dddddd;
    background-image: linear-gradient(#bdbdbd, white);
    padding: 1px 10px;
    min-height: 26px;
    margin-bottom: 3px;
  }

  .column-control {
    display: flex;
    flex-direction: column;
  }

  .select-all-container {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 0px;
    input {
      margin-right: 10px;
    }
  }

  .column-name {
    width: 60%;
    padding-left: 10px;
  }

  .column-type {
    width: 40%;
    padding-left: 10px;
  }
}
