<div class="keyvalue-container">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label">Delimiter</label>
        <input type="text" class="form-control" ng-model="delimiter" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label">KeyValue Delimiter</label>
        <input type="text" class="form-control" ng-model="kvdelimiter" />
      </div>
    </div>
  </div>

  <div ng-repeat="property in properties" class="row" ng-keypress="enter($event, $last)">
    <div class="col-xs-4">
      <input type="text" class="form-control" ng-model="property.key" placeholder="key" my-focus-watch="property.newField" />
    </div>
    <div class="col-xs-4">
      <input type="text" class="form-control" ng-model="property.value" placeholder="value" />
    </div>
    <div class="col-xs-4 text-left">
      <a href="" class="btn btn-danger" ng-click="removeProperty(property)">
        <span class="fa fa-fw fa-trash"> </span>
      </a>
      <a class="btn btn-info btn-transparent" ng-click="addProperty()" ng-if="$last">
        <span class="fa fa-fw fa-plus"></span>
      </a>
    </div>
  </div>

  <div ng-if="properties.length === 0" class="empty-container">
    <a class="btn btn-info btn-transparent" ng-click="addProperty()">
      <span class="fa fa-fw fa-plus"></span>
      <span>Add Property</span>
    </a>
  </div>

</div>
