<div class="labels">
  <div class="col-xs-6">
    <div class="col-xs-7 delimiter-label">
      <strong>KV Delimiter</strong>
    </div>
    <div class="col-xs-5">
      <input type="text" class="form-control" ng-model="kvdelimiter">
    </div>
  </div>

  <div class="col-xs-6">
    <div class="col-xs-5 col-xs-offset-1 delimiter-label">
      <strong>Delimiter</strong>
    </div>
    <div class="col-xs-5">
      <input type="text" class="form-control" ng-model="delimiter">
    </div>
  </div>
</div>

<div ng-repeat="property in properties" class="h4-margin clearfix">
  <div class="col-xs-4">
    <input type="text" class="form-control" ng-model="property.key" placeholder="key"/>
  </div>
  <div class="col-xs-4">
    <input type="text" class="form-control" ng-model="property.value" placeholder="value"/>

  </div>
  <div class="col-xs-2">
    <a href="" class="btn btn-danger" ng-click="removeProperty(property)">
      <span class="fa fa-fw fa-trash"> </span>
    </a>
  </div>
  <div class="col-xs-2">
    <a class="btn btn-info btn-transparent" ng-click="addProperty()" ng-if="$last">
      <span class="fa fa-fw fa-plus"></span>
    </a>
  </div>
</div>

<div ng-if="properties.length === 0">
  <a class="btn btn-info btn-transparent" ng-click="addProperty()">
    <span class="fa fa-fw fa-plus"></span>
    <span>Add Property</span>
  </a>
</div>
