my-key-value {
  .labels {
    [class*="col-"] {
      margin-bottom: 5px;
    }
  }

  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;

    .delimiter-label {
      line-height: 30px;

      > strong {
        vertical-align: middle;
      }
    }
  }
}
