<div class="modal-header">
  <h3 class="modal-title">Runtime Arguments</h3>
</div>

<div class="modal-body">

  <form ng-show="preferences.length > 0">
    <div class="form-group row">
      <div class="col-xs-12">
        <div ng-repeat="preference in preferences" class="h4">
          <div class="row">
            <div class="col-sm-4">
              <input type="text" class="pref-key form-control" ng-model="preference.key" placeholder="key"/>
            </div>
            <div class="col-sm-7">
              <input type="text" class="form-control" ng-model="preference.value" placeholder="value"/>
            </div>
            <div class="col-sm-1">
              <a href="" class="btn btn-danger" ng-click="removePreference(preference)">
                <span class="fa fa-fw fa-trash"> </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div ng-show="preferences.length === 0">
    <div class="well well-sm text-center h4">
      <button class="btn btn-default" ng-click="addPreference()">
        <span class="fa fa-fw fa-plus"></span> Add an argument
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="addPreference()" ng-hide="preferences.length === 0">
        <span class="fa fa-fw fa-plus"></span>
      </button>

      <div class="pull-right">
        <button class="btn btn-default" ng-click="$dismiss('close')">Cancel</button>
        <button class="btn btn-success" ng-click="save()">OK</button>
      </div>
    </div>
  </div>

</div>
