.correlation-ietm-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888888;
  background-color: #e3e2e4;
  display: flex;
  align-items: center;

  .check-input {
    margin-right: 8px;
    height: 20px;
    width: 20px;
  }
  .value-seperator {
    padding-left: 5px;
    padding-right: 5px;
  }
  .value-input {
    width: 50px;
    height: 25px;
    margin-left: 15px;
  }
  .right-value-input {
    margin-right: 5px;
  }
}
