.landing-page-container {
  display: flex;
  flex-direction: column;
  .top-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  .add-button {
    background: #665ef1;
    padding: 10px;
    border-radius: 2px;
    color: white;
  }
}
