.landing-page-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  width: 100%;
  padding-top: 50px;
  .feature-generation {
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
    .top-control {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      background-color: white;
      .type-selector {
        display: flex;
        flex-direction: row;
        align-items: center;
        .type-label {
          font-size: 16px;
          padding-right: 10px;
          font-weight: 500;
          line-height: 2;
        }
      }
      .refresh-button {
        margin-left: 10px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
  .feature-selection {
    height: 100%;
    width: 100%;
  }
}

.feature-button {
  background-color: #0275d8;
  border-color: #0275d8;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
}

.feature-button:disabled,
.feature-button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.feature-button-invert {
  background-color: white;
  border-color: #0275d8;
  padding: 5px 10px;
  border-radius: 3px;
  color: #0275d8;
}

.feature-button-invert:disabled,
.feature-button-invert[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.mandatory {
  font-size: 8px !important;
  padding-bottom: 5px;
  padding-left: 1px;
  color: #d15668;
  line-height: 1 !important;
}

.spacer {
  flex: 1 1 auto;
}
