@import '../../styles/variables.less';

body.state-etlapps-create {
  .etlflowcontainer {
    width: 100%;
    height: 80vh;
    background: @cdap-header;
    padding: 0 10px;
  }
  .panel-group {
    .panel.panel-default {
      .panel-heading {
        cursor: pointer;
      }
    }
  }

  #ETLsourceTab, #ETLsinkTab, #ETLtransformsTab {
    .panel-heading {
      cursor: pointer;
    }
  }
  .sourceDropZone,
  .transformDropZone,
  .sinkDropZone {
    background: lightgrey;
    width: 100%;
    height: 33vh;
    margin-top: 25vh;
    cursor: pointer;
    border: 1px solid transparent;

    h4 {
      position: relative;
      top: 45%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &.over {
      border: 3px dashed black;
      opacity: 0.5;

      &.red {
        border-color: red;
      }

      &.green {
        border-color: green;
      }
    }
  }

}
