[my-navbar] {

  ul.navbar-right .dropdown-menu.bottom-right {
    left: auto !important;
  }

  .navbar-collapse.in {
    @media (max-width: 767px) {
      span.fa {
        min-width: 2em;
        text-align: center;
      }
    }
  }

  .navbar-form {
    visibility: hidden;
  }

}

body.state-home,
body.state-apps {
  [my-navbar] .navbar-form {
    visibility: visible;
  }
}