<div class="navbar-header">
  <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">
     CDAP
   </a>
</div>
<div class="collapse navbar-collapse" ng-class="{in:navbarCollapsed}">

  <div ng-click="navbarCollapsed = false">

    <ul class="nav navbar-nav">
      <li ng-repeat="link in navbarLinks" ng-class="{active: $state.includes(link.sref)}">
        <a ui-sref="{{link.sref + '.list'}}">
          <span ng-class="link.icon && 'fa fa-' + link.icon"></span>
          {{link.label}}
        </a>
      </li>
    </ul>

  </div>

  <ul class="nav navbar-nav navbar-right">

    <li class="dropdown">
      <a href="" class="dropdown-toggle">
        Dropdown
        <span class="caret"></span>
      </a>
    </li>

  </ul>
</div>