<h3> Audit Logs </h3>
<div class="btn-group">
    <button type="button" class="btn btn-default" ng-model="button.active" bs-button>Previous</button>
    <button type="button" class="btn btn-default" ng-model="button.active" bs-button>Next</button>
</div>
<div class="control-group input-append">
    <label for="">
        From <input type="text"
                    name=""
                    id=""
                    ng-model="datepicker.date"
                    data-date-format="dd/mm/yyyy"
                    bs-datepicker />
        <button type="button" class="btn" data-toggle="datepicker">
            <i class="icon-calendar"></i>
        </button>
    </label>
    <label for="">
        To <input type="text"
                  name=""
                  id=""
                  ng-model="datepicker.date"
                  data-date-format="dd/mm/yyyy"
                  bs-datepicker />
        <button type="button" class="btn" data-toggle="datepicker">
            <i class="icon-calendar"></i>
        </button>
    </label>
</div>
<table class="table table-striped table-responsive">
    <thead ng-class="{'sort-enabled': logs.length>0}">
        <th>Date &amp; Time</th>
        <th>Version</th>
        <th>Action</th>
        <th>User</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr ng-repeat="log in logs | orderBy:sortable.predicate:sortable.reverse">
            <td ng-bind="log.dateTime"></td>
            <td ng-bind="log.version"></td>
            <td ng-bind="log.action"></td>
            <td ng-bind="log.user"></td>
            <td ng-bind="log.status"></td>
        </tr>
    </tbody>
</table>
