body.state-mapreduce{
    .run-status {
      margin-bottom: 25px;
    }

    .entry {
      font-weight: 700;
    }

  .panel-group {
    .panel.panel-default {
      > .panel-heading {
        > a {
          &:hover {
            text-decoration: none;
          }
          color: white;
        }
      }
    }
  }

  .component-box {
    margin-top: 20px;

    .task-item:nth-child(-n+7) {
      border-right: 1px solid black;
    }
  }
  &.theme-cdap {
    .table.table-status { margin-top: 0; }
  }
}
