
<div class="btn-group nested-tabs pull-right">
  <button class="btn btn-default"
      ng-repeat="tab in RunsController.tabs"
      ng-click="RunsController.selectTab(tab)"
      ng-class="{'active': tab.title == RunsController.activeTab.title}"
  >
    {{ tab.title }}
  </button>
</div>

<div>
  <my-program-status
    data-type="flows"
    data-runid="{{ RunsController.runs.selected.runid }}"
    data-runs="RunsController.runs"
  ></my-program-status>
</div>

<br/>
<div ng-include="RunsController.activeTab.template" ng-if="RunsController.tabs.length > 0"></div>
