.filterItm-box {
   width: 100%;
   padding-bottom: 20px;
  }

  .filter-type-box{
    width: 100%;
    display: inline-flex;
    padding-bottom: 10px;
  }
  .filter-type-dropdown{
    min-width: 100px;
  }

  .filter-column-box{
    width: 100%;
    display: inline-flex;
  }

  .filter-item-Container{
    padding-bottom: 30px
  }

  .value-seperator{
    padding-left: 5px;
    padding-right: 5px;
  }

  .value-input{
    width: 50px;
    height: 25px;
  }