.feature-selection-box {
  width: 100%;
  height: 99%;
  display: inline-flex;
  .grid-box {
    width: 70%;
    height: 100%;
  }
  .filter-box {
    width: 30%;
    height: 100%;
    .tab-header{
      font-size: 16px;
      font-weight: bold;
    }
    .tab-content{
      height: calc( 100% - 40px);
      .tab-pane{
        height:100%;
      }
    }
  }
}
