<my-side-panel
  data-panel-groups="PlumbController.pluginTypes"
  data-on-group-click-context="PlumbController"
  data-on-group-click="PlumbController.onPluginTypesClicked"

  data-placement="left"
  data-is-sub-menu="true"
  data-is-expanded="true"

  data-panel="PlumbController.plugins"
  data-on-panel-item-click-context="PlumbController"
  data-on-panel-item-click="PlumbController.onPluginItemClicked">
</my-side-panel>

<my-plumb data-reloaddag="PlumbController.reloadDAG"
          data-config="PlumbController.nodes"
          data-errors="PlumbController.errors">
</my-plumb>

<my-side-panel
  data-panel-groups="PlumbController.canvasOperations"
  data-on-group-click-context="PlumbController"
  data-on-group-click="PlumbController.onCanvasOperationsClicked"

  data-placement="right"
  data-is-expanded="true"
  
  data-is-sub-menu="false">
</my-side-panel>

<!-- Hidden links for downloading/uploading configs -->
<a class="sr-only" id="adapter-export-config-link" href="{{PlumbController.url}}" download="{{PlumbController.exportFileName}}.json">Export</a>
<my-file-select class="sr-only"
                id="adapter-import-config-link"
                data-button-icon="fa-upload"
                on-file-select="PlumbController.importFile($files)"
                data-button-label="Import">
</my-file-select>
