<div class="etlflowcontainer">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="wrapper">
        <div class="template" ng-class="{'plugin-added': !source['placeHolderSource']}">
          <div ng-click="editSourceProperties()">
            <span tooltip="{{source.name}}" ng-if="source.name.length > 18">{{source.name |  myEllipsis: 18}}</span>
            <span ng-if="source.name.length <= 18">{{source.name }}</span>
            <span class="fa fa-pencil fa-fw"
                  ng-if="!source.placeHolderSource"></span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="wrapper transform-wrapper">
        <div class="template transforms"
             ng-model="transforms"
             as-sortable="dragdrop">
          <div ng-repeat="transform in transforms"
               ng-class="{'plugin-added': !transform['placeHolderTransform']}"
               as-sortable-item>
            <div as-sortable-item-handle>
              <span ng-click="editTransformProperty(transform)" tooltip="{{transform.name}}" ng-if="transform.name.length > 18">{{transform.name |  myEllipsis: 18}}</span>
              <span ng-click="editTransformProperty(transform)" ng-if="transform.name.length <= 18">{{transform.name }}</span>
              <span class="fa fa-pencil fa-fw"
                    ng-click="editTransformProperty(transform)"
                    ng-if="!transform.placeHolderTransform"></span>
              <span class="fa fa-times fa-fw pull-right"
                    ng-click="deleteTransformProperty(transform)"
                    ng-if="!transform.placeHolderTransform"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="wrapper">
        <div class="template" ng-class="{'plugin-added': !sink['placeHolderSink']}">
          <div ng-click="editSinkProperties()">
            <span tooltip="{{sink.name}}" ng-if="sink.name.length > 18">{{sink.name |  myEllipsis: 18}}</span>
            <span ng-if="sink.name.length <= 18">{{sink.name }}</span>
            <span class="fa fa-pencil fa-fw"
                  ng-if="!sink.placeHolderSink"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
