<div class="panel panel-default" ng-init="metadataTabOpen=true">
  <div class="panel-heading" ng-click="metadataTabOpen = !metadataTabOpen">
    <div class="panel-title">
      <div class="clearfix">
        <span class="pull-left">
          Metadata
        </span>
        <i class="fa fa-fw pull-right"
            ng-class="{'fa-chevron-down': metadataTabOpen, 'fa-chevron-right': !metadataTabOpen}"></i>
      </div>
    </div>
  </div>
  <div class="panel-body" ng-if="metadataTabOpen">
    <!-- {{AdapterCreateController.model.metadata | json}}
    <hr>
    {{AdapterCreateController.adapterTypes}} -->

    <div class="row">
      <div class="col-md-4 col-xs-12">
        <label for="adapaterType" class="control-label">Choose an Application Template</label>
        <select
          id="adapaterType"
          name="adaptertype"
          class="form-control"
          ng-model="AdapterCreateController.model.metadata['type']"
          ng-change="AdapterCreateController.onMetadataChange(adapter.name)"
          ng-options="adapter.name as adapter.name for adapter in AdapterCreateController.adapterTypes track by adapter.name" required>
          </select>
      </div>
      <div class="col-md-3 col-xs-12">
        <label class="control-label">Name</label>
        <!-- <ui-select ng-model="selectedAdapterDraft"
           on-select="onDraftChange($item, $model)"
           theme="bootstrap"
           ng-disabled="disabled"
           tagging-tokens="ENTER|TAB"
           tagging tagging-label="(custom 'new' label)"
           reset-search-input="false"
           title="Create New or Select draft">
          <ui-select-match placeholder="Create New or Select draft" > {{selectedAdapterDraft}}</ui-select-match>
          <ui-select-choices repeat="adapter in adaptersDraftList| filter: $select.search">
            <div ng-bind-html="adapter | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select> -->
        <input name="name" class="form-control" ng-model="AdapterCreateController.model.metadata.name"/>
      </div>
      <div class="col-md-5 col-xs-12">
        <label class="control-label">Description</label>
        <input class="form-control" ng-model="AdapterCreateController.model.metadata.description"/>
      </div>
    </div>
  </div>
</div>
