<div class="plugins">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="panel panel-default" ng-init="sourcesTabOpen=true">
        <div class="panel-heading clearfix" ng-click="sourcesTabOpen = !sourcesTabOpen">
          <div class="pull-left">
            <span class="icon-ETLsources"></span>
            <span> Source ({{AdapterCreateController.defaultSources.length}}) </span>
          </div>
          <i class="fa fa-fw pull-right"
              ng-class="{'fa-chevron-down': sourcesTabOpen, 'fa-chevron-right': !sourcesTabOpen}"></i>
        </div>

        <div class="panel-body" ng-if="sourcesTabOpen">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-group" ng-if="AdapterCreateController.defaultSources.length > 0">
                <li class="list-group-item"
                    ng-repeat="source in AdapterCreateController.defaultSources"
                    ng-click="DefaultCanvasController.addSource(source.name)">
                  <div>
                    <span class="fa {{source.icon}}" ></span>
                    <span> {{source.name}} </span>
                  </div>

                  <div ng-if="source.description.length <= 54"
                       class="description-overflow">
                    {{source.description}}
                  </div>

                  <div ng-if="source.description.length > 54"
                       class="description-overflow">
                    <span class="fa fa-info-circle"
                          tooltip="{{source.description}}"
                          tooltip-append-to-body="true">
                    </span>
                    {{source.description}}
                  </div>

                </li>
              </ul>
              <div class="well well-xs text-center" ng-if="AdapterCreateController.defaultSources.length === 0">
                <span> No Sources Found </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="panel panel-default" ng-init="transformsTabOpen=true">
        <div class="panel-heading clearfix" ng-click="transformsTabOpen =!transformsTabOpen">
          <div class="pull-left">
            <span class="icon-ETLtransforms"></span>
            <span> Transforms ({{AdapterCreateController.defaultTransforms.length}}) </span>
          </div>
          <i class="fa fa-fw pull-right"
              ng-class="{'fa-chevron-down': transformsTabOpen, 'fa-chevron-right': !transformsTabOpen}"></i>
        </div>

        <div class="panel-body" ng-if="transformsTabOpen">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-group" ng-if="AdapterCreateController.defaultTransforms.length > 0">
                <li class="list-group-item"
                    ng-repeat="transform in AdapterCreateController.defaultTransforms"
                    ng-click="DefaultCanvasController.addTransform(transform.name)">
                  <div>
                      <span class="fa {{transform.icon}}"></span>
                      <span> {{transform.name}} </span>
                  </div>

                  <div ng-if="transform.description.length <= 54"
                       class="description-overflow">
                    {{transform.description}}
                  </div>

                  <div ng-if="transform.description.length > 54"
                       class="description-overflow">
                    <span class="fa fa-info-circle"
                          tooltip="{{transform.description}}"
                          tooltip-append-to-body="true">
                    </span>
                    {{transform.description}}
                  </div>
                </li>
              </ul>
              <div class="well well-xs text-center" ng-if="AdapterCreateController.defaultTransforms.length === 0">
                <span> No Transforms Found </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="panel panel-default" ng-init="sinksTabOpen=true">
        <div class="panel-heading clearfix" ng-click="sinksTabOpen = !sinksTabOpen">
          <div class="pull-left">
            <span class="icon-ETLsinks"></span>
            <span> Sinks ({{AdapterCreateController.defaultSinks.length}}) </span>
          </div>

          <i class="fa fa-fw pull-right"
              ng-class="{'fa-chevron-down': sinksTabOpen, 'fa-chevron-right': !sinksTabOpen}"></i>
        </div>

        <div class="panel-body" ng-if="sinksTabOpen">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-group" ng-if="AdapterCreateController.defaultSinks.length > 0">
                <li class="list-group-item clearfix"
                    ng-repeat="sink in AdapterCreateController.defaultSinks"
                    ng-click="DefaultCanvasController.addSink(sink.name)">
                    <div >
                      <span class="fa {{sink.icon}}"></span>
                      <span> {{sink.name}} </span>
                    </div>

                    <div ng-if="sink.description.length <= 54"
                         class="description-overflow">
                      {{sink.description}}
                    </div>

                    <div ng-if="sink.description.length > 54"
                         class="description-overflow">
                      <span class="fa fa-info-circle"
                            tooltip="{{sink.description}}"
                            tooltip-append-to-body="true">
                      </span>
                      {{sink.description}}
                    </div>

                </li>
              </ul>
              <div class="well well-xs text-center" ng-if="defaultSinks.length === 0">
                <span> No Sinks Found </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
