<div class="plugins">
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default" ng-init="sourcesTabOpen=true">
        <div class="panel-heading clearfix" ng-click="sourcesTabOpen = !sourcesTabOpen">
          <span class="pull-left"> Source ({{defaultSources.length}}) </span>
          <i class="fa fa-fw pull-right"
              ng-class="{'fa-chevron-down': sourcesTabOpen, 'fa-chevron-right': !sourcesTabOpen}"></i>
        </div>

        <div class="panel-body" ng-if="sourcesTabOpen">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-group" ng-if="defaultSources.length > 0">
                <li class="list-group-item clearfix"
                    ng-repeat="source in defaultSources">
                  <span class="pull-left"> {{source.name}} </span>
                  <span class="fa fa-plus-square pull-right" ng-click="handleSourceDrop(source.name)"></span>
                </li>
              </ul>
              <div class="well well-xs text-center" ng-if="defaultSources.length === 0">
                <span> No Sources Found </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default" ng-init="transformsTabOpen=true">
        <div class="panel-heading clearfix" ng-click="transformsTabOpen =!transformsTabOpen">
          <span class="pull-left"> Transforms ({{defaultTransforms.length}}) </span>
          <i class="fa fa-fw pull-right"
              ng-class="{'fa-chevron-down': transformsTabOpen, 'fa-chevron-right': !transformsTabOpen}"></i>
        </div>

        <div class="panel-body" ng-if="transformsTabOpen">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-group" ng-if="defaultTransforms.length > 0">
                <li class="list-group-item clearfix"
                    ng-repeat="transform in defaultTransforms">
                  <span class="pull-left"> {{transform.name}} </span>
                  <span class="fa fa-plus-square pull-right" ng-click="handleTransformDrop(transform.name)"></span>
                </li>
              </ul>
              <div class="well well-xs text-center" ng-if="defaultTransforms.length === 0">
                <span> No Transforms Found </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default" ng-init="sinksTabOpen=true">
        <div class="panel-heading clearfix" ng-click="sinksTabOpen = !sinksTabOpen">
          <span class="pull-left"> Sinks ({{defaultSinks.length}}) </span>
          <i class="fa fa-fw pull-right"
              ng-class="{'fa-chevron-down': sinksTabOpen, 'fa-chevron-right': !sinksTabOpen}"></i>
        </div>

        <div class="panel-body" ng-if="sinksTabOpen">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-group" ng-if="defaultSinks.length > 0">
                <li class="list-group-item clearfix"
                    ng-repeat="sink in defaultSinks">
                  <span class="pull-left"> {{sink.name}} </span>
                  <span class="fa fa-plus-square pull-right" ng-click="handleSinkDrop(sink.name)"></span>
                </li>
              </ul>
              <div class="well well-xs text-center" ng-if="defaultSinks.length === 0">
                <span> No Sinks Found </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
