<div class="modal-header">
  <div class="col-xs-6 col-md-9">
    <h3 class="modal-title"> Edit Settings</p>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="btn-group modal-btns">
      <div>
        <a class="btn" ng-click="reset()">
          <span class="fa fa-repeat"></span>
        </a>
      </div>
      <div>
        <a class="btn" ng-click="$close('save')">
          <span class="fa fa-floppy-o"></span>
        </a>
      </div>
      <div>
        <a class="btn" ng-click="$close('cancel')">
          <span class="fa fa-remove"></span>
          <span class="sr-only"> Close </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal-body settings-modal">
  <form class="form-horizontal">

    <div class="form-group" ng-if="metadata.template.type === 'ETLBatch'">
      <label class="col-sm-2 control-label">Cron Expression</label>
      <div class="col-sm-10">
        <div data-name="field"
             class="my-widget-container"
             data-model="metadata.template.schedule['cron']"
             data-myconfig="{properties: {}, widget: 'schedule'}"
             widget-container>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="metadata.template.type === 'ETLRealtime'">
      <label class="col-sm-2 control-label">Instances</label>
      <div class="col-sm-10">
        <input type="number"
               ng-model="metadata.template.instance" class="form-control" min="1">
      </div>
    </div>

  </form>
</div>
