<div class="modal-header clearfix">
  <h3 class="modal-title pull-left"> Adapter Config </h3>
  <a class="btn pull-right" ng-click="$close()">
    <span class="fa fa-remove"></span>
    <span class="sr-only"> Close </span>
  </a>
</div>
<div class="modal-body">
  <fieldset disabled="true" class="view-plugin-json">
    <my-json-textbox ng-model="config"></my-json-textbox>
  </fieldset>
</div>
<div class="modal-footer">
  <div class="form-group">
    <a class="btn btn-default" ng-click="$close()">Close</a>
  </div>
</div>
