<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!--
  Copyright © 2014-2016 Cask Data, Inc.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
  -->
<configuration>

  <!-- General Configuration -->

  <property>
    <name>hdfs.namespace</name>
    <value>/${root.namespace}</value>
    <description>
      Root directory for HDFS files written by CDAP
    </description>
  </property>
  
  <property>
    <name>hdfs.user</name>
    <value>yarn</value>
    <description>
      User name for accessing HDFS
    </description>
  </property>

  <property>
    <name>root.namespace</name>
    <value>cdap</value>
    <description>
      Root for this CDAP instance; used as the parent (or root) node for
      ZooKeeper, as the directory under which all CDAP data and metadata is
      stored in HDFS, and as the prefix for all HBase tables created by
      CDAP; must be composed of alphanumeric characters
    </description>
  </property>

  <property>
    <name>zookeeper.quorum</name>
    <value>127.0.0.1:2181/${root.namespace}</value>
    <description>
      ZooKeeper quorum string; specifies the ZooKeeper host:port; substitute the quorum
      (FQDN1:2181,FQDN2:2181,...) for the components shown here
    </description>
  </property>


  <!-- Applications Configuration -->

  <property>
    <name>master.services.bind.address</name>
    <value>0.0.0.0</value>
    <description>
      Bind address for app fabric service and dataset service
    </description>
  </property>


  <!-- Datasets Configuration -->

  <property>
    <name>data.tx.bind.address</name>
    <value>0.0.0.0</value>
    <description>
      Transaction service bind address
    </description>
  </property>


  <!-- Kafka Server Configuration -->

  <property>
    <name>kafka.server.default.replication.factor</name>
    <value>1</value>
    <description>
      CDAP Kafka service replication factor; used to replicate Kafka
      messages across multiple machines to prevent data loss in the event of
      a hardware failure. The recommended setting is to run at least two
      CDAP Kafka servers. If you are running two CDAP Kafka servers, set
      this value to 2; otherwise, set it to the maximum number of tolerated
      machine failures plus one (assuming you have that number of machines).
    </description>
  </property>
  
  <property>
    <name>kafka.server.log.dirs</name>
    <value>/tmp/kafka-logs</value>
    <description>
      Comma-separated list of CDAP Kafka service log storage directories
    </description>
  </property>

  <property>
    <name>kafka.seed.brokers</name>
    <value>FQDN1:9092,FQDN2:9092</value>
    <description>
      Comma-separated list of CDAP Kafka service brokers; for distributed CDAP, 
      replace with list of FQDN:port brokers
    </description>
  </property>


  <!-- Router Configuration -->

  <property>
    <name>router.bind.address</name>
    <value>0.0.0.0</value>
    <description>
      CDAP Router service bind address
    </description>
  </property>
  
  <property>
    <name>router.bind.port</name>
    <value>11015</value>
    <description>
      CDAP Router service bind port
    </description>
  </property>

  <property>
    <name>router.server.address</name>
    <value>{ROUTER-HOST-IP}</value>
    <description>
      CDAP Router service address to which CDAP UI connects
    </description>
  </property>

  <property>
    <name>router.server.port</name>
    <value>${router.bind.port}</value>
    <description>
      CDAP Router service port to which CDAP UI connects
    </description>
  </property>


  <!-- UI Configuration -->
  
  <property>
    <name>dashboard.bind.port</name>
    <value>11011</value>
    <description>
      CDAP UI bind port
    </description>
  </property>

</configuration>
