<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!--
  Copyright © 2014-2015 Cask Data, Inc.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
  -->
<configuration>

  <!-- General Configuration -->

  <property>
    <name>hdfs.namespace</name>
    <value>/${root.namespace}</value>
    <description>
      Root directory for HDFS files written by CDAP
    </description>
  </property>
  
  <property>
    <name>hdfs.user</name>
    <value>yarn</value>
    <description>
      User name for accessing HDFS
    </description>
  </property>

  <property>
    <name>root.namespace</name>
    <value>cdap</value>
    <description>
      Root for this CDAP instance; used as the parent (or root) node for
      ZooKeeper, as the directory under which all CDAP data and metadata is
      stored in HDFS, and as the prefix for all HBase tables created by
      CDAP; must be composed of alphanumeric characters
    </description>
  </property>

  <property>
    <name>zookeeper.quorum</name>
    <value>FQDN1:2181,FQDN2:2181/${root.namespace}</value>
    <description>
      ZooKeeper quorum string; specifies the ZooKeeper host:port; 
      substitute the quorum for the components shown here (FQDN1:2181,FQDN2:2181)
    </description>
  </property>


  <!-- Router Configuration -->

  <property>
    <name>router.bind.address</name>
    <value>0.0.0.0</value>
    <description>
      Router server address
    </description>
  </property>
  
  <property>
    <name>router.bind.port</name>
    <value>10000</value>
    <description>
      Port number that the CDAP router should bind to for HTTP connections
    </description>
  </property>

  <property>
    <name>router.server.address</name>
    <value>{ROUTER-HOST-IP}</value>
    <description>
      Router address to which CDAP UI connects
    </description>
  </property>

  <property>
    <name>router.server.port</name>
    <value>${router.bind.port}</value>
    <description>
      Router port to which CDAP UI connects
    </description>
  </property>


  <!-- Applications Configuration -->

  <property>
    <name>app.bind.address</name>
    <value>0.0.0.0</value>
    <description>
      Host address on which the app fabric server is started
    </description>
  </property>


  <!-- Datasets Configuration -->

  <property>
    <name>data.tx.bind.address</name>
    <value>0.0.0.0</value>
    <description>
      Transaction service inet address
    </description>
  </property>


  <!-- Kafka Server Configuration -->

  <property>
    <name>kafka.default.replication.factor</name>
    <value>1</value>
    <description>
      Kafka replication factor; used to replicate Kafka messages across
      multiple machines to prevent data loss in the event of a hardware
      failure. The recommended setting is to run at least two Kafka servers.
      If you are running two Kafka servers, set this value to 2; otherwise,
      set it to the number of Kafka servers.
    </description>
  </property>
  
  <property>
    <name>kafka.log.dir</name>
    <value>/tmp/kafka-logs</value>
    <description>
      Kafka log storage directory
    </description>
  </property>

  <property>
    <name>kafka.seed.brokers</name>
    <value>FQDN1:9092,FQDN2:9092</value>
    <description>
      List of Kafka brokers (comma separated, replace with correct values)
    </description>
  </property>


  <!-- Metrics Configuration -->
  
  <property>
    <name>metrics.query.bind.address</name>
    <value>0.0.0.0</value>
    <description>
      Metrics query server host address
    </description>
  </property>


  <!-- UI Configuration -->
  
  <property>
    <name>dashboard.bind.port</name>
    <value>9999</value>
    <description>
      CDAP UI bind port
    </description>
  </property>

</configuration>
