<div ncy-breadcrumb></div>
<table class="table table-striped table-responsive" cask-sortable>
  <thead>
    <tr>
      <th data-predicate="name" data-predicate-default="reverse"> Name </th>
      <th> Description </th>
      <th> App </th>
      <th> Status </th>
      <th> Action (start/pause)</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="program in flows | orderBy:sortable.predicate:sortable.reverse">
      <td >
        <a ng-bind="program.name"
            ui-sref="flows.detail({programId: program.id})"
           >
        </a>
      </td>
      <td ng-bind="program.description">  </td>
      <td ng-bind="program.app">  </td>
      <td ng-bind="program.status"> </td>
      <td>
        <a ng-click="doProgram(program.id, 'start')" ng-if="program.status === 'STOPPED'" href="">
          <span class="fa fa-play"> </span>
        </a>
        <a ng-click="doProgram(program.id, 'stop')" ng-if="program.status === 'RUNNING'" href="">
          <i class="fa fa-pause"> </i>
        </a>
        <a ng-if="program.status === 'UPDATING'" href="">
          <i class="fa fa-refresh fa-spin"></i>
        </a>
      </td>
    </tr>
  <tbody>
</table>
