<ul class="dropdown-menu" role="menu">

  <li role="presentation">
    <a role="menuitem" tabindex="-1" ng-click="addWidget()">
      <span class="fa fa-fw fa-dashboard pull-right"></span>
      Add widget
    </a>
  </li>

  <li role="presentation">
    <a href="" role="menuitem" tabindex="-1" ng-click="toggleDragDrop()">
      <span ng-if="currentBoard.draggable">Disable Drag & Drop</span>
      <span ng-if="!currentBoard.draggable">Enable Drag & Drop</span>
    </a>
  </li>

  <li role="presentation" class="divider"></li>

  <li role="presentation" class="dropdown-header text-center">
    <span class="fa fa-fw fa-columns"></span>
    Columns
  </li>

  <li role="presentation">
    <ul class="list-inline text-center">
      <li ng-click="changeColumn(2)" ng-class="{'selected': currentColumn() === 2}">
        Two
      </li>
      <li ng-click="changeColumn(3)" ng-class="{'selected': currentColumn() === 3}">
        Three
      </li>
      <li ng-click="changeColumn(4)" ng-class="{'selected': currentColumn() === 4}">
        Four
      </li>
    </ul>
  </li>

  <li role="presentation" class="divider"></li>

  <li role="presentation">
    <a role="menuitem" tabindex="-1" href=""
      ng-click="caskPrompt('Dashboard name', dashboards[dashboards.activeIndex].title)"
      cask-promptable="dashboards[dashboards.activeIndex].rename($value)"
    >
      <span class="fa fa-fw fa-pencil pull-right"></span>
      Rename
    </a>
  </li>

  <li role="presentation" ng-class="{disabled: dashboards.length<2}">
    <a role="menuitem" tabindex="-1" href=""
      ng-click="dashboards.length>1 && reorderDashboard(-1)"
    >
      <span class="fa fa-fw fa-arrow-left pull-right"></span>
      Move Left
    </a>
  </li>

  <li role="presentation" ng-class="{disabled: dashboards.length<2}">
    <a role="menuitem" tabindex="-1" href=""
      ng-click="dashboards.length>1 && reorderDashboard()"
    >
      <span class="fa fa-fw fa-arrow-right pull-right"></span>
      Move Right
    </a>
  </li>

  <li role="presentation" class="divider"></li>

  <li role="presentation">
    <a role="menuitem" tabindex="-1" href=""
      ng-click="caskConfirm()"
      cask-confirmable="removeDashboard()"
      data-confirmable-content="Really delete the dashboard?"
    >
      <span class="fa fa-fw fa-trash pull-right"></span>
      Delete
    </a>
  </li>

</ul>
