
  <div class="row" ng-if="isSource">
    <div class="col-lg-8">
      <div class="modal-content-scroll" ng-class="{'padding-offset-right': isSource, 'padding-offset-left': isTransform}">
        <div ng-include="'/assets/features/adapters/templates/create/popovers/plugin-edit-properties-template.html'"></div>
      </div>
    </div>

    <div class="col-lg-4">
      <div ng-include="'/assets/features/adapters/templates/create/popovers/plugin-edit-output-schema.html'"></div>
    </div>

  </div>

  <div ng-if="isTransform" class="row">
    <div class="col-lg-3">
      <div ng-include="'/assets/features/adapters/templates/create/popovers/plugin-edit-input-schema.html'"></div>
    </div>

    <div class="col-lg-5">
      <div class="modal-content-scroll" ng-class="{'padding-offset-right': isSource, 'padding-offset-left': isTransform}">
        <div ng-include="'/assets/features/adapters/templates/create/popovers/plugin-edit-properties-template.html'"></div>
      </div>
    </div>

    <div class="col-lg-4">
      <div ng-include="'/assets/features/adapters/templates/create/popovers/plugin-edit-output-schema.html'"></div>
    </div>
  </div>


  <div class="row" ng-if="isSink">
    <div class="col-lg-3">
      <div ng-include="'/assets/features/adapters/templates/create/popovers/plugin-edit-input-schema.html'"></div>
    </div>
    <div class="col-lg-9">
      <div class="modal-content-scroll">

        <div class="row">
          <div class="col-xs-12">
            <div class="padding-offset-left">
              <div ng-include="'/assets/features/adapters/templates/create/popovers/plugin-edit-properties-template.html'"></div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="padding-offset-right padding-offset-left">

              <div class="schema-error">
                <ul>
                  <li class="text-danger" ng-repeat="error in errors">{{ error }}</li>
                </ul>
              </div>

              <h4 class="sink-schema">
                <span>Schema</span>
                <button
                  class="btn btn-sm btn-default pull-right"
                  ng-click="PluginEditController.schemaClear()"
                  ng-if="(!plugin.implicitSchema && !isDisabled)"
                  ng-disabled="plugin.implicitSchema || plugin.properties.format === 'clf' || plugin.properties.format === 'syslog'">
                  Clear
                </button>
              </h4>

              <fieldset ng-disabled="isDisabled">
                <my-schema-editor
                  ng-model="plugin.outputSchema"
                  data-disabled="plugin.implicitSchema"
                  plugin-properties="plugin.properties"
                  config="PluginEditController.schemaProperties">
                </my-schema-editor>
              </fieldset>

              <div ng-if="!plugin.outputSchema && isDisabled">
                <div class="well well-lg">
                  <h4>There is no output schema</h4>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
