<!--
  I have passed level-1 vandame

  The spit follows like this,

  - Show info about the plugin (iframe)
  - OR: Show regular properties view
    - Show loading icon while fetching plugin config
    - OR: Don't show loading icon once fetch is complete
      - Show "No properties for plugin" message(if no property present)
      - OR: Show properties of the plugin
        - Show non-configured plugin properties as simple textboxes
        - OR: Show configured plugin properties (+ properties missed in plugin config json)


-->
<div ng-controller="PluginEditController as PluginEditController">
  <div class="modal-header" ng-init="showinfo = false">
    <div ng-class="{ 'col-xs-6 col-md-7': !isDisabled, 'col-xs-8 col-md-8': isDisabled }">
      <h3 class="modal-title">{{plugin.name}} Properties</h3>
      <p>
        <span tooltip="{{plugin.description}}"
              tooltip-append-to-body="true">
          {{plugin.description}}
        </span>
      </p>
    </div>

    <div ng-class="{ 'col-xs-6 col-md-5': !isDisabled, 'col-xs-4 col-md-4': isDisabled }">
      <div class="btn-group modal-btns" ng-class="{'hideNonInfoButtons': showinfo}">
        <div ng-if="!isDisabled" class="non-info">
          <a class="btn" ng-click="PluginEditController.reset()">
            <span class="fa fa-repeat"></span>
          </a>
        </div>
        <div ng-if="!isDisabled" class="non-info">
          <a class="btn" ng-click="PluginEditController.save()">
            <span class="fa fa-floppy-o"></span>
          </a>
        </div>
        <div ng-class="{'active-info': showinfo === true}">
          <a class="btn"
              ng-click="showinfo = !showinfo;">
            <span ng-class="{'fa-arrow-left': showinfo, 'fa-info': !showinfo}"
                  class="fa">
            </span>
          </a>
        </div>
        <div ng-if="!isDisabled" class="close-button">
          <a class="btn" ng-click="$close('cancel')">
            <span class="fa fa-remove"></span>
            <span class="sr-only"> Close </span>
          </a>
        </div>

        <!-- Only shows the close button on already created adapter -->
        <div ng-if="isDisabled" class="close-button">
          <a class="btn" ng-click="$close()">
            <span class="fa fa-remove"></span>
            <span class="sr-only">Close</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-body plugin-modal" ng-class="{'modal-sink': plugin.type === 'sink'}">
    <div ng-show="!showinfo">

      <div ng-if="PluginEditController.configfetched">

        <div ng-if="PluginEditController.noproperty !== 0">
          <div ng-if="PluginEditController.noconfig" ng-include="'/assets/features/adapters/templates/create/popovers/plugin-edit-noconfig-form.html'"></div>

          <div ng-if="(PluginEditController.configfetched && !PluginEditController.noconfig)">
            <div ng-include="'/assets/features/adapters/templates/create/popovers/plugin-edit-config-form.html'"></div>
          </div>
        </div>

        <div ng-if="PluginEditController.noproperty === 0">
          <div ng-include="'/assets/features/adapters/templates/create/popovers/plugin-edit-noproperty-form.html'"></div>
        </div>
      </div>

      <div ng-if="!PluginEditController.configfetched">
        <h3>
          <span class="fa fa-spinner fa-spin"></span>
          <span>Loading...</span>
        </h3>
      </div>

    </div>

    <div ng-show="showinfo" class="embed-responsive embed-responsive-4by3">
      <iframe class="ember-responsive-item" src="{{PluginEditController.trustSrc(PluginEditController.infoUrl)}}"></iframe>
    </div>

  </div>
</div>
