<div class="row">
  <div class="col-xs-12">
    <div class="modal-content-scroll" ng-class="{'padding-offset-right': isSource, 'padding-offset-left': isTransform}">
      <fieldset ng-disabled="isDisabled">
        <div ng-if="PluginEditController.noconfig">
          <div class="well well-lg widget-group-container">
            <div ng-repeat="(name, value) in plugin.properties track by $index">
              <div class="form-group">
                <label ng-init="title='info';description=plugin._backendProperties[name].description"
                        class="control-label">
                  <span>{{name}}</span>
                  <span class="fa fa-info-circle"
                        tooltip="{{description}}"
                        tooltip-placement="right"
                        tooltip-append-to-body="true">
                  </span>
                  <span class="fa fa-asterisk" ng-if="plugin.properties[name].required"></span>
                </label>
                <input type="text"
                        class="form-control"
                        ng-model="plugin.properties[name]"
                        ng-disabled="plugin.pluginTemplate && plugin.lock[name]" />

              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
