

<h3>
  <span>Configuration</span>
  <button class="btn btn-default pull-right" ng-if="!IntegrationsController.navigatorSetup.popoverEnabled && IntegrationsController.navigatorState.status !== 'RUNNING'" ng-click="IntegrationsController.editConfiguration($event)">
    Edit
  </button>
</h3>
<form name="navigatorConfiguration" class="form-horizontal">
  <fieldset ng-disabled="!IntegrationsController.navigatorSetup.popoverEnabled">
    <h4>
      Cloudera
    </h4>
    <div class="form-group">
      <label class="control-label col-xs-4">Hostname</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.navigatorConfig.navigatorHostName">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4">Username</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.navigatorConfig.username">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4">Password</label>
      <div class="col-xs-8">
        <input type="password" class="form-control" ng-model="IntegrationsController.navigatorInfo.navigatorConfig.password">
      </div>
    </div>

    <h5 class="optional-settings-toggle" ng-click="IntegrationsController.optionalSettings.navigator = !IntegrationsController.optionalSettings.navigator">
      <span class="fa fa-caret-right" ng-show="!IntegrationsController.optionalSettings.navigator">
      </span>
      <span class="fa fa-caret-down" ng-show="IntegrationsController.optionalSettings.navigator">
      </span>
      <span>Optional Settings</span>
    </h5>

    <div ng-if="IntegrationsController.optionalSettings.navigator">
      <div class="form-group">
        <label class="control-label col-xs-4">Navigator Port</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.navigatorConfig.navigatorPort">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-4">Auto Commit</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.navigatorConfig.autocommit">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-4">Namespace</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.navigatorConfig.namespace">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-4">Application URL</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.navigatorConfig.applicationURL">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-4">File Format</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.navigatorConfig.fileFormat">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-4">Navigator URL</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.navigatorConfig.navigatorURL">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-4">Metadata Parent URI</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.navigatorConfig.metadataParentURI">
        </div>
      </div>

    </div>

    <h4>
      Kafka
    </h4>
    <div class="form-group">
      <label class="control-label col-xs-4">Zookeeper String</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.auditKafkaConfig.zookeeperString">
      </div>
    </div>

    <h5 class="optional-settings-toggle" ng-click="IntegrationsController.optionalSettings.kafka = !IntegrationsController.optionalSettings.kafka">
      <span class="fa fa-caret-right" ng-show="!IntegrationsController.optionalSettings.kafka">
      </span>
      <span class="fa fa-caret-down" ng-show="IntegrationsController.optionalSettings.kafka">
      </span>
      <span>Optional Settings</span>
    </h5>

    <div ng-if="IntegrationsController.optionalSettings.kafka">
      <div class="form-group">
        <label class="control-label col-xs-4">Topic</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.auditKafkaConfig.topic">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-4">Num Partitions</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.auditKafkaConfig.numPartitions">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-xs-4">Offset Dataset</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="IntegrationsController.navigatorInfo.auditKafkaConfig.offsetDataset">
        </div>
      </div>
    </div>
  </fieldset>

  <div class="configurations-buttons" ng-if="IntegrationsController.navigatorSetup.popoverEnabled">
    <button class="btn btn-default pull-left" ng-disabled="IntegrationsController.saving" ng-click="IntegrationsController.cancelSetup()">
      Cancel
    </button>
    <button class="btn btn-success pull-right" ng-disabled="!IntegrationsController.validateFields() || IntegrationsController.saving" ng-click="IntegrationsController.saveNavigatorSetup()">
      <span ng-if="!IntegrationsController.saving">Save</span>
      <span ng-if="IntegrationsController.saving">
        <span class="fa fa-spin fa-refresh"></span>
        <span>Saving</span>
      </span>
    </button>
  </div>

</form>
