<div ng-if="$state.current.name === 'admin.namespace.detail.apps.metadata'">
  <div class="row">
      <div class="col-xs-6">
          <h2 ng-bind="apps.name | caskCapitalizeFilter"></h2>
      </div>
      <div class="col-xs-6">

          <div class="text-right">
            <a class="btn btn-default"
              data-template="/assets/features/admin/templates/partials/app-dd.html"
              bs-dropdown>
                Actions
                <span class="caret"></span>
            </a>
          </div>
      </div>
  </div>

  <div class="table-responsive">
      <table class="table table-curved" cask-sortable>
          <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Description</th>
              </tr>
          </thead>
          <tbody>
              <td>{{ ::apps.name }}</td>
              <td>{{ ::apps.version}}</td>
              <td>{{ ::apps.description }}</td>
          </tbody>
      </table>
  </div>
</div>

<div ui-view></div>
