<div class="row">
    <div class="col-xs-6">
        <h3 ng-bind="apps.name | caskCapitalizeFilter"></h3>
    </div>
    <div class="col-xs-6">

        <div class="h3 text-right">
          <a class="btn btn-default"
            data-template="/assets/features/admin/templates/partials/app-dd.html"
            bs-dropdown>
              Actions
              <span class="caret"></span>
          </a>
        </div>
    </div>
</div>

<table class="table table-responsive">
    <tr>
        <th>Name</th>
        <td>{{ ::apps.name }}</td>
    </tr>
    <tr>
        <th>Version</th>
        <td>{{ ::apps.version}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ ::apps.description }}</td>
    </tr>
</table>
