<div class="modal-header clearfix">
    <h3 class="modal-title pull-left">Create a Stream</h3>
    <a class="btn pull-right" ng-click="closeModal()">
      <span class="fa fa-remove"></span>
      <span class="sr-only"> Close </span>
    </a>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">
        <span>Stream ID</span>
        <span class="fa fa-asterisk"></span>
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="streamId" placeholder="Stream ID" name="streamId" cask-focus="streamId">
        <div class="alert alert-danger alert-dismissible"
             ng-show="error"
             role="alert">
          <button type="button"
                  class="close"
                  ng-click="error=null"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p><i class="fa fa-exclamation-circle"></i>  {{error}}</p>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="closeModal()">Cancel</button>
    <button class="btn btn-success"
            ng-disabled="isSaving == true"
            ng-click="createStream()"
            ng-class="{disabled: streamId.length === 0}">
      <div ng-if="isSaving == true" >
        <span class="fa fa-spin fa-refresh"></span>
      </div>
      <span>Create</span>
    </button>
</div>
