.detail-step-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 8px;
  padding-top: 20px;
  padding-left: 20px;
  .field-row {
    display: flex;
    padding-bottom: 10px;
    .name {
      width: 200px;
      border-radius: 0.25rem;
      line-height: 2.5;
      height: 32px;
      font-size: 16px;
      font-weight: 500;
    }
    .colon {
      height: 32px;
      padding: 4px 10px;
      color: grey;
    }
    .value {
      width: 350px;
      height: 32px;
    }
    .description {
      width: 350px;
      min-height: 120px;
      border-radius: 0.25rem;
      border-color: grey;
    }
    .btn-margin {
      margin: 5px;
    }
  }
}
