<div class="row">
  <div class="col-xs-12">
    <div class="btn btn-success" ng-click="MyRuleFactoryCtrl.generateScript()">
      Save
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Fields
        </div>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a href=""
              class="list-group-item"
              ng-repeat="field in MyRuleFactoryCtrl.inputFields"
              ng-click="MyRuleFactoryCtrl.onFieldClicked(field)">
            {{field.name}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="rule-container">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Rules
          </div>
        </div>
        <div class="panel-body">
          <div ng-repeat="field in MyRuleFactoryCtrl.fields"
                ng-if="MyRuleFactoryCtrl.fields.length > 0">
            <my-rules-container
              data-field-obj="field"
              data-on-delete="MyRuleFactoryCtrl.removeField"
              data-on-delete-context="MyRuleFactoryCtrl">
            </my-rules-container>
          </div>
          <div ng-if="MyRuleFactoryCtrl.fields.length == 0">
            <div class="well well-lg">
              <h3>Add fields to add rules to them</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pre>
  {{MyRuleFactoryCtrl.fields | json}}
</pre>
