<h2> {{$stateParams.nsadmin}}: Apps </h2>

<table class="table table-striped table-responsive" cask-sortable>

    <tr>
        <th>Type, Version:</th>
        <td>
            <a ui-sref="" ng-bind="details.type"></a>
            <span ng-bind="details.version"></span>
        </td>
    </tr>
    <tr>
        <th>ID:</th>
        <td ng-bind="details.id"></td>
    </tr>
    <tr>
        <th>Display Name:</th>
        <td ng-bind="details.displayName"></td>
    </tr>
    <tr>
        <th>Description:</th>
        <td ng-bind="details.description"></td>
    </tr>
    <tr>
        <th>Properties:</th>
        <td>
            <table>
                <tr ng-repeat="property in details.properties">
                    <td ng-bind="property.key"></td>
                    <td ng-bind="property.value"></td>
                </tr>
            </table>
        </td>
    </tr>

</table>
