<h2> {{$stateParams.nsadmin}}: Applications </h2>

<a class="btn btn-default pull-right">Add App</a>
<div class="clearfix"></div>
<div class="pull-right">
    <a class="btn btn-default">Previous</a>
    <a class="btn btn-default">Next</a>
</div>

<table class="table">
    <thead>
        <th>Name</th>
        <th>Version</th>
        <th>Type</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>Sample App</td>
            <td>0.0</td>
            <td>Standard</td>
            <td>Nothing fancy</td>
        </tr>
    </tbody>
</table>
