<div class="btn-group nested-tabs pull-right">
  <button class="btn btn-default"
      ng-repeat="tab in RunsController.tabs"
      ng-click="RunsController.selectTab(tab)"
      ng-class="{'active': tab.title == RunsController.activeTab.title}"
  >
    {{ tab.title }}
  </button>
</div>

<my-program-status
  data-type="services"
  data-runid="{{ RunsController.runs.selected.runid }}"
  data-runs="RunsController.runs"
></my-program-status>

<br/>
<div ng-include="RunsController.activeTab.template"></div>
