<div class="row">
  <div class="col-lg-4">

  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <label for="etlAdapaterType"> Choose an ETL Template</label>
    <select
      id="etlAdapaterType"
      name="etlAdaptertype"
      class="form-control"
      ng-model="metadata.type"
      ng-options="etltype.type as etltype.name for etltype in etlTypes" required></select>
  </div>
  <div class="col-lg-4">

  </div>
</div>
<br/>
<div class="row">

  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="panel-group">
      <div class="panel panel-default" id="ETLsourceTab">
        <div class="panel-heading" ng-click="ETLSourceTabOpen=!ETLSourceTabOpen">
          <span> ETL Sources</span>
        </div>
        <div class="panel-body" ng-if="ETLSourceTabOpen">
          <ul class="list-group" ng-if="etlSources.length > 0">
            <li class="list-group-item"
                ng-repeat="source in etlSources"
                id="source-{{source.name}}" draggable data-drop-zone="sourceDropZone">
              {{source.name}}
            </li>
          </ul>
          <div class="well well-xs text-center" ng-if="etlSources.length === 0">
            <span> No Sources Found</span>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default" id="ETLsinkTab">
        <div class="panel-heading" ng-click="ETLSinkTabOpen=!ETLSinkTabOpen">
          <span> ETL Sinks</span>
        </div>
        <div class="panel-body" ng-if="ETLSinkTabOpen">
          <ul class="list-group" ng-if="etlSinks.length > 0">
            <li class="list-group-item"
                ng-repeat="sink in etlSinks"
                id="sink-{{sink.name}}"
                data-drop-zone="sinkDropZone"
                draggable>
              {{sink.name}}
            </li>
          </ul>
          <div class="well well-xs text-center" ng-if="etlSinks.length === 0">
            <span> No Sinks Found</span>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default" id="ETLtransformsTab">
        <div class="panel-heading" ng-click="ETLTransformTabOpen=!ETLTransformTabOpen">
          <span> ETL Transforms</span>
        </div>
        <div class="panel-body" ng-if="ETLTransformTabOpen">
          <ul class="list-group" ng-if="etlTransforms.length > 0">
            <li class="list-group-item"
                ng-repeat="transform in etlTransforms"
                id="transform-{{transform.name}}"
                data-drop-zone="transformDropZone"
                draggable>
              {{transform.name}}
            </li>
          </ul>
          <div class="well well-xs text-center" ng-if="etlTransforms.length === 0">
            <span> No Transforms Found</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="etlflowcontainer row">
      <div class="col-xs-4">
        <div class="sourceDropZone"
             drop="handleSourceDrop"
             id="sourceDropZone"
             droppable>

        </div>
      </div>
      <div class="col-xs-4">
        <div class="transformDropZone"
              drop="handleTransformDrop"
              id="transformDropZone"
              droppable>

        </div>
      </div>
      <div class="col-xs-4">
        <div class="sinkDropZone"
              drop="handleSinkDrop"
              id="sinkDropZone"
              droppable>

        </div>
      </div>
    </div>
  </div>

</div>
