<div class="row">

    <div class="panel panel-default">
      <div class="panel-heading clearfix" ng-click="ETLMetadataTabOpen = !ETLMetadataTabOpen">
        <span class="pull-left"> Metadata</span>
        <i class="fa fa-fw pull-right"
          ng-class="{'fa-chevron-down': ETLMetadataTabOpen, 'fa-chevron-right': !ETLMetadataTabOpen}"></i>
      </div>
      <div class="panel-body" ng-if="ETLMetadataTabOpen">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <label for="etlAdapaterType" class="control-label"> Choose an ETL Template</label>
          <select
            id="etlAdapaterType"
            name="etlAdaptertype"
            class="form-control"
            ng-model="metadata.type"
            ng-options="etltype.type as etltype.name for etltype in etlTypes" required></select>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <label for="etlAdapaterName" class="control-label">Name</label>
          <ui-select ng-model="selectedEtlDraft"
             on-select="onDraftChange($item, $model)"
             theme="bootstrap"
             ng-disabled="disabled"
             tagging-tokens="ENTER|TAB"
             tagging tagging-label="(custom 'new' label)"
             reset-search-input="false"
             title="Create/Choose a ETL Template to Create">
            <ui-select-match placeholder="Create/Edit already saved ETL Drafts" > {{selectedEtlDraft}}</ui-select-match>
            <ui-select-choices repeat="etl in etlDraftList| filter: $select.search">
              <div ng-bind-html="etl | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-lg-4">
        </div>
      </div>
    </div>
</div>

<div ng-if="onETLTypeSelected">


<div class="row">

    <div class="panel panel-default">
      <div class="panel-heading clearfix" ng-click="ETLConfigTabOpen = !ETLConfigTabOpen">
        <span class="pull-left">Configurations</span>
        <i class="fa fa-fw pull-right"
          ng-class="{'fa-chevron-down': ETLConfigTabOpen, 'fa-chevron-right': !ETLConfigTabOpen}"></i>
      </div>
      <div class="panel-body" ng-if="ETLConfigTabOpen">
        <div class="well well-sm text-center">
          Properties TBD
        </div>
      </div>
    </div>

</div>

<br/>
<div class="row">

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <span class=pull-left>{{metadata.name}}</span>
        <div class="btn-group pull-right" role="group" aria-label="...">
          <button type="button"
                  class="btn btn-default"
                  ng-click="doSave()">
              Create!
          </button>
          <button type="button"
                  class="btn btn-default"
                  ng-click="saveAsDraft()">
            Save As Draft
          </button>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div ng-include="'/assets/features/etlapps/templates/create/plugins.html'">
          </div>
        </div>
        <br />
        <div class="col-lg-12 col-md-12 col-sm-12" etl-canvas-template>
          <div ng-include="'/assets/features/etlapps/templates/create/etlcanvas.html'">

          </div>
        </div>
      </div>
    </div>


</div>

</div>

<div ng-if="!onETLTypeSelected">
  <div class="well well-lg text-center">
    <h2> Please select a type of ETL you want to create to configure it!</h2>
  </div>
</div>
