<div class="form-group">
  <label class="col-sm-2 control-label">Format</label>
  <div class="col-sm-4">
    <select ng-model="format" class="form-control">
      <option ng-repeat="option in formatOptions" value="{{option}}">{{option}}</option>
    </select>
  </div>
</div>

<h4>
  Fields
  <a class="btn btn-info btn-transparent" ng-click="addProperties()">
    <span class="fa fa-fw fa-plus"></span>
  </a>
</h4>
<div class="form-group">

  <div ng-if="properties.length > 0">
    <div class="row">
      <div class="col-sm-1 col-sm-offset-8">
        nullable?
      </div>
    </div>
    <div ng-repeat="property in properties">

      <div class="col-xs-5">
        <input type="text" class="form-control" ng-model="property.name" placeholder="name"/>
      </div>

      <div class="col-xs-4">
        <select ng-model="property.type" class="form-control col-xs-4">
          <option value="boolean">boolean</option>
          <option value="bytes">bytes</option>
          <option value="double">double</option>
          <option value="float">float</option>
          <option value="int">int</option>
          <option value="long">long</option>
          <option value="string">string</option>
        </select>
      </div>

      <div class="col-xs-1">
        <input type="checkbox" ng-model="property.nullable">
      </div>

      <div class="col-xs-2">
        <a href="" class="btn btn-danger" ng-click="removeProperty(property)">
          <span class="fa fa-fw fa-trash"> </span>
        </a>
      </div>

    </div>

  </div>

  <div class="text-center h4 well well-sm dark" ng-if="properties.length === 0">
    <h4> No Properties </h4>
  </div>
</div>

<hr/>

<h4>
  Settings
  <a class="btn btn-info btn-transparent" ng-click="addSetting()">
    <span class="fa fa-fw fa-plus"></span>
  </a>
</h4>
<div class="form-group">

  <div ng-repeat="setting in settings" class="h4-margin">
    <div class="col-xs-5">
      <input type="text" class="form-control" ng-model="setting.key" placeholder="key"/>
    </div>
    <div class="col-xs-5">
      <input type="text" class="form-control" ng-model="setting.value" placeholder="value"/>

    </div>
    <div class="col-xs-2">
      <a href="" class="btn btn-danger" ng-click="removeSetting(setting)">
        <span class="fa fa-fw fa-trash"> </span>
      </a>
    </div>
  </div>


  <div class="text-center h4 well well-sm dark" ng-if="settings.length === 0">
    <h4> No Setting </h4>
  </div>


</div> <!-- Form Group -->