
#header {
	background-color: #6DBEDA;
	border-bottom: 1px solid #5d8593;
}

#logo {
	background-image: url(/assets/img/logo-cloud.png);
}

.global-link {
	border-left: 1px solid #FFF;
}

#breadcrumb li a {
	background-image: url(/assets/img/breadcrumb-split-blue.png);
}