<div ng-show="runs.length">
  <accordion close-others="oneAtATime" ng-if="runs.length > 0">
     <accordion-group is-open="run.isOpen" id="c{{run.runid}}" ng-repeat="run in runs" ui-sref="mapreduce.detail.runs.run({runid: run.runid})">
       <accordion-heading>
          <div class="clearfix">
            <span class="pull-left"> {{run.runid}} </span>
            <span class="pull-right">
              {{run.status}}
              <i class="fa fa-fw" ng-class="{'fa-chevron-down': run.isOpen, 'fa-chevron-right': !run.isOpen}"></i>
            </span>
          </div>
       </accordion-heading>
       <div ui-view ng-if="run.isOpen"></div>
   </accordion-group>
  </accordion>
</div>

<div ng-hide="runs.length">
  <div class="well well-md text-center">
    <h3> This Mapreduce hasn't run once. Start a run! </h3>
  </div>
</div>
