<div class="row">
  <div class="col-xs-12">
    <strong> View Run: </strong>
    <div class="btn-group dropdown-left" dropdown is-open="dropdown.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="RunsController.runs.length === 0">
        {{ RunsController.runs.selected.runid }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="run in RunsController.runs">
          <a ui-sref="mapreduce.detail.runs.run({runid: run.runid})">{{ run.runid }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br />
<div ng-if="!$state.params.runid"
  ng-include="'/assets/features/mapreduce/templates/tabs/runs/run-detail.html'" ng-controller="MapreduceRunsDetailController">
</div>
<div ui-view ng-if="$state.params.runid"></div>
