<div class="panel-group" ng-if="runs.length > 0">
  <div class="panel panel-default" id="c{{run.runid}}" ng-repeat="run in runs">
    <div class="panel-heading">
      <a ui-sref="mapreduce.detail.runs.run({runid: run.runid})" class="clearfix">
        <div>
          <span class="pull-left">{{run.runid}}</span>
          <span class="pull-right">
            {{run.status}}
            <i class="fa fa-fw"
              ng-class="{'fa-chevron-down': run.isOpen, 'fa-chevron-right': !run.isOpen}"></i>
          </span>
        </div>
      </a>
    </div>
    <div class="panel-body" ng-if="run.isOpen">
      <div ui-view></div>
    </div>
  </div>
</div>


<div ng-hide="runs.length">
  <div class="well well-md text-center">
    <h3> This Mapreduce hasn't run once. Start a run! </h3>
  </div>
</div>
