<div ncy-breadcrumb></div>
<h2>
  <span ng-bind="$state.params.programId | caskCapitalizeFilter"></span>
  <small> <em>Type: Mapreduce </em></small>
</h2>

<div class="row">
  <div class="col-sm-6">
    <h4 ng-if="activeRuns < 2" ng-bind="activeRuns + ' Active run'"> </h4>
    <h4 ng-if="activeRuns > 2" ng-bind="activeRuns + ' Active runs'"> </h4>
  </div>
  <div class="col-sm-6 text-right h4">
    <div ng-show="status == 'RUNNING'"
         class="btn btn-default btn-md"
         ng-click="toggleFlow('stop')">
      <span class="fa fa-stop"> </span>
    </div>

    <div ng-show="status == 'STOPPED'"
         class="btn btn-default btn-md"
         ng-click="toggleFlow('start')">
      <span class="fa fa-play"> </span>
    </div>
    <div ng-show="status == 'start' || status == 'stop' || status == 'STARTING' || status == 'STOPPING'"
         class="btn btn-default btn-md">
      <span class="fa fa-refresh fa-spin"></span>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="mapreduce.detail.runs" ui-sref-opts="{reload: true}" role="tab">Runs</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="mapreduce.detail.schedules" role="tab">Schedules</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="mapreduce.detail.metadata" role="tab">Metadata</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="mapreduce.detail.history" role="tab">History</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="mapreduce.detail.resources" role="tab">Resources</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a href="" ui-sref="mapreduce.detail.logs" role="tab">Log</a>
  </li>
</ul>

<div role="tablist">
  <ui-view role="tabpanel"/>
</div>
