<div ncy-breadcrumb></div>
<div class="row">
  <div class="col-xs-8">
    <h2> All Datasets </h2>
  </div>

  <div class="col-xs-4">
    <div class="input-group pull-right h2">
      <input type="text" class="form-control" ng-model="searchText" placeholder="search...">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-curved" cask-sortable>
    <thead>
      <tr ng-class="{'sort-enabled': dataList.length>0}">
        <th data-predicate="name"> Name </th>
        <th data-predicate="dataType"> Type </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="data in dataList | myPaginate:currentPage | filter:{ name: searchText } | orderBy:sortable.predicate:sortable.reverse">
          <td>
            <a ng-click="goToDetail(data)"
                href="">
                <strong ng-bind="data.name"> </strong>
            </a>
          </td>
          <td>
            <span class="icon-streams" ng-if="data.dataType === 'Stream'"></span>
            <span class="icon-datasets" ng-if="data.dataType === 'Dataset'"></span>
            <span> {{data.dataType}} </span>
          </td>
      </tr>
    <tbody>
  </table>
</div>

<div class="text-center">
  <pagination total-items="dataList.length" ng-model="currentPage"></pagination>
</div>
