<div ncy-breadcrumb></div>
<h2> All Datasets </h2>
<div class="table-responsive">
  <table class="table table-curved" cask-sortable>
    <thead>
      <tr ng-class="{'sort-enabled': dataList.length>0}">
        <th data-predicate="name" data-predicate-default="reverse"> Name </th>
        <th data-predicate="dataType"> Type </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="data in dataList | orderBy:sortable.predicate:sortable.reverse">
          <td>
            <a ng-click="goToDetail(data)"
                href="">
                <strong ng-bind="data.name | caskCapitalizeFilter"> </strong>
            </a>
          </td>
          <td ng-bind="data.dataType"> </td>
      </tr>
    <tbody>
  </table>
</div>