<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="panel-title pull-left">
      <div>{{fieldObj.name}} ({{fieldObj.type}})</div>
    </div>
    <div class="panel-close pull-right">
      <div class="btn btn-danger btn-sm" ng-click='MyRulesContainerCtrl.onDelete()'>
        <span class="fa fa-times"></span>
      </div>
    </div>
  </div>
  <div class="panel-body">

    <div ng-repeat="rule in MyRulesContainerCtrl.fieldObj.rules"
          ng-if="MyRulesContainerCtrl.fieldObj.rules.length > 0">
      <div class="row">
        <div class="col-xs-11">
          <my-rule data-type="fieldObj.type" data-rule=rule></my-rule>
        </div>
        <div class="col-xs-1">
          <div class="btn btn-danger btn-sm btn-block" ng-click="MyRulesContainerCtrl.deleteRule($index);">
            <span class="fa fa-trash"></span>
          </div>
        </div>
      </div>
      <div class="btn btn-default"
            ng-click="MyRulesContainerCtrl.addRule(fieldObj)"
            ng-if="$last">
        <span class="fa fa-plus"></span>
      </div>
    </div>

    <div ng-if="MyRulesContainerCtrl.fieldObj.rules.length == 0">
      <div class="well well-lg">
        No Rules as of now
      </div>
    </div>

  </div>
</div>
