.my-widget-container {
  .form-control {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  [class*="fa-"] {
    vertical-align: middle;
  }
  textarea {
    resize: vertical;
  }
}
