<?py if title: ?>

.. class:: title

#{title}

<?py #end ?>

<?py if subtitle: ?>

.. class:: subtitle

#{subtitle}

<?py #end ?>

If the custom cover works, this is in the cover, and the text starts in the next page.

.. raw:: pdf

   PageBreak
