<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!--
      Disabling some chatty loggers.
    -->
    <logger name="org.apache.commons.beanutils" level="ERROR"/>
    <logger name="org.apache.zookeeper.server" level="ERROR"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="com.ning" level="WARN"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.quartz.core" level="WARN"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n</pattern>
      </encoder>
    </appender>

    <root level="ERROR">
      <appender-ref ref="Console"/>
    </root>

</configuration>

