<div ng-controller="ServicesDetailStatusController">

  <div class="row">
    <div class="col-xs-9">

        <table class="table table-curved table-status">
          <thead>
            <th>Status</th>
            <th>Instances</th>
          </thead>
          <tbody>
            <td ng-bind="status"> </td>
            <td>
              <div class="row">
                <div class="col-xs-6">
                  <em  ng-bind="instances.provisioned + ' provisioned'"></em>
                </div>
                <div class="col-xs-6">
                  <em ng-bind="instances.requested + ' requested'"> </em>
                </div>
              </div>
            </td>
          </tbody>
        </table>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-9">
      <h2> Endpoints </h2>
<!--       <div class="table-responsive"> -->
        <table class="table table-curved">
          <thead>
            <tr>
              <th> Method </th>
              <th> Path </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ep in endPoints">
              <td ng-bind="ep.method"></td>
              <td>
                <div class="row">
                  <div class="col-xs-6">
                    {{ep.path}}
                  </div>
                  <div class="col-xs-6">
                    <a class="btn btn-default"
                        ng-disabled="status !== 'RUNNING'"
                        ui-sref=".makerequest({ requestUrl: ep.path, requestMethod: ep.method})">
                      Make Request </a>
                  </div>
                </div>
              </td>
<!--               <td>
                <div class="btn-group btn-group-xs" role="group">

                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
<!--       </div> -->
    </div>
  </div>

</div>
