
<div ng-hide="hideWelcomeMessage">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="panel-title pull-left">
        <h2> Welcome!
        <small> Your cdap is designed to meet your needs, no
          matter whether you are human or animal or god. </small>
        </h2>
      </div>
      <button class="pull-right btn btn-default fa fa-close" ng-click="hideWelcomeMessage=true"> </button>
    </div>
    <div class="panel-body">
      <div class="message-section">
        <div class="row">
          <div class="col-sm-4">
            <section>
              <h2> First </h2>
              <p>
                It is a long established fact that a reader will be distracted by the readable content of
                a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                making it look like readable English.
              </p>
            </section>
          </div>
          <div class="col-sm-4">
            <section>
              <h2> Next </h2>
              <p>
                It is a long established fact that a reader will be distracted by the readable content of
                a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                making it look like readable English.
              </p>
            </section>
          </div>
          <div class="col-sm-4">
            <section>
              <h2> Finally </h2>
              <p>
                It is a long established fact that a reader will be distracted by the readable content of
                a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                making it look like readable English.
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="data-apps">
  <div class="row">
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Data</h3>
        <div class="btn-group pull-right">
          <a ui-sref="apps.list({namespace: 'ns1'})">
            <button class="btn btn-default fa fa-bars"> All Datasets </button>
          </a>
          <a ui-sref="apps.list({namespace: 'ns1'})">
            <button class="btn btn-default fa fa-eye"> Explore </button>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <li class="list-inline" ng-repeat="app in apps">
          <a ui-sref="apps.application({namespace: 'ns1', appId: app.id})">
            <strong ng-bind="app.name"> </strong>
            <div ng-bind="app.description"> </div>
          </a>
        </li>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
  <div class="panel">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Apps</h3>
      <div class="btn-group pull-right">
        <a ui-sref="apps.list({namespace: 'ns1'})">
          <button class="btn btn-default fa fa-bars"> All Datasets </button>
        </a>
        <a ui-sref="apps.list({namespace: 'ns1'})">
          <button class="btn btn-default fa fa-edit"> ETL </button>
        </a>
      </div>
    </div>
    <div class="panel-body">
      <li class="list-inline" ng-repeat="app in apps">
        <a ui-sref="apps.application({namespace: 'ns1', appId: app.id})">
        <strong ng-bind="app.name">  </strong>
        <div ng-bind="app.description"> </div>
        </a>
      </li>
    </div>
  </div>
  </div>
  </div>
</section>
