<table class="table table-curved">
  <tbody>
    <tr class="text-center">
      <td><strong>Min</strong></td>
      <td><strong>Hour</strong></td>
      <td><strong>Day</strong></td>
      <td><strong>Month</strong></td>
      <td><strong>Day of Week</strong></td>
    </tr>
    <tr>
      <td class="col-xs-2">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" class="form-control text-center" ng-model="schedule.min">
        </div>
      </td>
      <td class="col-xs-2">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" class="form-control text-center" ng-model="schedule.hour">
        </div>
      </td>
      <td class="col-xs-2">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" class="form-control text-center" ng-model="schedule.day">
        </div>
      </td>
      <td class="col-xs-2">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" class="form-control text-center" ng-model="schedule.month">
        </div>
      </td>
      <td class="col-xs-2">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" class="form-control text-center" ng-model="schedule.week">
        </div>
      </td>
    </tr>
  </tbody>
</table>
