<?xml version="1.0" encoding="UTF-8"?>

<!--                                                                         -->
<!-- AppFabric Logging Configuration                                         -->
<!--                                                                         -->
<!-- We use the LogBack project for logging in AppFabric. The manual for     -->
<!-- Logback can be found here: http://logback.qos.ch/manual                 -->
<!--                                                                         -->

<configuration>
    <!--Supressing some chatty loggers -->
    <logger name="org.apache.hadoop" level="INFO"/>
    <logger name="org.mortbay.log" level="INFO"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CLOG" class="com.continuuity.common.logging.logback.CAppender">              
        <layout>                      
            <!-- Note: we don't insert new line in the pattern as this is done on higher level (in old back-end) -->
            <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m</pattern>       
        </layout>
    </appender>

    <logger name="com.continuuity" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="CLOG"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>