<div class="row">
  <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
    <div class="btn-group"
          dropdown is-open="dropdown.isopen">
      <button type="button"
              class="btn btn-default dropdown-toggle"
              dropdown-toggle ng-disabled="current === 'No Run'">
        {{ runs.selected.runid }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="run in runs">
          <a ui-sref="workflows.detail.runs.run({runid: run.runid})">{{ run.runid }}</a>
        </li>
      </ul>
    </div>

  </div>
</div>
<br/>
<div class="panel panel-default" ng-if="!$stateParams.runid">
  <div class="panel-heading">
    <div class="panel-title">
      {{::runs.selected.runid}}
    </div>
  </div>
  <div class="panel-body">

    <div ng-include="'/assets/features/workflows/templates/tabs/runs/runs-detail.html'">
    </div>
  </div>
</div>
<div class="panel panel-default" ng-if="$stateParams.runid">
  <div class="panel-heading">
    <div class="panel-title">
      {{$stateParams.runid}}
    </div>
  </div>
  <div class="panel-body">
    <div ui-view> </div>
  </div>
</div>



</div>
