<!-- HEADING -->
<div class="schedule-heading row">

  <div class="col-xs-offset-1 col-xs-3">
    <h4>Schedule Name</h4>
  </div>
  <div class="col-xs-4">
    <h4>Description</h4>
  </div>
  <div class="col-xs-2">
    <h4>Last Run</h4>
  </div>
  <div class="col-xs-2">
    <h4>Status</h4>
  </div>
</div>

<div class="schedule-content">
  <div class="schedule-rows" ng-repeat="schedule in SchedulesController.schedules">
    <div class="row schedule-row"
      ng-click="schedule.isOpen = !schedule.isOpen"
      ng-class="{ 'active': schedule.isOpen }">
      <div class="col-xs-1">
        <i class="fa"
        ng-class="{'fa-chevron-down': schedule.isOpen, 'fa-chevron-right': !schedule.isOpen}"></i>
      </div>

      <div class="col-xs-3">
        <p>{{ schedule.schedule.name }}</p>
      </div>

      <div class="col-xs-4">
        <p>{{ schedule.schedule.description | myEllipsis: 50 }}</p>
      </div>

      <div class="col-xs-2">
        <p ng-if="schedule.lastrun !== 'NA'"> {{ schedule.lastrun | amDateFormat:'MM/DD/YY h:mm:ss a'}} </p>
        <p ng-if="schedule.lastrun === 'NA'">Not Available</p>
      </div>

      <div class="col-xs-2">
        <p>{{ schedule.status }}</p>
      </div>
    </div>

    <div class="row schedule-detail" ng-if="schedule.isOpen">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-2">
          <p>Trigger</p>
        </div>
        <div class="col-xs-6">
          <p>{{ schedule.scheduleType }}</p>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-default"
            ng-show="schedule.status === 'SCHEDULED'"
            ng-click="SchedulesController.suspendSchedule(schedule)">
            <i class="fa fa-pause"></i>
          </button>

          <button class="btn btn-default"
            ng-show="schedule.status === 'SUSPENDED'"
            ng-click="SchedulesController.resumeSchedule(schedule)">
            <i class="fa fa-play"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div ng-if="schedule.scheduleType === 'TIME'">
          <div class="col-xs-offset-2 col-xs-2">
            <p>Crontab</p>
          </div>

          <div class="col-xs-8">

            <table class="table table-responsive">
              <thead>
                <th class="text-center">min</th>
                <th class="text-center">hour</th>
                <th class="text-center">day/month</th>
                <th class="text-center">month</th>
                <th class="text-center">day/week</th>
              </thead>

              <tbody class="text-center">
                <tr>
                  <td>{{ schedule.time.min }}</td>
                  <td>{{ schedule.time.hour }}</td>
                  <td>{{ schedule.time.day }}</td>
                  <td>{{ schedule.time.month }}</td>
                  <td>{{ schedule.time.week }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div ng-if="schedule.scheduleType === 'STREAM'">
          <div class="col-xs-offset-2 col-xs-2">
            <p>Data Trigger</p>
          </div>

          <div class="col-xs-8">
            <p>{{ schedule.schedule.dataTriggerMB }} MB</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
