<!-- Fake data. Should integrate with actual metrics -->
<!-- <div class="row">
  <div class="col-xs-4">
    <h3>
      Containers
    </h3>
    <div>
      5
    </div>
  </div>
  <div class="col-xs-4">
    <h3>
      Reads
    </h3>
    <div class="row">
      <span class="col-xs-6">221K</span>
      <span class="col-xs-6">221K</span>
    </div>
  </div>
  <div class="col-xs-4">
    <h3>
      Writes
    </h3>
    <div class="row">
      <span class="col-xs-6">221K</span>
      <span class="col-xs-6">221K</span>
    </div>
  </div>
</div> -->
<div class="table-responsive">
  <table class="table table-curved">
    <thead>
      <th> Containers </th>
      <th> Reads </th>
      <th> Writes </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong> 5 </strong>
        </td>
        <td>
          <div class="row">
            <div class="col-xs-6">
              <div>
                <strong> 221K </strong>
                <small> bps </small>
              </div>
            </div>
            <div class="col-xs-6">
              <div>
                <strong> 124K </strong>
                <small> ops/s </small>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col-xs-6">
              <div>
                <strong> 221K </strong>
                <small> bps </small>
              </div>
            </div>
            <div class="col-xs-6">
              <div>
                <strong> 82.3K </strong>
                <small> ops/s </small>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<my-workflow-graph data-model="data"></my-workflow-graph>
