<div class="row">
  <div class="col-sm-3">



    <ul class="list-group list-unstyled">
      <li class="list-group-item">
        <a ui-sref="admin.system">
          System Configuration
        </a>
      </li>
      <li class="list-group-item">
        <a ui-sref="admin.security">
          Security Configuration
        </a>
      </li>
      <li class="list-group-item">
        <a ui-sref="admin.namespace.create">
          Create Namespace
        </a>
      </li>
      <li
        class="list-group-item"
        data-start-collapsed="1"
        bs-collapse>
        <a bs-collapse-toggle>
          Namespaces
        </a>
        <ul class="list-unstyled" bs-collapse-target>
          <my-tree-view data-model="nsList"></my-tree-view>
        </ul>
      </li>
    </ul>


  </div>
  <div class="col-sm-9">
    <div ui-view></div>
  </div>
</div>
