<div class="row">
  <div class="col-sm-3 sidebar">

    <ul class="list-group list-unstyled">
      <li class="list-group-item">
        <a ui-sref="admin.overview"
           ui-sref-active="current">
          Management Home
        </a>
      </li>
      <li class="list-group-item">
        <a href="" ng-click="submenu.system=!submenu.system">
          System Configuration
        </a>
        <ul class="list-unstyled"
            ng-show="submenu.system">
<!--           <li>
            <a ui-sref="admin.system.instance" href="">
              Instance
            </a>
          </li> -->
          <li>
            <a ui-sref="admin.system.services"
               ng-class="{ current: $state.includes('admin.system.services.**') }">
              Services
            </a>
          </li>
<!--           <li>
            <a ui-sref="admin.system.notifications" href="">
              Notifications
            </a>
          </li> -->
        </ul>
      </li>
<!--       <li class="list-group-item">
        <a href="" ng-click="submenu.security=!submenu.security">
          Systemwide Security
        </a>
        <ul class="list-unstyled"
            ng-show="submenu.security">
            <li>
              <a ui-sref="admin.security.permissions" href="">
                Global Permissions
              </a>
            </li>
          <li>
            <a ui-sref="admin.security.tokens"
               ng-class="{ current: $state.includes('admin.security.tokens.**') }">
              Access Tokens
            </a>
          </li>
          <li>
            <a ui-sref="admin.security.logs" href="">
              Audit Logs
            </a>
          </li>
        </ul>
      </li> -->

      <li class="list-group-item">
        <a href="" ng-click="submenu.namespaces=!submenu.namespaces">
          Namespaces
        </a>
        <ul class="list-unstyled"
            ng-show="submenu.namespaces">
          <li>
            <a ui-sref="admin.namespace.create"
               ui-sref-active="current">
              Create Namespace
            </a>
          </li>
          <li ng-repeat="ns in nsList">
            <a href=""
               ng-click="submenu.perNs[ns.name]=!submenu.perNs[ns.name]">
              <span ng-bind="ns.name"></span>
            </a>
            <ul class="list-unstyled" ng-show="submenu.perNs[ns.name]">
<!--               <li>
                <a ui-sref-active="current"
                   ui-sref="admin.namespace.detail.metadata({nsadmin: ns.name})">
                  Metadata
                </a>
              </li> -->
              <li>
                <a ui-sref-active="current"
                   ui-sref="admin.namespace.detail.apps({nsadmin: ns.name})">
                  Apps
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </li>
    </ul>

  </div>
  <div class="col-sm-9">
    <div ui-view></div>
  </div>
</div>
