<div ng-hide="welcomeIsHidden">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <button class="pull-right btn btn-default btn-xs" ng-click="hideWelcome()" >
        <span class="fa fa-close"></span>
        <span class="sr-only"> Hide Welcome Message </span>
      </button>
      <h3>
        Welcome CDAP Admin!
      </h3>
    </div>
    <div class="panel-body" ng-show="isEnterprise">
      <p>This is the control console for CDAP (Enterprise mode). Here, you can view and manage your system configuration and define and manage namespaces, entities and access permissions to keep your team's work organized and secure.</p>
      <p>Begin by configuring your default namespace.</p>
    </div>
    <div class="panel-body" ng-hide="isEnterprise">
      <p>This is the control console for CDAP (Standalone mode).</p>
    </div>
  </div>
</div>

<!-- <div>
  <h3>System Configuration</h3>
  <ul>
    <li>
      <a ui-sref="admin.system.instance" href="">Instance Config</a>
    </li>
    <li>
      <a ui-sref="admin.system.services" href="">Services</a>
    </li>
  </ul>
</div> -->

<div ng-show="isEnterprise">
  <h3>Systemwide Security</h3>
  <ul>
    <li>
      <a ui-sref="admin.security.tokens" href="">Access Tokens</a>
    </li>
    <li>
      <a ui-sref="admin.security.logs" href="">Audit Logs</a>
    </li>
  </ul>
</div>

<div>

  <div class="row">
    <div class="col-xs-6">
      <h3>Namespaces</h3>
    </div>
    <div class="col-xs-6 text-right h3">
      <a ui-sref="admin.namespace.create" class="btn btn-default">Add Namespace</a>
    </div>
  </div>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Display Name</th>
        <th>Apps</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="namespace in nsList | orderBy:sortable.predicate:sortable.reverse">
        <td>
          <span ng-bind="namespace.name"></span>
        </td>
        <td>
          <span ng-bind="namespace.appsCount"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


