

<div class="config-table source-table" ng-if="HydratorPlusPlusNodeConfigCtrl.state.isSource">
  <div>
    <div ng-include="'/old_assets/features/hydratorplusplus/templates/partial/node-config-modal/node-config/plugin-edit-properties-template.html'"></div>
  </div>

  <div>
    <div ng-include="'/old_assets/features/hydratorplusplus/templates/partial/node-config-modal/node-config/plugin-edit-output-schema.html'"></div>
  </div>
</div>

<div class="config-table transform-table" ng-if="HydratorPlusPlusNodeConfigCtrl.state.isTransform && HydratorPlusPlusNodeConfigCtrl.state.node.plugin.name !== 'Validator'">
  <div>
    <div ng-include="'/old_assets/features/hydratorplusplus/templates/partial/node-config-modal/node-config/plugin-edit-input-schema.html'"></div>
  </div>

  <div>
    <div ng-include="'/old_assets/features/hydratorplusplus/templates/partial/node-config-modal/node-config/plugin-edit-properties-template.html'"></div>
  </div>

  <div>
    <div ng-include="'/old_assets/features/hydratorplusplus/templates/partial/node-config-modal/node-config/plugin-edit-output-schema.html'"></div>
  </div>
</div>

<div class="validator-plugin" ng-if="HydratorPlusPlusNodeConfigCtrl.state.isTransform && HydratorPlusPlusNodeConfigCtrl.state.node.plugin.name === 'Validator'">
  <div>
    <div ng-include="'/old_assets/features/hydratorplusplus/templates/partial/node-config-modal/node-config/plugin-edit-validator-transform.html'"></div>
  </div>
</div>

<div class="config-table sink-table" ng-if="HydratorPlusPlusNodeConfigCtrl.state.isSink">
  <div>
    <div ng-include="'/old_assets/features/hydratorplusplus/templates/partial/node-config-modal/node-config/plugin-edit-input-schema.html'"></div>
  </div>

  <div>
    <div class="row">
      <div class="col-xs-12">
        <div ng-include="'/old_assets/features/hydratorplusplus/templates/partial/node-config-modal/node-config/plugin-edit-properties-template.html'"></div>
      </div>

      <div class="col-xs-12 sink-output-schema" ng-if="HydratorPlusPlusNodeConfigCtrl.state.groupsConfig.outputSchema.isOutputSchemaExists || HydratorPlusPlusNodeConfigCtrl.state.groupsConfig.implicitSchema">
        <div ng-include="'/old_assets/features/hydratorplusplus/templates/partial/node-config-modal/node-config/plugin-edit-output-schema.html'"></div>
      </div>
    </div>
  </div>
</div>

<div class="config-table action-table" ng-if="HydratorPlusPlusNodeConfigCtrl.state.isAction">
  <div>
    <div class="row">
      <div class="col-xs-12">
        <div ng-include="'/old_assets/features/hydratorplusplus/templates/partial/node-config-modal/node-config/plugin-edit-properties-template.html'"></div>
      </div>
    </div>
  </div>
</div>
