<li ng-repeat="menu in model">
  <a ui-sref="{{menu.state || 'home'}}"
     ng-class="{ current: state.includes(menu.matchingState) }"
     ng-show="menu.children.length == 0"
     ng-bind="menu.label"
     ng-click="isOpen[menu.label]=!isOpen[menu.label]">
  </a>
  <a href=""
     ng-show="menu.children.length > 0"
     ng-class="{ current: menu.matchingState }"
     ng-click="isOpen[menu.label]=!isOpen[menu.label]">
    <span ng-bind="menu.label"></span>
  </a>
  <ul class="list-unstyled" ng-show="isOpen[menu.label]">
    <my-tree-view data-model="menu.children"> </my-tree-view>
  </ul>
</li>
