tree-view {

  ul {
    padding: 10px 5px;
    margin: 0;
    list-style: none;
  }
  li {
    list-style: none;
    padding: 5px;
  }
  ul, li {
    //-webkit-box-shadow: inset 0px 0px 0px 0px black;
    list-style: none;
    .menu-title {
      cursor: pointer;
    }
  }
}
