<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Todd, 08/07/2012: Commented out to we don't clutter up the file system
         during normal development. Uncomment if you need detailed debugging
    <appender name="Rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/appfabric.log</File>
        <encoder>
            <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>logs/appfabric.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5000KB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    -->

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.continuuity" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>