<div class="container">
  <div class="row" ng-init="isSaved=false">
    <div class="col-xs-12">
      <h3>Editing {{sink.name}} Properties</h3>
      <div class="text-success" ng-if="isSaved">
        Saved!
      </div>

      <form class="form-horizontal">
        <div ng-repeat="(name, value) in sink.properties track by $index">
          <div class="form-group">
            <label class="col-xs-12">{{ name | caskCapitalizeFilter}}</label>
            <div class="col-xs-12">
              <input type="text"
                      class="form-control"
                      ng-model="sink.properties[name]"
                      ng-change="$parent.isSaved=false"
                      />
            </div>
          </div>
        </div>
      </form>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-success" ng-click="isSaved = true;">Save</button>
        <button type="button" class="btn btn-default" ng-click="closeTab(tabIndex)">Close</button>
      </div>
    </div>
  </div>
</div>
