<div class="popover" ng-controller="myErrorController">
  <div class="arrow"></div>
  <div class="popover-title">
    <div class="row">
      <div class="col-xs-6">
        <h4>Errors</h4>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-sm btn-default pull-right" ng-click="clear()">Clear All</button>
      </div>
    </div>
  </div>
  <div class="popover-content">

    <div class="clearfix">

      <div class="row bg-danger" ng-repeat="alert in alerts">
        <div class="col-xs-10">
          <span class="badge" ng-if="alert.count > 1">{{alert.count}}</span>
          <strong>{{ alert.title }}</strong>  {{ alert.content }}
        </div>
        <div class="col-xs-2">
          <span class="pull-right" ng-click="remove(alert)"><i class="fa fa-times"></i></span>
        </div>
      </div>

    </div>
  </div>
</div>