my-error {
  .error-button {
    margin-top: 10px;
    margin-right: 5px;
    display: inline;
  }
  .popover {
    max-width: 550px;
    width: 500px;

    .popover-content {
      overflow-wrap: break-word;
      padding: 10px;
      margin: 10px 0 10px 10px;
    }

    .row {
      margin: 5px;
      padding: 5px 0;
    }
  }

}
