@import "../../styles/variables.less";
@import "../../../bower_components/bootstrap/less/mixins.less";
@import "../../styles/themes/cdap/mixins.less";
body.theme-cdap.state-adapters {
  .adapter-name {
    position: absolute;
    left: 125px;
    z-index: 1029;
  }
  fieldset.view-plugin-json {
    textarea {
      resize: vertical;
      height: 60vh;
    }
  }
}
