<div class="row">
  <div class="col-xs-12">
    <strong> View Run: </strong>
    <div class="btn-group dropdown-left"
          dropdown is-open="dropdown.isopen">
      <button type="button"
              class="btn btn-default dropdown-toggle"
              dropdown-toggle ng-disabled="runs.length === 0">
        {{ runs.selected.runid }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="run in runs">
          <a ui-sref="worker.detail.runs.run({runid: run.runid})">{{ run.runid }}</a>
        </li>
      </ul>
    </div>

  </div>
</div>
<br/>
<div ng-if="runs.length">
  <div ng-include="'/assets/features/workers/templates/tabs/runs/run-detail.html'"
        ng-if="!$stateParams.runid">
  </div>
  <div ui-view  ng-if="$stateParams.runid"> </div>
</div>
<div ng-if="!runs.length">
  <div class="well well-lg text-center">
    <div>No runs yet! Start one.</div>
  </div>
</div>
