<br />
<div class="status" ng-controller="CdapAppDetailStatusController">
      <!-- <div class="btn-group pull-right">
        <button class="btn btn-default" type="button" ng-bind="programs.runningCount + ' Running'" disabled></button>
        <button class="btn btn-default" type="button" ng-bind="programs.failedCount + ' Failed'" disabled></button>
        <button class="btn btn-default" type="button" ng-bind="programs.deployedCount + ' Deployed'" disabled></button>
      </div> -->
      <h2> Programs </h2>
      <table class="table table-condensed" cask-sortable>
        <thead>
          <tr ng-class="{'sort-enabled': programs.length>0}">
            <th> Status </th>
            <th data-predicate="name" data-predicate-default="reverse"> Name </th>
            <th> Description </th>
            <th> Type </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="program in programs">
            <td>
              <a ng-bind="program.name"
                  href=""
                  ng-click="goToDetail(program.type_plural, program.name)"></a>
            </td>
            <td ng-bind="program.status"></td>
            <td ng-bind="program.description"></td>
            <td ng-bind="program.type">
            </td>
          </tr>
        </tbody>
      </table>
</div>
