
<div id="title">
	{{view C.Vw.TimeSelector}}
	<h1>{{current.name}}</h1>
</div>

<div id="info">
	<div class="info-box" style="float: right; border: 0;padding: 0px 14px 0px 0px;">
		<div id="action-buttons" class="btn-group pull-right">
		  	<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Push to the Cloud</a></li>
				<li><a href="#">Remove This App</a></li>
			</ul>
		</div>
	</div>
	<div class="info-box" style="float: right;border: 0;padding-right: 0;">
		{{view C.Vw.DropZone viewName="dropzone"}}
	</div>
	<div class="info-box health-box"></div>
	<div class="info-box sparkline-box">{{view C.Vw.Chart metric="processed.count" width="180"}}</div>
	<div class="info-box sparkline-box">{{view C.Vw.Chart metric="processed.count" width="180"}}</div>
	<div class="info-box" style="padding: 0;text-align: center;">
		<div class="sparkline-box-title">Storage</div>
		<div class="sparkline-box-value" style="padding-left: 0;width: 80px;">10.1<br /><span>GB</span></div>
	</div>
</div>

<div id="panels">
	<div class="panel">
		<div class="panel-head">{{view C.Vw.CreateButton type="Stream"}}<div class="panel-title">Streams</div></div>
		{{view C.Vw.StreamList}}
	</div>
	<div class="panel">
		<div class="panel-head">{{view C.Vw.CreateButton type="Flow"}}<div class="panel-title">Flows</div></div>
		{{view C.Vw.FlowList}}
	</div>
	<div class="panel">
		<div class="panel-head">{{view C.Vw.CreateButton type="DataSet"}}<div class="panel-title">Data Sets</div></div>
		{{view C.Vw.DataSetList}}
	</div>
</div>