
<div id="title">
	<h1>Dashboard</h1>
</div>

<div id="info">
	<div class="info-box" style="float: right; border: 0;">
		<div id="upload-dropzone" class="drop-zone">
			<div id="far-upload-status">
				<input type="file" id="file-input" multiple />
			</div>
		</div>
	</div>
	<div class="info-box health-box"></div>
</div>

<div id="informer"></div>

<div id="flow-alert" class="alert alert-error" style="display: none;"></div>

<div id="panels">
	<div class="panel">
		<div id="object-list">
			{{#if controller.content.length}}
				{{view C.Ctx.Vw.FlowList}}
			{{else}}
				<div class="object-list-empty">
					No flows are currently deployed. Drag-and-drop or browse for a file above.
				</div>
			{{/if}}
		</div>
	</div>
</div>