
<div id="title">
	<h1>All Flows</h1>
</div>

<div id="info">
	<div class="info-box" style="float: right; border: 0;">
		<div id="upload-dropzone" class="drop-zone">
			<div id="far-upload-status">
				Drop a JAR or <a href="#">Browse</a>
			</div>
		</div>
	</div>
	<div class="info-box health-box"></div>
</div>

<div id="informer"></div>

<div id="flow-alert" class="alert alert-error" style="display: none;"></div>

<div id="panels">
	<div class="panel">
		<div id="object-list">
			{{#if App.Controllers.Flows.length}}
				{{view App.Context.Views.FlowList}}
			{{else}}
				<div class="object-list-empty">
					No flows are currently deployed. <a href="#/upload">Upload flows</a> to deploy a jar.
				</div>
			{{/if}}
		</div>
	</div>
</div>