
<i {{action hide on="click"}} class="icon-remove-sign pull-right" /><h4>Inject a Value</h4>
<div class="well" style="border: 1px solid #EDEDED;border-radius:4px;padding:4px 5px;margin-bottom:6px;">
	{{#if App.Controllers.Flow.run}}
		Cannot inject into an historical flow.
	{{else}}
		{{view App.Views.Payload id="stream-inject" placeholder="Payload"}}
		<button class="btn btn-success" {{action "inject" on="click"}}>Inject</button>
	{{/if}}
</div>
<div style="border: 1px solid #EDEDED;border-radius:4px;">
	<table class="table table-condensed">
		<thead>
			<th>Input Stream</th>
			<th>Count</th>
			<th>&nbsp;</th>
		</thead>
		{{#each App.Controllers.Flow.current.flowStreams tagName="tbody"}}
			<td>{{name}}</td>
			<td>{{current.metrics}}</td>
			<td style="text-align: right;"><a href="#">Schema</a></td>
		{{/each}}
	</table>
</div>