
<div class="popup-container">
<div class="popup-close" {{action close on="click"}}>×</div>

<div class="popup-inject-wrapper">
	{{view C.Vw.Injector}}
	<button class="btn btn-success" {{action "inject" on="click"}}>Inject</button>
</div>

<div class="popup-icon-stream" />
<h1 class="popup-title">{{controller.current.name}}</h1>

<table class="table">
	<thead>
		<th>Health</th>
		<th style="width: 100px;text-align: center;">Storage</th>
		<th style="width: 100px;text-align: center;">Unconsumed</th>
		<th style="width: 295px;">Arrivals</th>
	</thead>
	<tbody>
		<tr>
			<td class="list-health-cell">
				<div class="list-health-box"></div>
			</td>
			<td class="app-list-count">{{current.storageLabel}}<br /><span>{{current.storageUnits}}</span></td>
			<td class="app-list-count">{{controller.current.unconsumed}}</td>
			<td>
				{{view C.Vw.Chart entity-type="Stream" width="262" mode="singular" metrics="stream.enqueue.stream//demo/{id}.count"}}
			</td>
		</tr>
	</tbody>
</table>

</div>