<div class="btn-group pull-right" style="margin-top: 2px;">
  	<button class="btn dropdown-toggle" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li><a {{action setTime on="click"}}>24 Hours</a></li>
		<li><a {{action setTime on="click"}}>1 Hour</a></li>
		<li><a {{action setTime on="click"}}>10 Minutes</a></li>
		<li><a {{action setTime on="click"}}>1 Minute</a></li>
	</ul>
	<button class="btn" style="width:120px;" disabled>{{C.__timeLabel}}</button>
</div>