<div class="pull-right" style="margin-top: 2px;position: relative; width: 150px;text-align: center;">
  <img style="display: none;margin-top: 2px;" src="/assets/img/start-all-load.gif" />
  <button class="btn dropdown-toggle" data-toggle="dropdown" style="width: 138px;padding-left:14px;float: right;">
{{C.__timeLabel}} <span class="caret"></span>
</button>
<ul class="dropdown-menu" style="text-align: left;">
<li><a {{action setTime on="click"}}>Last 1 Hour</a></li>
<li><a {{action setTime on="click"}}>Last 10 Minutes</a></li>
<li><a {{action setTime on="click"}}>Last 1 Minute</a></li>
</ul>
</div>