<div class="pull-right" style="margin-top: 2px;position: relative; width: 104px;">
  	<button class="btn dropdown-toggle" data-toggle="dropdown" style="padding-left:14px;float: right;">
		{{C.__timeLabel}} <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li><a {{action setTime on="click"}}>24 Hours</a></li>
		<li><a {{action setTime on="click"}}>1 Hour</a></li>
		<li><a {{action setTime on="click"}}>10 Minutes</a></li>
		<li><a {{action setTime on="click"}}>1 Minute</a></li>
	</ul>
</div>